flows/AA_CREATE_UPDATE_Action_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CL_Notify_Recipients_0</name>
        <label>Notify Recipients</label>
        <locationX>622</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_for_Decline_Or_Withdraw</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notifications.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Loan Withdrawn/Declined</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Loan Withdrawn/Declined</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adverse Action Review is in progress. Alert Loan Assistant via email to perform Due Diligence.</description>
        <name>Send_Email_to_Loan_Assistant</name>
        <label>Send Email to Loan Assistant</label>
        <locationX>1590</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.cm_Loan_Assistant__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AdverseAction_ReviewInProgress_EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AdverseAction_ReviewInProgress_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Adding recipients to the recipient list</description>
        <name>addRecipientList_0</name>
        <label>addRecipientList</label>
        <locationX>358</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loan_Assistant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelationshipManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Loan_Assistant</name>
        <label>Assigning Loan Assistant</label>
        <locationX>622</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loan_Assistant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Relationship_Manager</name>
        <label>Assigning Relationship Manager</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelationshipManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_counter_1_to_flow_variable</name>
        <label>Assignment of counter 1 to flow variable</label>
        <locationX>270</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>CountNumberOfLoanInPreBookingStage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_loan_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Withdraw_Loan_Counter_Flow_Variable</name>
        <label>Assignment of Withdraw Loan Counter Flow Variable</label>
        <locationX>1018</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>CountNumberOfLoanInPreBookingStage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Withdraw_loan_collection_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Decline_Or_Withdraw</name>
        <label>Check for Decline Or Withdraw</label>
        <locationX>754</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Decline</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Decline_Reason_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Decline_Reason_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Decline_Reason_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Decline_Reason_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HMDA_Date_Action_on_Loan</targetReference>
            </connector>
            <label>Check for Decline</label>
        </rules>
        <rules>
            <name>Check_for_Withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Withdraw_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HMDA_Date_Action_on_Loan_WITHDRAW</targetReference>
            </connector>
            <label>Check for Withdraw</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForRecipients</name>
        <label>checkForRecipients</label>
        <locationX>754</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_for_Decline_Or_Withdraw</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_Recipients_Existence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recipient_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Notify_Recipients_0</targetReference>
            </connector>
            <label>Checking for Recipients Existence</label>
        </rules>
    </decisions>
    <decisions>
        <name>CL_Is_New</name>
        <label>Is_New</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Review_Status_Changed_to_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_New_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifications</targetReference>
            </connector>
            <label>Checking New Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>LA_and_RM_Null_Check</name>
        <label>LA and RM Null Check</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>checkForRecipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Assistant_And_RM_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.cm_Loan_Assistant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRecipientList_0</targetReference>
            </connector>
            <label>Loan Assistant And RM Exists</label>
        </rules>
        <rules>
            <name>Loan_Assistant_Exists_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.cm_Loan_Assistant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Loan_Assistant</targetReference>
            </connector>
            <label>Loan Assistant Exists Only</label>
        </rules>
        <rules>
            <name>Relationship_Manager_Exists_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.cm_Loan_Assistant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Relationship_Manager</targetReference>
            </connector>
            <label>Relationship Manager Exists Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Workflow</name>
        <label>No Workflow</label>
        <locationX>1678</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Is_New</targetReference>
            </connector>
            <label>No Flow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if Review Status is changed to Review in Progress.</description>
        <name>Review_Status_Changed_to_Review</name>
        <label>Review Status Changed to Review</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_to_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Review_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Loan_Assistant</targetReference>
            </connector>
            <label>Changed to Review In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Counter_Flow_variable_0</name>
        <label>Validate Counter Flow variable</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Counter_Flow_variable_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumberOfLoanInPreBookingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PP_Stage</targetReference>
            </connector>
            <label>Check Counter Flow variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan_Record_Stage</name>
        <label>Validate Loan Record Stage</label>
        <locationX>402</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Loop_through_loan_collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Record_Stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decisioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_counter_1_to_flow_variable</targetReference>
            </connector>
            <label>Check Loan Record Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Withdraw_Loan_Counter_Varibale</name>
        <label>Validate Withdraw Loan Counter Varibale</label>
        <locationX>930</locationX>
        <locationY>2171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Withdraw_Loan_Counter_Variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumberOfLoanInPreBookingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PP_stage_for_Withdraw_Adverse_Action</targetReference>
            </connector>
            <label>Check Withdraw Loan Counter Variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Withdraw_Loan_Record_Stage</name>
        <label>Validate Withdraw Loan Record Stage</label>
        <locationX>1150</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Withdraw_loan_collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Record_Stage_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Withdraw_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Withdraw_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Withdraw_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Withdraw_loan_collection_variable.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decisioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Withdraw_Loan_Counter_Flow_Variable</targetReference>
            </connector>
            <label>Check Loan Record Stage</label>
        </rules>
    </decisions>
    <description>Flow to send custom notification in case of AA and update loan status and stage
2023.10.02 Remove Loan Stage and Status update. No longer needed due to ConfigValues
2023.10.05 - Add back setting HMDA Date Action Taken
2023.10.18 - Fix PP not updating when AA performed</description>
    <environments>Default</environments>
    <formulas>
        <description>Checking whether record is new or not</description>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Loan_Assistant</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.cm_Loan_Assistant__r.Id}</expression>
    </formulas>
    <formulas>
        <name>RelationshipManager</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__r.Id}</expression>
    </formulas>
    <interviewLabel>AA_CREATE_UPDATE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AA_CREATE_UPDATE_Action_RR_FLOW</label>
    <loops>
        <name>Loop_through_loan_collection_variable</name>
        <label>Loop through loan collection variable</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <collectionReference>LoanCollectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Loan_Record_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Counter_Flow_variable_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Withdraw_loan_collection_variable</name>
        <label>Loop through Withdraw loan collection variable</label>
        <locationX>930</locationX>
        <locationY>1679</locationY>
        <collectionReference>WithdrawLoanCollectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Withdraw_Loan_Record_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Withdraw_Loan_Counter_Varibale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_loans_associated_to_PP</name>
        <label>Get all loans associated to PP</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_loan_collection_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PP_Record_Associated_to_loan_on_which_Adverse_Action_has_been_performed.Id</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>LoanCollectionVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Package__c</queriedFields>
        <queriedFields>LLC_BI__Stage__c</queriedFields>
        <queriedFields>LLC_BI__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Withdraw_loans_associated_to_PP</name>
        <label>Get all Withdraw loans associated to PP</label>
        <locationX>930</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Withdraw_loan_collection_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>WithdrawLoanCollectionVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Stage__c</queriedFields>
        <queriedFields>LLC_BI__Status__c</queriedFields>
        <queriedFields>LLC_BI__Product_Package__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PP_Record_Associated_to_loan_on_which_Adverse_Action_has_been_performed</name>
        <label>Get PP Record Associated to loan on which Adverse Action has been performed</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_loans_associated_to_PP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PP_Record_Associated_to_loan_on_which_Withdraw_Adverse_Action_has_been_perfo</name>
        <label>Get PP Record Associated to loan on which Withdraw Adverse Action has been performed</label>
        <locationX>930</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Withdraw_loans_associated_to_PP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notifications</name>
        <label>Notifications</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LA_and_RM_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Loan_WithdrawnDeclined</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set HMDA Dat Action Taken on loan</description>
        <name>Set_HMDA_Date_Action_on_Loan</name>
        <label>Set HMDA Date Action on Loan - DECLINE</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_PP_Record_Associated_to_loan_on_which_Adverse_Action_has_been_performed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__HMDA_Date_Action_Taken__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set HMDA Date Action on Loan</description>
        <name>Set_HMDA_Date_Action_on_Loan_WITHDRAW</name>
        <label>Set HMDA Date Action on Loan - WITHDRAW</label>
        <locationX>930</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_PP_Record_Associated_to_loan_on_which_Withdraw_Adverse_Action_has_been_perfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__HMDA_Date_Action_Taken__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_Stage</name>
        <label>Update PP Stage</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Stage__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_stage_for_Withdraw_Adverse_Action</name>
        <label>Update PP stage for Withdraw Adverse Action</label>
        <locationX>798</locationX>
        <locationY>2279</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Stage__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <start>
        <locationX>1552</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Workflow</targetReference>
        </connector>
        <object>LLC_BI__Adverse_Action__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AdverseAction_ReviewInProgress_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello, {!$Organization.Name} Team Member,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Loan, {!$Record.LLC_BI__Loan__r.Name}, has an adverse action review in progress.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have not done so already, please begin performing due diligence of all documents needed to complete this adverse action.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can access the Loan details here: https://pcgatbankofmo.lightning.force.com/{!$Record.LLC_BI__Loan__r.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can access the Adverse Action details here: https://pcgatbankofmo.lightning.force.com/{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;nCino&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AdverseAction_ReviewInProgress_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*** Loan: {!$Record.LLC_BI__Loan__r.Name} has an Adverse Action Review in Progress ***</text>
    </textTemplates>
    <variables>
        <name>CountNumberOfLoanInPreBookingStage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoanCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Recipient_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WithdrawLoanCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
