flows/CASE_CREATE_UPDATE_FF_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_as_Maintenance</name>
        <label>Assign as Maintenance</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Maintenance_Servicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Assignee_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_as_Servicing</name>
        <label>Assign as Servicing</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Maintenance_Servicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servicing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Assignee_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_assignee</name>
        <label>Assign current assignee</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Current_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CF_Description_Field_Update</name>
        <label>CF_Description Field Update</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Treasury_Resolution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CF_Description_New_Field_Update</name>
        <label>CF_Description New Field Update</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Treasury_Resolution</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Treasury_Resolution</name>
        <label>Check Treasury Resolution</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Current_Assignee_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treasury_Resolution_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Treasury_Resolution_Maintenance</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Treasury_Resolution__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_as_Maintenance</targetReference>
            </connector>
            <label>Treasury Resolution = Maintenance</label>
        </rules>
        <rules>
            <name>Treasury_Resolution_Servicing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Treasury_Resolution_Servicing</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Treasury_Resolution__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_as_Servicing</targetReference>
            </connector>
            <label>Treasury Resolution = Servicing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Assignee_blank</name>
        <label>Current Assignee blank ?</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Assignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Current_Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRT_nCino_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_current_assignee</targetReference>
            </connector>
            <label>Blank Assignee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Case_New_record</name>
        <label>Validate Case New record</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Treasury_Resolution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Case_New_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CF_Description_New_Field_Update</targetReference>
            </connector>
            <label>Check Case New record</label>
        </rules>
        <rules>
            <name>Check_Update_Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CF_Description_Field_Update</targetReference>
            </connector>
            <label>Check Update Case Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IS_NEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CASE_CREATE_UPDATE_FF_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE_CREATE_UPDATE_FF_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Case_New_record</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
