flows/COL_CREATE_UPDATE_Action_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Adding the amount pledged to a variable</description>
        <name>Add_Cash_Pledged</name>
        <label>Add Cash Pledged</label>
        <locationX>1986</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>CASH_Pledged</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Collateral_Recs.LLC_BI__Amount_Pledged__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Possessory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Aircraft_Non_Titled</name>
        <label>Assign Aircraft Non-Titled</label>
        <locationX>1722</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loans.CF_Aircraft_NonTitled_Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collateral_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Because the only real estate collateral on loan is Residential (166 or 534), users area llowed to bypass HMDA/HCVRE Questionnaire. Still mark loan as having Real Estate, but also indicate Questionnaire can be bypassed</description>
        <name>Assign_Bypass_HMDA_HVCRE_Questionnaire</name>
        <label>Assign Bypass HMDA/HVCRE Questionnaire</label>
        <locationX>314</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>Loans.LLC_BI__Real_Estate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.CF_Bypass_HMDA_HVCRE_Questionnaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_loan_Fully_Cash_Secured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>On the Loan Record, indicate that Real Estate is used as Collateral on the Loan</description>
        <name>Assign_Loan_as_Real_Estate</name>
        <label>Assign Loan as Real Estate</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>Loans.LLC_BI__Real_Estate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_loan_Fully_Cash_Secured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Possessory</name>
        <label>Assign Possessory</label>
        <locationX>2272</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Loans.CF_Possessory_Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collateral_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Real_Estate_Recs</name>
        <label>Assign Real Estate Recs</label>
        <locationX>534</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Loans.LLC_BI__Real_Estate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collateral_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RegW_Recs</name>
        <label>Assign RegW Recs</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loans.CF_Reg_W_Reportable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collateral_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Titled_Recs</name>
        <label>Assign Titled Recs</label>
        <locationX>1458</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loans.CF_Titled_Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collateral_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>314</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>LoanRec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_Record_Collection_is_not_null_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UCC_Recs_0</name>
        <label>Assign UCC Recs</label>
        <locationX>1194</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loans.CF_UCC_Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Collateral_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the real estate is not residential, increase the count of Real Estate collateral on loan</description>
        <name>Increase_Count_of_Real_Estate</name>
        <label>Increase Count of Real Estate</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Count_RealEstate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Real_Estate_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the collateral is residential real estate add that to total number residential collateral records on the loan</description>
        <name>Increase_count_of_Residential_Real_Estate_Records</name>
        <label>Increase count of Residential Real Estate Records</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Count_ResidentialRealEstate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Real_Estate_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Fully Cash Secured flag on  the Loan and the Risk Rating to 1.</description>
        <name>Loan_Fully_cash_Secured</name>
        <label>Loan Fully cash Secured</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>Loans.CF_Loan_Fully_Cash_Secured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loans.LLC_BI__Risk_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Fully Cash Secured Flag on Loan to False</description>
        <name>Loan_Not_Fully_Cash_Secured</name>
        <label>Loan Not Fully Cash Secured</label>
        <locationX>446</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>Loans.CF_Loan_Fully_Cash_Secured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Loan_Stage</name>
        <label>Check For Loan Stage</label>
        <locationX>534</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_Loans_which_are_not_Booked_and_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Collateral_Records</targetReference>
            </connector>
            <label>Filter Loans which are not Booked and Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Record_Collection_is_not_null_0</name>
        <label>check if Record Collection is not null</label>
        <locationX>314</locationX>
        <locationY>2531</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Record_collection_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Rec_0</targetReference>
            </connector>
            <label>Check for Record collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collateral_Type_Check</name>
        <label>Collateral Type Check</label>
        <locationX>1568</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Collateral_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Residential_Real_Estate</targetReference>
            </connector>
            <label>Check Collateral Type</label>
        </rules>
        <rules>
            <name>Check_Possessory_Subtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Instruments/ Possessory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reliable Community Bancshares, Inc. Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RegW_Recs</targetReference>
            </connector>
            <label>Check Possessory Subtype</label>
        </rules>
        <rules>
            <name>If_Collateral_Type_is_UCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UCC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UCC_Recs_0</targetReference>
            </connector>
            <label>If Collateral Type is UCC</label>
        </rules>
        <rules>
            <name>If_Collateral_Type_is_Titled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Titled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Titled_Recs</targetReference>
            </connector>
            <label>If Collateral Type is Titled</label>
        </rules>
        <rules>
            <name>If_Collateral_Type_is_Aircraft_Non_Titled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aircraft/Non Titled Marine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Aircraft_Non_Titled</targetReference>
            </connector>
            <label>If Collateral Type is Aircraft Non Titled</label>
        </rules>
        <rules>
            <name>If_Collateral_Type_is_Financial_Instruments_Possessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Instruments/ Possessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_SubType_Cash</targetReference>
            </connector>
            <label>If Collateral Type is 	Financial Instruments/ Possessory</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on the number of Real Estate and Residential Real Estate records found, determine how to set fields so that loan is required or not required to answer HMDA/HCVRE questionnaire.</description>
        <name>Determine_Real_Estate_stats_for_HMDA_HCVRE_Questionnaire</name>
        <label>Determine Real Estate stats for HMDA HCVRE Questionnaire</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Is_loan_Fully_Cash_Secured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Real Estate</defaultConnectorLabel>
        <rules>
            <name>HMDA_HVCRE_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_RealEstate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_as_Real_Estate</targetReference>
            </connector>
            <label>HMDA/HVCRE Required</label>
        </rules>
        <rules>
            <name>Bypass_HMDA_HVCRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_RealEstate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count_ResidentialRealEstate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bypass_HMDA_HVCRE_Questionnaire</targetReference>
            </connector>
            <label>Bypass HMDA/HVCRE</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is to ensure we are looking at Pledges when the loan is in Pre Approval Stage, as this determines Approval Routing</description>
        <name>filter_preapproval_loans</name>
        <label>Filter Pre Approval Loans</label>
        <locationX>2118</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Assign_Possessory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreApproval_Loans</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Loan__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Cash_Pledged</targetReference>
            </connector>
            <label>PreApproval Loans</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the loan is fully Cash secured</description>
        <name>Is_loan_Fully_Cash_Secured</name>
        <label>Is loan Fully Cash Secured</label>
        <locationX>314</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Loan_Not_Fully_Cash_Secured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fully_cash_Secured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CASH_Pledged</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Fully_cash_Secured</targetReference>
            </connector>
            <label>Fully cash Secured</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if collateral type is 166 or 534</description>
        <name>IS_Residential_Real_Estate</name>
        <label>IS Residential Real Estate?</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Increase_Count_of_Real_Estate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Residential Real Estate</defaultConnectorLabel>
        <rules>
            <name>Residential_Real_Estate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Collateral_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>166</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Collateral_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>534</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_count_of_Residential_Real_Estate_Records</targetReference>
            </connector>
            <label>Residential Real Estate</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is to determine if the Pledged Collateral is Cash Sub Type</description>
        <name>Is_SubType_Cash</name>
        <label>Is SubType Cash</label>
        <locationX>2272</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Assign_Possessory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_Collateral_Type_cash</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checking/Money Market Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certificate of Deposit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Collateral_Recs.LLC_BI__Collateral__r.LLC_BI__Collateral_Type__r.LLC_BI__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Savings Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_preapproval_loans</targetReference>
            </connector>
            <label>Is the Collateral Type cash</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew_OR_IsUpdate</name>
        <label>IsNew OR IsUpdate?</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_For_Loan_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Is Updated?</defaultConnectorLabel>
        <rules>
            <name>Record_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Loan_Stage</targetReference>
            </connector>
            <label>Record Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Flow</name>
        <label>No Flow</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNew_OR_IsUpdate</targetReference>
            </connector>
            <label>No Workflow</label>
        </rules>
    </decisions>
    <description>Updates the CRE Loan Field if Record type is Real Estate
2023.10.25 - Add logic determine if Compliance Questionnaires need to be answered. TBOM HELP-00112</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>RealsEsateRecs</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.LLC_BI__Real_Estate__c}</expression>
    </formulas>
    <formulas>
        <name>Updated_Total_Curr_Balance</name>
        <dataType>Currency</dataType>
        <expression>IF(
{!$Record.LLC_BI__Loan__r.CF_Total_Current_Balance__c} = null,
{!Sum_Total_Current_Balance},
{!Sum_Total_Current_Balance} + {!$Record.LLC_BI__Loan__r.CF_Total_Current_Balance__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>AA_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COL_CREATE_UPDATE_Action_RR_FLOW</label>
    <loops>
        <name>Loop_Over_Collateral_Recs</name>
        <label>Loop Over Collateral Recs</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Collateral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collateral_Type_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Real_Estate_stats_for_HMDA_HCVRE_Questionnaire</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Collateral_Records</name>
        <label>Get Collateral Records</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Collateral_Recs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Collateral_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Rec_0</name>
        <label>Update Loan Rec</label>
        <locationX>182</locationX>
        <locationY>2639</locationY>
        <inputReference>LoanRec</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Flow</targetReference>
        </connector>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Sum the Pledge Amount for Cash Collateral</description>
        <name>CASH_Pledged</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The number of real estate collateral records on a loan, not including residential real estate</description>
        <name>Count_RealEstate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count_ResidentialRealEstate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_only_Loans_which_are_not_Booked_Complete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Dup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Duplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Loans</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>RealEstateRecs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sum_Total_Current_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
