flows/CON_Contact_CREATE_UPDATE_Action_RR_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_for_Loan_Portal_Stage_change</name>
        <label>Email for Loan Portal Stage change</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>Contact.Contact_Alert_Portal_Loan_Status_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Primary_Selected_or_Acc_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Contact_Alert_Portal_Loan_Status_Change</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_no_WF_Permission</name>
        <label>Check no WF Permission</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Portal_Loan_Stage_updated</targetReference>
            </connector>
            <label>Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Portal_Loan_Stage_updated</name>
        <label>Is Portal Loan Stage updated?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Primary_Selected_or_Acc_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Con_Loan_Portal_Status_Changed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Con_Loan_Portal_Status_Changed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_Loan_Portal_Stage_change</targetReference>
            </connector>
            <label>Stage_changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Contact_and_Contact_Details_Changed</name>
        <label>Is Primary Contact and Contact Details Changed</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fax</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Selected_or_Acc_Changed</name>
        <label>Primary Selected or Acc Changed?</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Contact_and_Contact_Details_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LLC_BI__Primary_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_primary_contact_on_account_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Primary_Deselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_primary_contact_on_account_0_0</targetReference>
            </connector>
            <label>Primary Deselected ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CON_Contact_CREATE_UPDATE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_Contact_CREATE_UPDATE_Action_RR_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Account_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>$Record.Fax</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_primary_contact_on_account_0</name>
        <label>Update primary contact on account</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Is_Primary_Contact_and_Contact_Details_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Account_Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_primary_contact_on_account_0_0</name>
        <label>Update primary contact on account</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Is_Primary_Contact_and_Contact_Details_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Account_Primary_Contact__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_no_WF_Permission</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LoanIDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
