flows/Copy_Loan_team_member_to_PP_on_creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Lookup_Appr_Reviewer</name>
        <label>Assign Lookup Appr Reviewer</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.CF_Appraiser_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_CA</name>
        <label>Assign Lookup CA</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.CF_Credit_Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_CO</name>
        <label>Assign Lookup CO</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.CF_Credit_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_LA</name>
        <label>Assign Lookup LA</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.cm_Loan_Assistant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Processor</name>
        <label>Assign Lookup Processor</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.LLC_BI__Processor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_RM</name>
        <label>Assign Lookup RM</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.LLC_BI__Loan_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Sec_RM</name>
        <label>Assign Lookup Sec RM</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.Secondary_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_Treasury</name>
        <label>Assign Lookup Treasury</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Query_Parent_Loan.CF_Treasury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lookup_Appr_Reviewer</name>
        <label>Assign Lookup Appr Reviewer</label>
        <locationX>3922</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.CF_Appraiser_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lookup_CA</name>
        <label>Assign Lookup CA</label>
        <locationX>2866</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.CF_Credit_Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lookup_CO</name>
        <label>Assign Lookup CO</label>
        <locationX>2338</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.CF_Credit_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lookup_Processor</name>
        <label>Assign Lookup Processor</label>
        <locationX>3394</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.LLC_BI__Processor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lookup_RM</name>
        <label>Assign Lookup RM</label>
        <locationX>3658</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.LLC_BI__Loan_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lookup_Sec_RM</name>
        <label>Assign Lookup Sec RM</label>
        <locationX>4186</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.Secondary_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lookup_Treasury</name>
        <label>Assign Lookup Treasury</label>
        <locationX>2602</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.CF_Treasury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Lookup_LA</name>
        <label>Assign Lookup LA</label>
        <locationX>3130</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Copy_of_Query_Parent_Loan.cm_Loan_Assistant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Assigned_Role</name>
        <label>Check for Assigned Role</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Loan_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Role_is_Credit_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_CO</targetReference>
            </connector>
            <label>If User Role is Credit Officer</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Treasury</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_Treasury</targetReference>
            </connector>
            <label>If User Role is Treasury</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Loan_Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_LA</targetReference>
            </connector>
            <label>If User Role is Loan Assistant</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Credit_Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_CA</targetReference>
            </connector>
            <label>If User Role is Credit Analyst</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Processor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_Processor</targetReference>
            </connector>
            <label>If User Role is Processor</label>
        </rules>
        <rules>
            <name>If_User_Role_is_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_RM</targetReference>
            </connector>
            <label>If User Role is RM</label>
        </rules>
        <rules>
            <name>If_user_role_is_Appraiser_reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appraiser Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_Appr_Reviewer</targetReference>
            </connector>
            <label>If user role is Appraiser reviewer</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Secondary_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lookup_Sec_RM</targetReference>
            </connector>
            <label>If User Role is Secondary RM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Assigned_Role_to_the_Users_in_LTM</name>
        <label>Checking Assigned Role to the Users in LTM</label>
        <locationX>3394</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Parent_Loan_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Role_is_Credit_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lookup_CO</targetReference>
            </connector>
            <label>If Role is Credit Officer</label>
        </rules>
        <rules>
            <name>If_Role_is_Treasury</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lookup_Treasury</targetReference>
            </connector>
            <label>If Role is Treasury</label>
        </rules>
        <rules>
            <name>If_Role_is_Credit_Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lookup_CA</targetReference>
            </connector>
            <label>If Role is Credit Analyst</label>
        </rules>
        <rules>
            <name>If_Role_is_Loan_Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Lookup_LA</targetReference>
            </connector>
            <label>If Role is Loan Assistant</label>
        </rules>
        <rules>
            <name>If_Role_is_Loan_Processor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lookup_Processor</targetReference>
            </connector>
            <label>If Role is Loan Processor</label>
        </rules>
        <rules>
            <name>If_Role_is_Relationship_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lookup_RM</targetReference>
            </connector>
            <label>If Role is Relationship Manager</label>
        </rules>
        <rules>
            <name>Checking_Appraiser_reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appraiser Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lookup_Appr_Reviewer</targetReference>
            </connector>
            <label>Checking Appraiser reviewer</label>
        </rules>
        <rules>
            <name>If_Role_is_Secondary_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lookup_Sec_RM</targetReference>
            </connector>
            <label>If Role is Secondary RM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_record_already_exist_on_PP</name>
        <label>Does record already exist on PP</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_PP_team_members.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_product_package_team_member_record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoFlow_User</name>
        <label>NoFlow User?</label>
        <locationX>3878</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Flow_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_New_LTM_Record</targetReference>
            </connector>
            <label>No_Flow_False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_New_LTM_Record</name>
        <label>Validate New LTM Record</label>
        <locationX>2866</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_New_LTM_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsnewRec</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Created_by_Loan_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Parent_Loan</targetReference>
            </connector>
            <label>Check New LTM Record</label>
        </rules>
        <rules>
            <name>Check_for_Existing_and_new_LTM_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsnewRec</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_of_Query_Parent_Loan</targetReference>
            </connector>
            <label>Check for Existing and new LTM Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsnewRec</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Copy Loan team member to PP on creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Loan team member to PP on creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_product_package_team_member_record</name>
        <label>Create a product package team member record</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>LLC_BI__Assigned_Role__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Assigned_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product_Package__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__User__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_of_Query_Parent_Loan</name>
        <label>Query Parent Loan</label>
        <locationX>3394</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Assigned_Role_to_the_Users_in_LTM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Parent_Loan</name>
        <label>Query Parent Loan</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Assigned_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query Product Package to find if the record already exists</description>
        <name>Query_PP_team_members</name>
        <label>Query PP team members</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_record_already_exist_on_PP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Assigned_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Assigned_Role__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Parent_Loan_record</name>
        <label>Update Parent Loan record</label>
        <locationX>3394</locationX>
        <locationY>947</locationY>
        <inputReference>Copy_of_Query_Parent_Loan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Loan_record</name>
        <label>Update Parent Loan record</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Query_PP_team_members</targetReference>
        </connector>
        <inputReference>Query_Parent_Loan</inputReference>
    </recordUpdates>
    <start>
        <locationX>3752</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NoFlow_User</targetReference>
        </connector>
        <object>LLC_BI__LoanTeam__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
