flows/COV_CREATE_UPDATE_Action_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Related_Entity_or_Other_Covenant_Info_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notifications.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Covenant Is Out Of Compliance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Covenant Is Out Of Compliance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Default_Covenant_Missing_Information_to_False</name>
        <label>Default Covenant Missing Information to False</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Loan_to_update.CF_Covenant_Missing_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Covenant_Record_for_Covenant_Mgmt_record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Covenant_Mgmt_record_for_loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Recipient</name>
        <label>Get Recipient</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_loan_record_to_update</name>
        <label>Mark loan record to update</label>
        <locationX>138</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Loan_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_to_update.CF_Covenant_Missing_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Covenant_Mgmt_record_for_loan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_more_covenants_need_updating</name>
        <label>Do more covenants need updating?</label>
        <locationX>270</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Loop_through_each_Covenant_Mgmt_record_for_loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Covenant_needs_more_information</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (9 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Financial Statement - Related Entity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Tax Return - Related Entity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual Tax Return - Related Entity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other - Collateral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other - Financial Indicator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other - Financial Statement Requirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.LLC_BI__Covenant_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Financial Statement - Related Entity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.CF_Related_Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Covenant_Mgmt_record_for_loan.LLC_BI__Covenant2__r.CF_Other_Covenant_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_loan_record_to_update</targetReference>
            </connector>
            <label>Covenant needs more information</label>
        </rules>
    </decisions>
    <decisions>
        <description>Not a new record</description>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_Covenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Evaluation_Status_Check</targetReference>
            </connector>
            <label>Updated Covenant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Evaluation_Status_Check</name>
        <label>Last Evaluation Status Check</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Related_Entity_or_Other_Covenant_Info_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Evaluation_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Last_Evaluation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recipient</targetReference>
            </connector>
            <label>Last Evaluation Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Flow</name>
        <label>No Flow</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>No Workflow</label>
        </rules>
    </decisions>
    <decisions>
        <description>determine if covenant management record was updated to have related entity or other covenant info added</description>
        <name>Related_Entity_or_Other_Covenant_Info_added</name>
        <label>Related Entity or Other Covenant Info added</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Entity_Other_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Related_Entity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Other_Covenant_Details__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Covenant_Record_for_Covenant_Mgmt_record</targetReference>
            </connector>
            <label>Related Entity / Other updated</label>
        </rules>
    </decisions>
    <description>When the covenant&apos;s Last Evaluation Status Is updated to Exception, then covenant owner receives the notification
When a covenant type is for a related entity or &apos;Other&apos;, flag loan that additional information needed.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>COV_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COV_CREATE_UPDATE_Action_RR_FLOW</label>
    <loops>
        <name>Loop_through_each_Covenant_Mgmt_record_for_loan</name>
        <label>Loop through each Covenant Mgmt record for loan</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_All_Loan_Covenant_Records_for_Loan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_more_covenants_need_updating</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Loan_Covenant_Records_for_Loan</name>
        <label>Get All Loan Covenant Records for Loan</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Covenant_Missing_Information_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Covenant_Record_for_Covenant_Mgmt_record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Covenant__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Covenant2__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Covenant_Record_for_Covenant_Mgmt_record</name>
        <label>Get Loan Covenant Record for Covenant Mgmt record</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Loan_Covenant_Records_for_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Covenant2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan_Covenant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notifications</name>
        <label>Notifications</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Covenant_Out_Of_Compliance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <inputReference>Loan_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Flow</targetReference>
        </connector>
        <object>LLC_BI__Covenant2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Loan_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
