flows/DOCP_DocumentPlaceholder_Create_Update_FF_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Portal_Doc_Name</name>
        <label>Update Portal Doc Name</label>
        <locationX>473</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Portal_Doc_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePlaceholderName_Year</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Portal_Name</name>
        <label>Update Portal Name</label>
        <locationX>464</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Portal_Doc_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedPortalName_Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Portal_Options_check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>[Story-1400]</description>
        <name>Portal_Options_check</name>
        <label>Portal Options check</label>
        <locationX>582</locationX>
        <locationY>739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Portal_Name_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Portal_Doc_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Portal_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Portal_Doc_Name</targetReference>
            </connector>
            <label>Portal Name = NULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>[story-1400]</description>
        <name>Record_Check</name>
        <label>Record Check</label>
        <locationX>575</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>Portal_Options_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Portal_Enabled_true_with_Year</name>
            <conditionLogic>(1 AND 2 AND 3 AND 9) OR (4 AND 5 AND 9) OR (6 AND 7 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Portal_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Year__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Portal_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Portal_Enabled__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Portal_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Portal_Doc_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Portal_Name</targetReference>
            </connector>
            <label>Portal Enabled = true with Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>576</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Check</targetReference>
            </connector>
            <label>No Workflow</label>
        </rules>
    </decisions>
    <description>Document Placeholder object&apos;s before update flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>UpdatedPortalName_Year</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Portal_Doc_Name__c}+&apos; &apos;+{!$Record.LLC_BI__Year__c}</expression>
    </formulas>
    <formulas>
        <name>UpdatePlaceholderName_Year</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&apos; &apos;+{!$Record.LLC_BI__Year__c}</expression>
    </formulas>
    <interviewLabel>Document Placeholder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DOCP_DocumentPlaceholder_Create_Update_FF_FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Check</targetReference>
        </connector>
        <object>LLC_BI__Document_Placeholder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
