flows/Document_Placeholder_AFTER_Update_Create_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Document_Id</name>
        <label>Assign Document Id</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loan_Doc_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_thro_Loan_Document_Placeholder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Doc_Var.LLC_BI__Document_Store_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Document_Store_Index__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Doc_Var.LLC_BI__attachmentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NDOC__Attachment_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Doc_Var.LLC_BI__reviewStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-File</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Doc_Var.LLC_BI__comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NDOC__Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loan_Doc_Collection_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loan_Doc_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Loan_Document_Placeholder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_IDs</name>
        <label>Assign Loan IDs</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loans_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_thro_Loans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Review_Status_Check</name>
        <label>Review Status Check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_In_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-File</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CREDIT MEMO - LN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__External_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loans</targetReference>
            </connector>
            <label>Status = In-File</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Document Placeholder AFTER Update/Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Placeholder AFTER Update/Create Flow</label>
    <loops>
        <name>Iterate_thro_Loan_Document_Placeholder</name>
        <label>Iterate thro Loan Document Placeholder</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Loan_Document_Placeholder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_thro_Loans</name>
        <label>Iterate thro Loans</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loan_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Loan_Document_Placeholder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Document_Placeholder</name>
        <label>Get Loan Document Placeholder</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_thro_Loan_Document_Placeholder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Loans_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CREDIT MEMO - LN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__LLC_LoanDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loans</name>
        <label>Get Loans</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Documents</name>
        <label>Update Loan Documents</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>Loan_Doc_Collection_Var</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Review_Status_Check</targetReference>
        </connector>
        <object>LLC_BI__Document_Placeholder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Loan_Doc_Collection_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__LLC_LoanDocument__c</objectType>
    </variables>
    <variables>
        <name>Loan_Doc_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__LLC_LoanDocument__c</objectType>
    </variables>
    <variables>
        <name>Loans_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
