flows/eTran_From_Loan_Document_upload.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>documentUploadPLP</name>
        <label>documentUploadPLP</label>
        <locationX>577</locationX>
        <locationY>509</locationY>
        <actionName>WS_etranDocumentUploadHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appId</name>
            <value>
                <elementReference>Get_Loan.LLC_BI__Application__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>LoanNmb</stringValue>
            </value>
        </inputParameters>
        <nameSegment>WS_etranDocumentUploadHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DocUpload</name>
        <label>DocUpload</label>
        <locationX>662</locationX>
        <locationY>227</locationY>
        <actionName>WS_etranDocumentUploadHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appId</name>
            <value>
                <elementReference>Get_Loan.LLC_BI__Application__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>LoanApp</stringValue>
            </value>
        </inputParameters>
        <nameSegment>WS_etranDocumentUploadHelper</nameSegment>
        <outputParameters>
            <assignToReference>errors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>isValidUser_Loan</name>
        <label>isValidUser&amp;Loan</label>
        <locationX>562</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noCreds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCreds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>noCreds</label>
        </rules>
        <rules>
            <name>No_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoApplication</targetReference>
            </connector>
            <label>No Application</label>
        </rules>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application.nSBA__SBA_Loan_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application.nSBA__SBA_Underwriting_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>documentUploadPLP</targetReference>
            </connector>
            <label>isPLPAndValid</label>
        </rules>
        <rules>
            <name>is7AG_and_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application.nSBA__Application_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application.nSBA__SBA_Underwriting_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocUpload</targetReference>
            </connector>
            <label>is7AG and valid</label>
        </rules>
    </decisions>
    <interviewLabel>eTran From Loan Document upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>eTran From Loan Document upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>369</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCreds</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan.LLC_BI__Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>183</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCreds</name>
        <label>getCreds</label>
        <locationX>164</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValidUser_Loan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_SFUsername__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EtranCredential__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>680</locationX>
        <locationY>80</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Error: Please select Reset Pin to configure credentials before proceeding further.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_Screen</name>
        <label>error</label>
        <locationX>233</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AGError</name>
            <fieldText>&lt;p&gt;Error : Facility should be SBA 7(a) and Application number should be generated before uploading document.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Application.nSBA__SBA_Underwriting_Required__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PLPError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Error : Facility should be SBA 7(a) and SBA Loan number should be generated before uploading document.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Application.nSBA__SBA_Underwriting_Required__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>835</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scucues</name>
            <fieldText>&lt;p&gt;The document upload has started. Please check the document manager status.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errors</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;{!errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errors</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>449</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoApplication</name>
        <label>No Application</label>
        <locationX>581</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorNoApplication</name>
            <fieldText>&lt;p&gt;Error: No Application record is associated with loan.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>synopsis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
