flows/eTran_From_Loan_GeneratePIN.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>eTran_Authentication</name>
        <label>eTran Authentication</label>
        <locationX>565</locationX>
        <locationY>630</locationY>
        <actionName>WS_eTranTwofactorAuth</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>appId</name>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>Generate_PIN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <elementReference>in_Password</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>in_UserNAme</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WS_eTranTwofactorAuth</nameSegment>
        <outputParameters>
            <assignToReference>errors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>synopsis</assignToReference>
            <name>synopsis</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignNoCred</name>
        <label>assignNoCred</label>
        <locationX>520</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>in_UserNAme</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Etran_UserName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>in_Password</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Etran_Password</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eTran_Authentication</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasCredData1</name>
        <label>hasCred</label>
        <locationX>870</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>createCred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>existingCredData</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCredentialRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_EtranCred</targetReference>
            </connector>
            <label>existingCredData</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>702</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Pin_Auth_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Pin</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValidUser_Loan</name>
        <label>isValidUser&amp;Loan</label>
        <locationX>205</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCredentialRecords</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CLOS Phase 2 Release 1 - This flow is to complete the 2 factor authentication</description>
    <interviewLabel>eTran From Loan GeneratePIN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>eTran From Loan GeneratePIN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCred</name>
        <label>createCred</label>
        <locationX>883</locationX>
        <locationY>261</locationY>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TECH_CLSPassword__c</field>
            <value>
                <elementReference>Etran_Password</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_CLSPin__c</field>
            <value>
                <elementReference>PIN_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_CLSUsername__c</field>
            <value>
                <elementReference>Etran_UserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SFUsername__c</field>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
        <object>EtranCredential__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>71</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValidUser_Loan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCredentialRecords</name>
        <label>getCredentialRecords</label>
        <locationX>383</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Credentials</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_SFUsername__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EtranCredential__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_EtranCred</name>
        <label>update EtranCred</label>
        <locationX>994</locationX>
        <locationY>210</locationY>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_SFUsername__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_CLSPassword__c</field>
            <value>
                <elementReference>in_Password</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_CLSPin__c</field>
            <value>
                <elementReference>PIN_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_CLSUsername__c</field>
            <value>
                <elementReference>in_UserNAme</elementReference>
            </value>
        </inputAssignments>
        <object>EtranCredential__c</object>
    </recordUpdates>
    <screens>
        <name>Enter_Credentials</name>
        <label>Enter Credentials</label>
        <locationX>383</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignNoCred</targetReference>
        </connector>
        <fields>
            <name>Etran_UserName</name>
            <dataType>String</dataType>
            <fieldText>Etran UserName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Etran_Password</name>
            <fieldText>Etran Password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Pin</name>
        <label>Enter Pin</label>
        <locationX>713</locationX>
        <locationY>96</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>hasCredData1</targetReference>
        </connector>
        <fields>
            <name>PIN_1</name>
            <dataType>String</dataType>
            <fieldText>PIN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_Screen</name>
        <label>error</label>
        <locationX>73</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Error : Facility should be SBA 7(a).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>372</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pin_Auth_Fail</name>
        <label>Pin Auth Fail</label>
        <locationX>855</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorPin</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error :&lt;/b&gt; {!errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>16</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_Password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>in_UserNAme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>synopsis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
