flows/Etran_MasterFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TwofactorAuth</name>
        <label>2factorAuth</label>
        <locationX>2954</locationX>
        <locationY>1118</locationY>
        <actionName>WS_eTranTwofactorAuth</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsSucess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>Generate_PIN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <elementReference>GetNewlyCreatedEtranRecord.TECH_CLSPassword__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>GetNewlyCreatedEtranRecord.TECH_CLSUsername__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WS_eTranTwofactorAuth</nameSegment>
        <outputParameters>
            <assignToReference>errors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>synopsis</assignToReference>
            <name>synopsis</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>CancelApplication</name>
        <choiceText>Withdraw Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CancelApplication</stringValue>
        </value>
    </choices>
    <choices>
        <name>CancelLoanRequest</name>
        <choiceText>Cancel Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CancelLoanRequest</stringValue>
        </value>
    </choices>
    <choices>
        <name>GetApplicationNumber</name>
        <choiceText>Get Application Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GetApplicationNumber</stringValue>
        </value>
    </choices>
    <choices>
        <name>GetLoanNumber</name>
        <choiceText>Get Loan Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Get Loan Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>GetLoanNumberDuplicate</name>
        <choiceText>Get Loan Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GetLoanNumber</stringValue>
        </value>
    </choices>
    <choices>
        <name>GetLoanStatus</name>
        <choiceText>Get Loan Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GetLoanStatus</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ResetPin</name>
        <choiceText>Reset Pin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reset Pin</stringValue>
        </value>
    </choices>
    <choices>
        <name>RunStatusBatch</name>
        <choiceText>Run Status Batch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RunStatusBatch</stringValue>
        </value>
    </choices>
    <choices>
        <name>UploadDocument</name>
        <choiceText>Upload Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_selection</name>
        <label>check selection</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isApplicationCallout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBA_Functions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetApplicationNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Callout</targetReference>
            </connector>
            <label>isApplicationCallout</label>
        </rules>
        <rules>
            <name>isSBANumberCallout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBA_Functions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetLoanNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SBA_Number_Callout</targetReference>
            </connector>
            <label>isSBANumberCallout</label>
        </rules>
        <rules>
            <name>isResetPin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBA_Functions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResetPin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetPinCallout</targetReference>
            </connector>
            <label>isResetPin</label>
        </rules>
        <rules>
            <name>isDocumentUpload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBA_Functions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UploadDocument</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentUploadCallout</targetReference>
            </connector>
            <label>isDocumentUpload</label>
        </rules>
        <rules>
            <name>isCancelLoan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBA_Functions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelLoanRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Cancel</targetReference>
            </connector>
            <label>isCancelLoan</label>
        </rules>
        <rules>
            <name>isRunStatusBatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBA_Functions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RunStatusBatch</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BatchToGetLoanNumber</targetReference>
            </connector>
            <label>isRunStatusBatch</label>
        </rules>
        <rules>
            <name>isCancelApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBA_Functions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelApplication</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Withdraw</targetReference>
            </connector>
            <label>isCancelApplication</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_has_permission</name>
        <label>Is User has permission?</label>
        <locationX>3663</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eTranAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEtranCreds</targetReference>
            </connector>
            <label>Yes ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSucess</name>
        <label>IsSucess</label>
        <locationX>2954</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>PinAuthFail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Pin_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValidLoan</name>
        <label>isValidLoan</label>
        <locationX>1568</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSBALoan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoan.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etran_Screen</targetReference>
            </connector>
            <label>isSBALoan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Pin</name>
        <label>Reset Pin?</label>
        <locationX>3482</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SelectedChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_reset_the_Pin_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNewlyCreatedEtranRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>user_Record_Exist</name>
        <label>user Record Exist ?</label>
        <locationX>2525</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEtranCreds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLoan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to route the etran callouts.</description>
    <formulas>
        <name>eTranAccess</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.eTran_Access}</expression>
    </formulas>
    <interviewLabel>Etran MasterFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Etran MasterFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateEtranRecord</name>
        <label>CreateEtranRecord</label>
        <locationX>3482</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>newlyCreatedEtranRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen3_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TECH_CLSPassword__c</field>
            <value>
                <elementReference>CLS_Password</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_CLSUsername__c</field>
            <value>
                <elementReference>CLS_Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SFUsername__c</field>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
        <object>EtranCredential__c</object>
    </recordCreates>
    <recordLookups>
        <name>getEtranCreds</name>
        <label>getEtranCredRecord</label>
        <locationX>2525</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>user_Record_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_SFUsername__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EtranCredential__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLoan</name>
        <label>getLoan</label>
        <locationX>1568</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValidLoan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewlyCreatedEtranRecord</name>
        <label>GetNewlyCreatedEtranRecord</label>
        <locationX>2954</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TwofactorAuth</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newlyCreatedEtranRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EtranCredential__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Etran_Creds_Record</name>
        <label>Update Etran Creds Record</label>
        <locationX>2690</locationX>
        <locationY>1478</locationY>
        <faultConnector>
            <targetReference>Fault_Screen_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newlyCreatedEtranRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_CLSPin__c</field>
            <value>
                <elementReference>Pin</elementReference>
            </value>
        </inputAssignments>
        <object>EtranCredential__c</object>
    </recordUpdates>
    <screens>
        <name>Enter_Pin_Screen</name>
        <label>Enter Pin Screen</label>
        <locationX>2690</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Etran_Creds_Record</targetReference>
        </connector>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;Please check your mailbox for the 6 digit pin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pin</name>
            <dataType>String</dataType>
            <fieldText>Pin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Error : Facility should be SBA.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Etran_Screen</name>
        <label>Etran Screen</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_selection</targetReference>
        </connector>
        <fields>
            <name>WelcomeScreen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;What would you like to do today?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SBA_Functions</name>
            <choiceReferences>ResetPin</choiceReferences>
            <choiceReferences>GetApplicationNumber</choiceReferences>
            <choiceReferences>CancelApplication</choiceReferences>
            <choiceReferences>GetLoanNumber</choiceReferences>
            <choiceReferences>CancelLoanRequest</choiceReferences>
            <choiceReferences>UploadDocument</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SBA Functions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>3482</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreen</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0</name>
        <label>Fault Screen</label>
        <locationX>3746</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreen_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0</name>
        <label>Fault Screen</label>
        <locationX>4274</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreen_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0_0</name>
        <label>Fault Screen</label>
        <locationX>4538</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreen_0_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0_0_0</name>
        <label>Fault Screen</label>
        <locationX>2426</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultScreen_0_0_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0_0_0_0</name>
        <label>Fault Screen</label>
        <locationX>2954</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreen_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PinAuthFail</name>
        <label>PinAuthFail</label>
        <locationX>3218</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;b&gt; Error : &lt;/b&gt;{!errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>4802</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Please contact System Administrator for the SBA eTran access.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>3482</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateEtranRecord</targetReference>
        </connector>
        <fields>
            <name>Display3</name>
            <fieldText>&lt;p&gt;Please fill up the login details to create a new user record for SBA eTran Access.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CLS_Username</name>
            <dataType>String</dataType>
            <fieldText>CLS Username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CLS_Password</name>
            <dataType>String</dataType>
            <fieldText>CLS Password</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3_0</name>
        <label>Screen3</label>
        <locationX>3482</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Pin</targetReference>
        </connector>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(3, 95, 9);&quot;&gt;Your user record was created successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_reset_the_Pin_0</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to reset the Pin ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3537</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_has_permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Callout</name>
        <label>Application Callout</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <flowName>WS_eTran_From_Loan_OrigScore</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Application_Withdraw</name>
        <label>Application Withdraw</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <flowName>eTran_Application_Withdraw</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>BatchToGetLoanNumber</name>
        <label>BatchToGetLoanNumber</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <flowName>eTran_Get_Batch_Loan_Number</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DocumentUploadCallout</name>
        <label>DocumentUploadCallout</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <flowName>eTran_From_Loan_Document_upload</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_SBA_Number_Callout</name>
        <label>Get SBA Number Callout</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <flowName>WS_eTran_From_Loan_OrigUpdate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Loan_Cancel</name>
        <label>Loan Cancel</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <flowName>eTran_From_Loan_Cancel</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ResetPinCallout</name>
        <label>ResetPinCallout</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <flowName>eTran_From_Loan_GeneratePIN</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newlyCreatedEtranRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>synopsis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
