flows/eTran_Application_Withdraw.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Etran_Application_Withdrawn</name>
        <label>Etran Application Withdrawn</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <actionName>WS_eTranApplicationWithdraw</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>erros</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appId</name>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WS_eTranApplicationWithdraw</nameSegment>
        <outputParameters>
            <assignToReference>errors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>StatusCode</assignToReference>
            <name>LoanApplicationStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApplicationNumber</assignToReference>
            <name>applicationNumber</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Status_Code</name>
        <label>Check Status Code</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>info_screen_4_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_WD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Record</targetReference>
            </connector>
            <label>if WD ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Status_and_Application_Number</name>
        <label>Check the Status and Application Number</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Etran_Application_Withdrawn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Loan_Number_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.nSBA__SBA_Loan_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_Screen_3</targetReference>
            </connector>
            <label>is Loan Number Generated</label>
        </rules>
        <rules>
            <name>is_Application_Number_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.nSBA__Application_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_Screen_1</targetReference>
            </connector>
            <label>is Application Number Generated</label>
        </rules>
        <rules>
            <name>is_App_Num_Generated_and_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.nSBA__Application_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application.CF_App_SBA_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_Screen_2</targetReference>
            </connector>
            <label>is App Num Generated and status</label>
        </rules>
    </decisions>
    <decisions>
        <name>erros</name>
        <label>erros ?</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Check_Status_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errors</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>info_screen_4</targetReference>
            </connector>
            <label>is Yes?</label>
        </rules>
    </decisions>
    <interviewLabel>eTran Application Withdraw {!$Flow.CurrentDateTime}</interviewLabel>
    <label>eTran Application Withdraw</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Status_and_Application_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Record.LLC_BI__Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Record</name>
        <label>Get Loan Record</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Record</name>
        <label>Update Application Record</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>info_screen_5</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_App_SBA_Status__c</field>
            <value>
                <elementReference>StatusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nSBA__Application_Number__c</field>
        </inputAssignments>
        <object>LLC_BI__Application__c</object>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FalutMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0</name>
        <label>Fault Screen</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FalutMessage_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0</name>
        <label>Fault Screen</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FalutMessage_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_Screen_1</name>
        <label>Info Screen 1</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;The application number is not generated to cancel the application. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_Screen_2</name>
        <label>Info Screen 2</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message2</name>
            <fieldText>&lt;p&gt;The application is already canceled and the status is withdrawn (WD) for the application number &lt;b&gt;{!Get_Application.nSBA__Application_Number__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_Screen_3</name>
        <label>Info Screen 3</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Meesage3</name>
            <fieldText>&lt;p&gt;The &lt;b&gt;application already has the loan number&lt;/b&gt; associated with it so you will not be able to perform this action. Please use the &lt;b&gt;cancel loan option&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>info_screen_4</name>
        <label>info screen 4</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The following errors occured,&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>info_screen_4_0</name>
        <label>info screen 4</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message4_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The following errors occured,&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>info_screen_5</name>
        <label>info screen 5</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message5</name>
            <fieldText>&lt;p&gt;The application &lt;b&gt;{!Get_Application.nSBA__Application_Number__c} &lt;/b&gt;has been withdrawn successfully. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
