flows/LDC_LoanDocument_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Contact_Alert_When_User_Not_Uploaded_Document_3days_Of_Request</description>
        <name>Contact_Alert_When_User_Not_Uploaded_Document_3days_Of_Request</name>
        <label>Contact_Alert_When_User_Not_Uploaded_Document_3days_Of_Request</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>Contact.Contact_Alert_When_User_Not_Uploaded_Document_3days_Of_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Updating_loan_s_upload_reminder_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Getting_Primary_contact_records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Contact_Alert_When_User_Not_Uploaded_Document_3days_Of_Request</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Checking user has flow permission</description>
        <name>Checking_user_has_flow_permission</name>
        <label>Checking user has flow permission</label>
        <locationX>611</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_whether_placeholder_has_file_or_not</targetReference>
            </connector>
            <label>Checking no flow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking whether placeholder has file or not</description>
        <name>Checking_whether_placeholder_has_file_or_not</name>
        <label>Checking whether placeholder has file or not</label>
        <locationX>380</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_has_file</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Has_File__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Account__r.CF_Account_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Account__r.CF_Account_Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.CF_Upload_reminder_sent_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Todaydate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_primary_contact_record_0</targetReference>
            </connector>
            <label>Checking has file</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking whether users and contacts are not null</description>
        <name>Checking_whether_users_and_contacts_are_not_null</name>
        <label>Checking whether users and contacts are not null</label>
        <locationX>182</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_users_and_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_user_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Alert_When_User_Not_Uploaded_Document_3days_Of_Request</targetReference>
            </connector>
            <label>Checking users and contacts</label>
        </rules>
    </decisions>
    <description>It has all the customizations related to loan document</description>
    <formulas>
        <description>Checking is new</description>
        <name>Checkingisnew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Todaydate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>LDC_LoanDocument_CREATE_UPDATE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LDC_LoanDocument_CREATE_UPDATE_Action_RR_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Getting Primary contact records</description>
        <name>Getting_Primary_contact_records</name>
        <label>Getting Primary contact records</label>
        <locationX>182</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_user_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Account__r.CF_Account_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting user records who is having primary contact email.</description>
        <name>Getting_user_records</name>
        <label>Getting user records</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_whether_users_and_contacts_are_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Primary_contact_records.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Primary_contact_records.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Primary_contact_records.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Primary_contact_records.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_loan_s_upload_reminder_date</name>
        <label>Updating loan&apos;s upload reminder date</label>
        <locationX>50</locationX>
        <locationY>1128</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Upload_reminder_sent_date__c</field>
            <value>
                <elementReference>Todaydate</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating primary contact record with the placeholder loan id in loan field.</description>
        <name>Updating_primary_contact_record_0</name>
        <label>Updating primary contact record</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Getting_Primary_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Account__r.CF_Account_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_DocPlaceholder_Related_Loan__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Portal_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Has_File__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__LLC_LoanDocument__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_after_3_days_of_request</name>
            <connector>
                <targetReference>Checking_user_has_flow_permission</targetReference>
            </connector>
            <label>Run after 3 days of request</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
