flows/LE_EntityInvolvement_CREATE_UPDATE_FF_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Name</name>
        <label>Name</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Borrower_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEntity</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_IsNew</name>
        <label>Record IsNew</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Execute_check</name>
        <label>User Execute check</label>
        <locationX>545</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoWorkflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_IsNew</targetReference>
            </connector>
            <label>NoWorkflow</label>
        </rules>
    </decisions>
    <formulas>
        <name>EntityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Account__r.Name} + &apos;-&apos;+ TEXT({!$Record.LLC_BI__Borrower_Type__c})</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>LE_Entity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LE_EntityInvolvement_CREATE_UPDATE_FF_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Entity</name>
        <label>Update Entity</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EntityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEntity</name>
        <label>UpdateEntity</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EntityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Execute_check</targetReference>
        </connector>
        <object>LLC_BI__Legal_Entities__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
