flows/Lien_DELETE_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Single_Loan_Instance_to_Collection</name>
        <label>Add Single Loan Instance to Collection</label>
        <locationX>270</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>LoanCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanSingleInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_2nd</name>
        <label>Assign Loan to Collection - 2nd</label>
        <locationX>798</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_3rd</name>
        <label>Assign Loan to Collection - 3rd</label>
        <locationX>534</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_Other</name>
        <label>Assign Loan to Collection - Other</label>
        <locationX>270</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Non_TBOM_Superior_Lien_Amount</name>
        <label>Update Non-TBOM Superior Lien Amount</label>
        <locationX>270</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.CF_Total_Non_TBOM_Superior_Lien_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Non_TBOM_Superior_Lien_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Loans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Loan_Instance_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lien_Position</name>
        <label>Check Lien Position</label>
        <locationX>666</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lien_Position_Other</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_Other</targetReference>
            </connector>
            <label>Lien Position = Other</label>
        </rules>
        <rules>
            <name>Lien_Position_3rd</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_3rd</targetReference>
            </connector>
            <label>Lien Position = 3rd</label>
        </rules>
        <rules>
            <name>Lien_Position_2nd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_2nd</targetReference>
            </connector>
            <label>Lien Position = 2nd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Collection_Null</name>
        <label>Loan Collection Null?</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>No Loans to Update</defaultConnectorLabel>
        <rules>
            <name>Loans_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Records</targetReference>
            </connector>
            <label>Loans to update</label>
        </rules>
    </decisions>
    <description>2023.11.09 - Update Non-TBOM Superior Lien amount when lien is deleted</description>
    <environments>Default</environments>
    <formulas>
        <name>Updated_Non_TBOM_Superior_Lien_Amount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Loop_through_Loans.CF_Total_Non_TBOM_Superior_Lien_Amount__c}), 0, 
  IF(({!Loop_through_Loans.CF_Total_Non_TBOM_Superior_Lien_Amount__c}-{!$Record.LLC_BI__Amount__c})&lt;=0, 0, ({!Loop_through_Loans.CF_Total_Non_TBOM_Superior_Lien_Amount__c}-{!$Record.LLC_BI__Amount__c}))
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lien DELETE Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lien DELETE Flow</label>
    <loops>
        <name>Loop_through_Loans</name>
        <label>Loop through Loans</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <collectionReference>Get_Loan_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Non_TBOM_Superior_Lien_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loan_Collection_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Pledge_records</name>
        <label>Loop through Pledge records</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Pledge_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Lien_Position</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Loan_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Loan Records to update values</description>
        <name>Get_Loan_Records</name>
        <label>Get Loan Records</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>LoanIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CF_Total_Non_TBOM_Superior_Lien_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Collateral Pledge records to find appropriate loans to update</description>
        <name>Get_Pledge_Records</name>
        <label>Get Pledge Records</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Collateral__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <queriedFields>LLC_BI__Lien_Position__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Records</name>
        <label>Update Loan Records</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <inputReference>LoanCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pledge_Records</targetReference>
        </connector>
        <filterFormula>{!$Permission.No_Flow}=FALSE</filterFormula>
        <object>LLC_BI__Lien__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LoanCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanSingleInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
