flows/Lien_AFTER_Update_Create_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Single_Loan_Instance_to_Collection_2</name>
        <label>Add Single Loan Instance to Collection</label>
        <locationX>4978</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>LoanCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanSingleInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Loans_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Total_Non_TBOM_Superior_Lien_Amount</name>
        <label>Add to Total Non-TBOM Superior Lien Amount</label>
        <locationX>8674</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>Total_Non_TBOM_Superior_Lien_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Non_TBOM_Superior_Lien_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RESET_VARIABLES</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_2nd</name>
        <label>Assign Loan to Collection - 2nd</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_3rd</name>
        <label>Assign Loan to Collection - 3rd</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_Other</name>
        <label>Assign Loan to Collection - Other</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Lien_is_Non_TBOM</name>
        <label>Other Lien is Non-TBOM</label>
        <locationX>9554</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>Is_Other_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AMT_Other_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_liens.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_liens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RESET_VARIABLES</name>
        <label>RESET VARIABLES</label>
        <locationX>8674</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>AMT_1st_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AMT_2nd_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AMT_3rd_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AMT_Other_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_1st_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_2nd_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_3rd_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Other_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Collateral_MGMT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Non_TBOM_Superior_Lien_Amount</name>
        <label>Update Non-TBOM Superior Lien Amount</label>
        <locationX>4978</locationX>
        <locationY>2771</locationY>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.CF_Total_Non_TBOM_Superior_Lien_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Non_TBOM_Superior_Lien_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Loans_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Loan_Instance_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1st_lien_is_Non_TBOM</name>
        <label>1st lien is Non-TBOM</label>
        <locationX>8762</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>Is_1st_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AMT_1st_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_liens.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_liens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2nd_Lien_is_Non_TBOM</name>
        <label>2nd Lien is Non-TBOM</label>
        <locationX>9026</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>Is_2nd_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AMT_2nd_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_liens.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_liens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3rd_Lien_is_Non_TBOM</name>
        <label>3rd Lien is Non-TBOM</label>
        <locationX>9290</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>Is_3rd_Lien_Non_TBOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AMT_3rd_Non_TBOM_Lien</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_liens.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_liens</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lien_Position</name>
        <label>Check Lien Position</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lien_Position_Other</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_Other</targetReference>
            </connector>
            <label>Lien Position = Other</label>
        </rules>
        <rules>
            <name>Lien_Position_3rd</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_3rd</targetReference>
            </connector>
            <label>Lien Position = 3rd</label>
        </rules>
        <rules>
            <name>Lien_Position_2nd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_2nd</targetReference>
            </connector>
            <label>Lien Position = 2nd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Lien_Status_and_Position</name>
        <label>Determine Lien Status and Position</label>
        <locationX>9290</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_liens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_Lien_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1st_lien_is_Non_TBOM</targetReference>
            </connector>
            <label>1st Lien Check</label>
        </rules>
        <rules>
            <name>X2nd_Lien_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2nd_Lien_is_Non_TBOM</targetReference>
            </connector>
            <label>2nd Lien Check</label>
        </rules>
        <rules>
            <name>X3rd_Lien_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3rd_Lien_is_Non_TBOM</targetReference>
            </connector>
            <label>3rd Lien Check</label>
        </rules>
        <rules>
            <name>Other_Lien_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_liens.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Lien_is_Non_TBOM</targetReference>
            </connector>
            <label>Other Lien Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew_Record</name>
        <label>IsNew Record</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISUPDATE_OR_ISNEW</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Loans_2</targetReference>
            </connector>
            <label>ISUPDATE OR ISNEW</label>
        </rules>
    </decisions>
    <decisions>
        <description>As apart of 1811

Total Non-TBOM Superior Lien Amount on Loan will be the total amount of all liens associated to a piece of collateral with a higher position than the lien position specified on the Collateral Pledge record 
ONLY IF the superior lien is held at another bank [i.e, Loan field should be blank and Institute field should be populated on Lien record.]</description>
        <name>New_Lien_Record_check</name>
        <label>New Lien Record check</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_record_OR_When_Lien_Amount_isChanged</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Institution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pledge_records</targetReference>
            </connector>
            <label>Is New record OR When Lien Amount isChanged</label>
        </rules>
    </decisions>
    <description>2023.11.08 - Update logic to adjust Non-TBOM Superior Lien Amount if changed.
2023.11.14 - Recalculate Non-TBOM Superior Lien Amount for all liens on a loan when new or changed.</description>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Non_TBOM_Superior_Lien_Amount</name>
        <dataType>Currency</dataType>
        <expression>IF(AND(NOT({!Is_1st_Lien_Non_TBOM}),{!Is_2nd_Lien_Non_TBOM},NOT({!Is_3rd_Lien_Non_TBOM}),NOT({!Is_Other_Lien_Non_TBOM})),{!AMT_2nd_Non_TBOM_Lien},
	IF(AND(NOT({!Is_1st_Lien_Non_TBOM}),NOT({!Is_2nd_Lien_Non_TBOM}),{!Is_3rd_Lien_Non_TBOM},NOT({!Is_Other_Lien_Non_TBOM})),{!AMT_3rd_Non_TBOM_Lien},
		IF(AND(NOT({!Is_1st_Lien_Non_TBOM}),{!Is_2nd_Lien_Non_TBOM},{!Is_3rd_Lien_Non_TBOM},NOT({!Is_Other_Lien_Non_TBOM})),({!AMT_2nd_Non_TBOM_Lien} + {!AMT_3rd_Non_TBOM_Lien}),
			IF(AND(NOT({!Is_1st_Lien_Non_TBOM}),{!Is_2nd_Lien_Non_TBOM},NOT({!Is_3rd_Lien_Non_TBOM}),{!Is_Other_Lien_Non_TBOM}),{!AMT_2nd_Non_TBOM_Lien},
				IF(AND({!Is_1st_Lien_Non_TBOM},{!Is_2nd_Lien_Non_TBOM},{!Is_3rd_Lien_Non_TBOM},{!Is_Other_Lien_Non_TBOM}),({!AMT_1st_Non_TBOM_Lien} + {!AMT_2nd_Non_TBOM_Lien} + {!AMT_3rd_Non_TBOM_Lien} + {!AMT_Other_Non_TBOM_Lien}),
					IF(AND({!Is_1st_Lien_Non_TBOM},{!Is_2nd_Lien_Non_TBOM},{!Is_3rd_Lien_Non_TBOM},{!Is_Other_Lien_Non_TBOM}),({!AMT_1st_Non_TBOM_Lien} + {!AMT_2nd_Non_TBOM_Lien} + {!AMT_3rd_Non_TBOM_Lien} + {!AMT_Other_Non_TBOM_Lien}),
						IF(AND({!Is_1st_Lien_Non_TBOM},NOT({!Is_2nd_Lien_Non_TBOM}),{!Is_3rd_Lien_Non_TBOM},{!Is_Other_Lien_Non_TBOM}),{!AMT_1st_Non_TBOM_Lien},
							IF(AND({!Is_1st_Lien_Non_TBOM},{!Is_2nd_Lien_Non_TBOM},NOT({!Is_3rd_Lien_Non_TBOM}),{!Is_Other_Lien_Non_TBOM}),({!AMT_1st_Non_TBOM_Lien} + {!AMT_2nd_Non_TBOM_Lien}),
								IF(AND({!Is_1st_Lien_Non_TBOM},{!Is_2nd_Lien_Non_TBOM},{!Is_3rd_Lien_Non_TBOM},NOT({!Is_Other_Lien_Non_TBOM})),({!AMT_1st_Non_TBOM_Lien} + {!AMT_2nd_Non_TBOM_Lien} + {!AMT_3rd_Non_TBOM_Lien}),
									IF(AND({!Is_1st_Lien_Non_TBOM},{!Is_2nd_Lien_Non_TBOM},{!Is_3rd_Lien_Non_TBOM},NOT({!Is_Other_Lien_Non_TBOM})),({!AMT_1st_Non_TBOM_Lien} + {!AMT_2nd_Non_TBOM_Lien} + {!AMT_3rd_Non_TBOM_Lien}),
										IF(AND({!Is_1st_Lien_Non_TBOM},NOT({!Is_2nd_Lien_Non_TBOM}),NOT({!Is_3rd_Lien_Non_TBOM}),{!Is_Other_Lien_Non_TBOM}),{!AMT_1st_Non_TBOM_Lien},
											IF(AND({!Is_1st_Lien_Non_TBOM},NOT({!Is_2nd_Lien_Non_TBOM}),{!Is_3rd_Lien_Non_TBOM},NOT({!Is_Other_Lien_Non_TBOM})),({!AMT_1st_Non_TBOM_Lien} + {!AMT_3rd_Non_TBOM_Lien}),
												IF(AND({!Is_1st_Lien_Non_TBOM},{!Is_2nd_Lien_Non_TBOM},NOT({!Is_3rd_Lien_Non_TBOM}),NOT({!Is_Other_Lien_Non_TBOM})),({!AMT_1st_Non_TBOM_Lien} + {!AMT_2nd_Non_TBOM_Lien}),
													IF(AND({!Is_1st_Lien_Non_TBOM},NOT({!Is_2nd_Lien_Non_TBOM}),NOT({!Is_3rd_Lien_Non_TBOM}),NOT({!Is_Other_Lien_Non_TBOM})),{!AMT_1st_Non_TBOM_Lien},0)
												)
											)
										)
									)
								)
							)
						)
					)
				)
			)
		)
	)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Updated_Non_Superior_Lien_2</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!Iterate_through_Loans_2.CF_Total_Non_TBOM_Superior_Lien_Amount__c}), {!$Record.LLC_BI__Amount__c}, IF(({!Iterate_through_Loans_2.CF_Total_Non_TBOM_Superior_Lien_Amount__c} - {!$Record__Prior.LLC_BI__Amount__c}+ {!$Record.LLC_BI__Amount__c}) &lt; 0, 0,({!Iterate_through_Loans_2.CF_Total_Non_TBOM_Superior_Lien_Amount__c} - {!$Record__Prior.LLC_BI__Amount__c}+ {!$Record.LLC_BI__Amount__c})))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lien AFTER Update/Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lien AFTER Update/Create Flow</label>
    <loops>
        <name>Iterate_through_Loans_2</name>
        <label>Iterate through Loans</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Loan_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Loan_Collateral_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan_record_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_liens</name>
        <label>Loop through all liens</label>
        <locationX>8674</locationX>
        <locationY>1895</locationY>
        <collectionReference>Get_Liens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Lien_Status_and_Position</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_Total_Non_TBOM_Superior_Lien_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Collateral_MGMT</name>
        <label>Loop through Collateral MGMT</label>
        <locationX>7442</locationX>
        <locationY>1679</locationY>
        <collectionReference>Get_Collateral_MGMT_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Liens</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Loan_Collateral</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Loan_Collateral</name>
        <label>Loop through Loan Collateral</label>
        <locationX>4978</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_Pledge_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Collateral_MGMT_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Non_TBOM_Superior_Lien_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Pledge_records</name>
        <label>Loop through Pledge records</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Pledge_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Lien_Position</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Loan_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Collateral_MGMT_Records</name>
        <label>Get Collateral MGMT Records</label>
        <locationX>7442</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Collateral_MGMT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Loan_Collateral.LLC_BI__Collateral__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Collateral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Liens</name>
        <label>Get Liens</label>
        <locationX>8674</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_liens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Collateral_MGMT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Lien__c</object>
        <sortField>LLC_BI__Position__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Collateral_Records</name>
        <label>Get Loan Collateral Records</label>
        <locationX>4978</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Loan_Collateral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_Loans_2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_records</name>
        <label>Get Loan records</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsNew_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>LoanIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CF_Total_Non_TBOM_Superior_Lien_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pledge_records</name>
        <label>Get Pledge records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Collateral__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <queriedFields>LLC_BI__Lien_Position__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_record_2</name>
        <label>Update Loan record</label>
        <locationX>50</locationX>
        <locationY>3071</locationY>
        <inputReference>LoanCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Lien_Record_check</targetReference>
        </connector>
        <filterFormula>{!$Permission.No_Flow}=FALSE</filterFormula>
        <object>LLC_BI__Lien__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AMT_1st_Non_TBOM_Lien</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AMT_2nd_Non_TBOM_Lien</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AMT_3rd_Non_TBOM_Lien</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AMT_Other_Non_TBOM_Lien</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Is_1st_Lien_Non_TBOM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_2nd_Lien_Non_TBOM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_3rd_Lien_Non_TBOM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_Other_Lien_Non_TBOM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoanCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanSingleInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Total_Non_TBOM_Superior_Lien_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
