flows/Lien_AFTER_Update_Create_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Single_Loan_Instance_to_Collection</name>
        <label>Add Single Loan Instance to Collection</label>
        <locationX>385</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>LoanCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanSingleInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Loans_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Single_Loan_Instance_to_Collection_2</name>
        <label>Add Single Loan Instance to Collection</label>
        <locationX>737</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>LoanCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanSingleInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Loans_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_2nd</name>
        <label>Assign Loan to Collection - 2nd</label>
        <locationX>1221</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_3rd</name>
        <label>Assign Loan to Collection - 3rd</label>
        <locationX>957</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_to_Collection_Other</name>
        <label>Assign Loan to Collection - Other</label>
        <locationX>693</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pledge_records.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_TBOM_Superior_Lien_Amount</name>
        <label>Assign Non-TBOM Superior Lien Amount</label>
        <locationX>385</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.CF_Total_Non_TBOM_Superior_Lien_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Non_Superior_Lien</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Loans_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Loan_Instance_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Non_TBOM_Superior_Lien_Amount</name>
        <label>Update Non-TBOM Superior Lien Amount</label>
        <locationX>737</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.CF_Total_Non_TBOM_Superior_Lien_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Non_Superior_Lien_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanSingleInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Loans_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Loan_Instance_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lien_Position</name>
        <label>Check Lien Position</label>
        <locationX>1089</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lien_Position_Other</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_Other</targetReference>
            </connector>
            <label>Lien Position = Other</label>
        </rules>
        <rules>
            <name>Lien_Position_3rd</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_3rd</targetReference>
            </connector>
            <label>Lien Position = 3rd</label>
        </rules>
        <rules>
            <name>Lien_Position_2nd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Pledge_records.LLC_BI__Lien_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_to_Collection_2nd</targetReference>
            </connector>
            <label>Lien Position = 2nd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DataLoad_User</name>
        <label>Is DataLoad User?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>New_Lien_Record_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew_Record</name>
        <label>IsNew Record</label>
        <locationX>605</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Loans_1</targetReference>
            </connector>
            <label>ISNEW</label>
        </rules>
        <rules>
            <name>ISUPDATE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Loans_2</targetReference>
            </connector>
            <label>ISUPDATE</label>
        </rules>
    </decisions>
    <decisions>
        <description>As apart of 1811

Total Non-TBOM Superior Lien Amount on Loan will be the total amount of all liens associated to a piece of collateral with a higher position than the lien position specified on the Collateral Pledge record 
ONLY IF the superior lien is held at another bank [i.e, Loan field should be blank and Institute field should be populated on Lien record.]</description>
        <name>New_Lien_Record_check</name>
        <label>New Lien Record check</label>
        <locationX>891</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_record_OR_When_Lien_Amount_isChanged</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Institution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pledge_records</targetReference>
            </connector>
            <label>Is New record OR When Lien Amount isChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Updated_Non_Superior_Lien</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.LLC_BI__Amount__c} + {!Iterate_through_Loans_1.CF_Total_Non_TBOM_Superior_Lien_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Updated_Non_Superior_Lien_2</name>
        <dataType>Currency</dataType>
        <expression>IF(({!Iterate_through_Loans_2.CF_Total_Non_TBOM_Superior_Lien_Amount__c})&gt;0, {!Iterate_through_Loans_2.CF_Total_Non_TBOM_Superior_Lien_Amount__c}, 0 )+ (IF(({!$Record.LLC_BI__Amount__c})&gt;0,{!$Record.LLC_BI__Amount__c},0) - 
        IF(({!$Record__Prior.LLC_BI__Amount__c})&gt;0 ,{!$Record__Prior.LLC_BI__Amount__c}, 0))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lien AFTER Update/Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lien AFTER Update/Create Flow</label>
    <loops>
        <name>Iterate_through_Loans_1</name>
        <label>Iterate through Loans</label>
        <locationX>297</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_Loan_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Non_TBOM_Superior_Lien_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Loans_2</name>
        <label>Iterate through Loans</label>
        <locationX>649</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_Loan_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Non_TBOM_Superior_Lien_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan_record_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Pledge_records</name>
        <label>Loop through Pledge records</label>
        <locationX>605</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Pledge_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Lien_Position</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Loan_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_records</name>
        <label>Get Loan records</label>
        <locationX>605</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsNew_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>LoanIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CF_Total_Non_TBOM_Superior_Lien_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pledge_records</name>
        <label>Get Pledge records</label>
        <locationX>605</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Pledge_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Collateral__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <queriedFields>LLC_BI__Lien_Position__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_record</name>
        <label>Update Loan record</label>
        <locationX>297</locationX>
        <locationY>1763</locationY>
        <inputReference>LoanCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_record_2</name>
        <label>Update Loan record</label>
        <locationX>649</locationX>
        <locationY>1763</locationY>
        <inputReference>LoanCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DataLoad_User</targetReference>
        </connector>
        <object>LLC_BI__Lien__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LoanCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanSingleInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
