flows/LOA_Loan_FF_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Interest_Accrual_Method</name>
        <label>Set Interest Accrual Method</label>
        <locationX>490</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Interest_Accrual_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actual_365</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Interest_Accrual_Method_for_Commercial</name>
        <label>Set Interest Accrual Method for Commercial</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Interest_Accrual_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actual_360</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Change_Memo_Unlock_UI</name>
        <label>Update Change Memo Unlock UI</label>
        <locationX>1458</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Change_Memo_Unlock_UI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Loan_Product_Line_Update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_GL_Cost_Code_For_Commercial_new</name>
        <label>Update GL Cost Code For Commercial</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_GL_Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_a_Commercial_loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_GL_Cost_Code_For_Commercial_Update_new</name>
        <label>Update GL Cost Code For Commercial Update</label>
        <locationX>1326</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_GL_Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_GL_Cost_Code_For_SBA_Product_Line_new</name>
        <label>Update GL Cost Code For SBA Product Line</label>
        <locationX>622</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_GL_Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_a_SBA_7a_product_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_GL_Cost_Code_For_SBA_Product_Line_Update_new</name>
        <label>Update GL Cost Code For SBA Product Line Update</label>
        <locationX>1590</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_GL_Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Loan_Record_New</name>
        <label>Update Loan Record</label>
        <locationX>424</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Application_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Amount_New_Money__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Net_New_Funds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification / Proposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Loan_Product_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Normal_Loan_Record_New</name>
        <label>Update Normal Loan Record</label>
        <locationX>688</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Application_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification / Proposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Structure_Hierarchy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Main</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multi Level Future</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Loan_Product_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Booking_Funding</name>
        <label>Update Stage = Booking/Funding</label>
        <locationX>1722</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking / Funding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Change_Memo_UI_is_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Closing</name>
        <label>Update Stage = Closing</label>
        <locationX>1458</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Change_Memo_UI_is_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Doc_Prep_Review</name>
        <label>Update Stage = Doc Prep &amp; Review</label>
        <locationX>1194</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Doc Prep &amp; Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Change_Memo_UI_is_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Change_Memo_UI_is_Updated</name>
        <label>Check if Change Memo UI is Updated</label>
        <locationX>1590</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Validate_Loan_Product_Line_Update_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Memo_UI_Status_isChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Change_Memo_Loan_UI_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Change_Memo_Loan_UI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changes Complete/UI Locked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Change_Memo_Unlock_UI</targetReference>
            </connector>
            <label>Change Memo UI Status isChanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Node to determine if the user running the flow has access to the particular flow or not.</description>
        <name>Check_if_the_running_user_has_flow_permission_or_not</name>
        <label>Check if the running user has flow permission or not.</label>
        <locationX>1892</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_new_loan_record</targetReference>
            </connector>
            <label>Checking no workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flood_Verification_Status_Check</name>
        <label>Flood Verification Status Check</label>
        <locationX>1590</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_if_Change_Memo_UI_is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Pre_Close_Due_Diligence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Doc_Prep_Review</targetReference>
            </connector>
            <label>Stage = Pre Close Due Diligence</label>
        </rules>
        <rules>
            <name>Stage_Doc_Prep_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Prep &amp; Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Closing</targetReference>
            </connector>
            <label>Stage = Doc Prep &amp; Review</label>
        </rules>
        <rules>
            <name>Stage_Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Booking_Funding</targetReference>
            </connector>
            <label>Stage = Closing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Commercial_loan</name>
        <label>Is a Commercial loan?</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Interest_Accrual_Method_for_Commercial</targetReference>
            </connector>
            <label>Commercial loans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_SBA_7a_product_type</name>
        <label>Is a SBA(7a) product type?</label>
        <locationX>622</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X7a_Product_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Interest_Accrual_Method</targetReference>
            </connector>
            <label>7a Product Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan_Product_Line</name>
        <label>Validate Loan Product Line</label>
        <locationX>556</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Product_Line_Is_Commercial_OR_Agriculture</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agriculture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GL_Cost_Code_For_Commercial_new</targetReference>
            </connector>
            <label>Check Loan Product Line Is Commercial OR Agriculture</label>
        </rules>
        <rules>
            <name>Check_Loan_Product_Line_Is_SBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GL_Cost_Code_For_SBA_Product_Line_new</targetReference>
            </connector>
            <label>Check Loan Product Line Is SBA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan_Product_Line_Update_0</name>
        <label>Validate Loan Product Line Update</label>
        <locationX>1590</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Product_Line_Is_Commercial_OR_Agriculture_0_0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agriculture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GL_Cost_Code_For_Commercial_Update_new</targetReference>
            </connector>
            <label>Check Loan Product Line Is Commercial OR Agriculture</label>
        </rules>
        <rules>
            <name>Check_Loan_Product_Line_Is_SBA_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GL_Cost_Code_For_SBA_Product_Line_Update_new</targetReference>
            </connector>
            <label>Check Loan Product Line Is SBA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_new_loan_record</name>
        <label>Validate new loan record</label>
        <locationX>1359</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_new_loan_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validating_Is_Modification_and_Is_Renewal_Checkbox_Is_Checked_On_Loan</targetReference>
            </connector>
            <label>Check new loan record</label>
        </rules>
        <rules>
            <name>Validate_Record_update_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flood_Verification_Status_Check</targetReference>
            </connector>
            <label>Validate Record update criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validating_Is_Modification_and_Is_Renewal_Checkbox_Is_Checked_On_Loan</name>
        <label>Validating Is Modification and Is Renewal Checkbox Is Checked On Loan</label>
        <locationX>556</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Normal_Loan_Record_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Is_Modification_and_Is_Renewal_Checkbox_Is_Checked_On_Loan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Record_New</targetReference>
            </connector>
            <label>Check Is Modification and Is Renewal Checkbox Is Checked On Loan</label>
        </rules>
    </decisions>
    <description>Loan Fast Field Update Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>LOA_Loan_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOA_Loan_FF_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1766</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_the_running_user_has_flow_permission_or_not</targetReference>
        </connector>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
