flows/LOA_Loan_Daily_Scheduled_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_RM_and_CA</name>
        <label>Email to RM and CA</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>LLC_BI__Loan__c.Loan_Alert_RegBDays_MoreThan25</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_RegB_Email_Sent_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LLC_BI__Loan__c.Loan_Alert_RegBDays_MoreThan25</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Record_Exists</name>
        <label>RM/CA Exist ?</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_RM_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Credit_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_RM_and_CA</targetReference>
            </connector>
            <label>RM/CA Exist</label>
        </rules>
    </decisions>
    <description>Send an email to RM and LA if the RegB past days is &gt;25</description>
    <interviewLabel>LOA_Loan_Daily_Scheduled_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOA_Loan_Daily_Scheduled_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_RegB_Email_Sent_Field</name>
        <label>Update RegB Email Sent Field</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>CF_RegB_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_RegB_Open_Days__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CF_RegB_Email_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-29</startDate>
            <startTime>16:21:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_non_RM_AC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__LoanTeam__c</objectType>
    </variables>
    <variables>
        <name>Found_RMAC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
