flows/LOA_Loan_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>On_Hold_Alert_0_0</name>
        <label>On Hold Alert</label>
        <locationX>1502</locationX>
        <locationY>3887</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Doc_Prep_Status_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Getting_Notification_type_records_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Loan has been on hold for 30 days</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Loan has been on hold for 30 days</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_HMDA_Entity_Compliance_Automation</name>
        <label>Run HMDA Entity Compliance Automation</label>
        <locationX>1502</locationX>
        <locationY>2147</locationY>
        <actionName>LLC_BI__HmdaEntityComplianceInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>is_Reg_O_Employee_Loan_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LLC_BI__HmdaEntityComplianceInvoker</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_HMDA_Loan_Compliance_Automation</name>
        <label>Run HMDA Loan Compliance Automation</label>
        <locationX>1502</locationX>
        <locationY>2039</locationY>
        <actionName>LLC_BI__HmdaLoanComplianceInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Run_HMDA_Entity_Compliance_Automation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LLC_BI__HmdaLoanComplianceInvoker</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>1502</locationX>
        <locationY>4895</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Validate_Credit_Card_Product_Loan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_Id_Doc_Prep.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Doc_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Doc_Notification_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_LA_to_Notification_Recipients</name>
        <label>Add LA to Notification Recipients</label>
        <locationX>1502</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>Doc_Notification_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.cm_Loan_Assistant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipients_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RM_to_Notification_Recipients_0</name>
        <label>Add RM to Notification Recipients</label>
        <locationX>1502</locationX>
        <locationY>4187</locationY>
        <assignmentItems>
            <assignToReference>Doc_Notification_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_LA_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Team_member_to_Collection_0</name>
        <label>Add Team member to Collection</label>
        <locationX>1194</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>NewLoanTeamMembersToBeAdded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLoanTeamMemb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDealTeamMembersToBeAdded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewDealTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Opp_Team_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Branch</name>
        <label>Assign Branch</label>
        <locationX>204</locationX>
        <locationY>4511</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Analyst_on_Loan_PP</name>
        <label>Assign Credit Analyst on Loan &amp; PP</label>
        <locationX>798</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.CF_Credit_Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Credit_Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Officer_on_Loan_PP</name>
        <label>Assign Credit Officer on Loan &amp; PP</label>
        <locationX>1326</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.CF_Credit_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Credit_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fields_on_Limit_Sub_Limit_Loans</name>
        <label>Assign fields on Limit &amp; Sub-Limit Loans</label>
        <locationX>204</locationX>
        <locationY>6827</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.CF_Loan_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Highest__r.CF_Loan_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Highest__r.LLC_BI__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.Payment_Rate_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Highest__r.Payment_Rate_Information__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Loan_PP_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Assistant_on_Loan_PP</name>
        <label>Assign Loan Assistant on Loan &amp; PP</label>
        <locationX>1062</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.cm_Loan_Assistant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Loan_Assistant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_PP_Record_ID</name>
        <label>Assign Loan &amp; PP Record ID</label>
        <locationX>1249</locationX>
        <locationY>7103</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Processor_on_Loan_PP</name>
        <label>Assign Loan Processor on Loan &amp; PP</label>
        <locationX>534</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Processor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Record_With_Stage_And_Status_Value</name>
        <label>Assign Loan Record With Stage And Status Value</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Default_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>loan-ui-tbom.dashboard-loan-tbom</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PP_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Record_With_Stage_And_Status_Value_1</name>
        <label>Assign Loan Record With Stage And Status Value</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Default_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>loan-ui-tbom.dashboard-loan-tbom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__lookupKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CF_Loan_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Child_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Stage_Booking_Funding</name>
        <label>Assign Loan Stage = Booking/Funding</label>
        <locationX>1502</locationX>
        <locationY>5195</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking / Funding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Stage_Status</name>
        <label>Assign Loan Stage &amp; Status</label>
        <locationX>204</locationX>
        <locationY>4811</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking / Funding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultLoanName_TakeDown</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Limit_and_Sub_limit_creation_when_main_loan_is_in_Pre_Approval_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Loan_Team_member_field_values_0</name>
        <label>Assign New Loan Team member field values</label>
        <locationX>1194</locationX>
        <locationY>3419</locationY>
        <assignmentItems>
            <assignToReference>NewLoanTeamMemb.LLC_BI__Assigned_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Role_from_Loan_Team_member_roles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoanTeamMemb.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoanTeamMemb.LLC_BI__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDealTeamMember.LLC_BI__Assigned_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Role_from_Loan_Team_member_roles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDealTeamMember.LLC_BI__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDealTeamMember.LLC_BI__Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoanTeamMemb.CF_Created_by_Loan_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDealTeamMember.CF_Created_From_Loan_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Team_member_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Money_on_Original_Loan</name>
        <label>Assign New Money on Original Loan</label>
        <locationX>204</locationX>
        <locationY>5927</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Amount_New_Money__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.CF_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Account__r.LLC_BI__Branch__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Loan_Amt_is_Not_Null_Renewed_Mod_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Money_on_Original_Loan_1</name>
        <label>Assign New Money on Original Loan</label>
        <locationX>1502</locationX>
        <locationY>6203</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Amount_New_Money__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Loan_PP_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Money_on_Renewed_Mod_Loan</name>
        <label>Assign New Money on Renewed/Mod Loan</label>
        <locationX>1502</locationX>
        <locationY>5903</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Amount_New_Money__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Net_New_Funds__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Original_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Money_on_Renewed_Modified_Loan</name>
        <label>Assign New Money on Renewed/Modified Loan</label>
        <locationX>204</locationX>
        <locationY>6227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Amount_New_Money__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Net_New_Funds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.CF_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Account__r.LLC_BI__Branch__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Relationship_Deposit_only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rate_Floor</name>
        <label>Assign Rate Floor</label>
        <locationX>204</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.TBOM_Rate_Floor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SLA_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reg_O_Employee_Loan_checkbox_on_PP</name>
        <label>Assign Reg O/Employee Loan checkbox on PP</label>
        <locationX>1502</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>My_PP.CF_Has_Employee_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Has_Reg_O_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Changed_to_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rlshp_and_Default_name_on_PP</name>
        <label>Assign Rlshp and Default name on PP</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>My_PP.LLC_BI__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultPPName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Child_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RM_on_Loan_PP</name>
        <label>Assign RM on Loan &amp; PP</label>
        <locationX>270</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Loan_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_RM_on_Loan_PP</name>
        <label>Assign Secondary RM on Loan &amp; PP</label>
        <locationX>1854</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.Secondary_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Secondary_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_CU_on_PP</name>
        <label>Assign Stage = CU on PP</label>
        <locationX>204</locationX>
        <locationY>5627</locationY>
        <assignmentItems>
            <assignToReference>My_PP.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Loan_Amt_is_Not_Null_Main_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_on_Limit_and_Sublimit_loans</name>
        <label>Assign Stage on Limit and Sublimit loans</label>
        <locationX>204</locationX>
        <locationY>5111</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Highest__r.LLC_BI__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultLoanName_Limit_Sublimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>When_main_loan_is_in_Post_Approval_Stage_then_Creation_of_Limit_and_sublimit_loa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_on_Limit_Sub_Limit_Loans</name>
        <label>Assign Stage on Limit &amp; Sub-Limit Loans</label>
        <locationX>204</locationX>
        <locationY>5411</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_Loan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultLoanName_Limit_Sublimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PP_Record_associated_to_loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Treasury_User_on_Loan_PP</name>
        <label>Assign Treasury User on Loan &amp; PP</label>
        <locationX>1590</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>My_Loan.CF_Treasury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.CF_Treasury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_on_PP</name>
        <label>Assignment on PP</label>
        <locationX>204</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>My_PP.CF_Converted_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_PP.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_it_Is_Copy_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClonedOpportunityAssignment</name>
        <label>ClonedOpportunityAssignment</label>
        <locationX>204</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>ClonedOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunity.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Cloned_Opportunity_ID_on_Cloned_Loan</name>
        <label>Update Cloned Opportunity ID on Cloned Loan</label>
        <locationX>204</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClonedOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Loan_is_not_Credit_Actioned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Id_assignment_0_0</name>
        <label>User Id assignment</label>
        <locationX>1502</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelationshipManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>On_Hold_Alert_0_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Notification_Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents ready for review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Business_Relationship_Deposit_only</name>
        <label>Business Relationship(Deposit only) ?</label>
        <locationX>336</locationX>
        <locationY>6419</locationY>
        <defaultConnector>
            <targetReference>Check_fields_on_Main_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Deposit_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndustriesBusiness</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__r.CF_TM_Deposit_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Deposit_only_flag_on_account</targetReference>
            </connector>
            <label>Business &amp; Deposit only</label>
        </rules>
    </decisions>
    <decisions>
        <description>As part of DF-01235
Copy Loan Purpose, Loan Purpose Description and Rate/Payment Structure from the main loan down to the limit or sublimit loans</description>
        <name>Check_fields_on_Main_Loan</name>
        <label>Check fields on Main Loan</label>
        <locationX>336</locationX>
        <locationY>6719</locationY>
        <defaultConnector>
            <targetReference>Assign_Loan_PP_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_fields_to_Child_Loan</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.CF_Loan_Purpose__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Rate_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_fields_on_Limit_Sub_Limit_Loans</targetReference>
            </connector>
            <label>Copy fields to Child Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Original_Loan</name>
        <label>Check for Original Loan</label>
        <locationX>1634</locationX>
        <locationY>6095</locationY>
        <defaultConnector>
            <targetReference>Assign_Loan_PP_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Original_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Money_on_Original_Loan_1</targetReference>
            </connector>
            <label>Original Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if</name>
        <label>Check the Loan Structure</label>
        <locationX>336</locationX>
        <locationY>4703</locationY>
        <defaultConnector>
            <targetReference>Validate_Limit_and_Sub_limit_creation_when_main_loan_is_in_Pre_Approval_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Structure_Current_Takedown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Takedown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Stage_Status</targetReference>
            </connector>
            <label>If Structure = Current Takedown</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_it_Is_Copy_Loan</name>
        <label>Check if it Is Copy Loan</label>
        <locationX>336</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Check_if_Loan_is_not_Credit_Actioned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Copy_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Copy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Opportunity</targetReference>
            </connector>
            <label>Is Copy Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_Amt_is_Not_Null_Main_Loan</name>
        <label>Check If Loan Amt is Not Null - Main Loan</label>
        <locationX>336</locationX>
        <locationY>5819</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Amt_is_Not_Null_Renewed_Mod_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Amt_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Money_on_Original_Loan</targetReference>
            </connector>
            <label>Loan Amt is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_Amt_is_Not_Null_Renewed_Mod_Loan</name>
        <label>Check If Loan Amt is Not Null - Renewed/Mod Loan</label>
        <locationX>336</locationX>
        <locationY>6119</locationY>
        <defaultConnector>
            <targetReference>Business_Relationship_Deposit_only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Amt_is_Not_Null_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Money_on_Renewed_Modified_Loan</targetReference>
            </connector>
            <label>Loan Amt is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_Amt_isChanged_Renewed_Mod_Loan</name>
        <label>Check If Loan Amt isChanged - Renewed/Mod Loan</label>
        <locationX>1634</locationX>
        <locationY>5795</locationY>
        <defaultConnector>
            <targetReference>Check_for_Original_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Amt_isChanged</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Net_New_Funds__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Money_on_Renewed_Mod_Loan</targetReference>
            </connector>
            <label>Loan Amt isChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Loan_is_not_Credit_Actioned</name>
        <label>Check if Loan is not Credit Actioned</label>
        <locationX>336</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Checking_Relationship_Manager_field_empty_or_not_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Renewal_Modified_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Team_members</targetReference>
            </connector>
            <label>Non - Renewal / Modified Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_TM_Role</name>
        <label>Check Opp TM Role</label>
        <locationX>1194</locationX>
        <locationY>3119</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Loan_Team_member_field_values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RM_on_Loan_PP</targetReference>
            </connector>
            <label>Role = RM</label>
        </rules>
        <rules>
            <name>Role_Loan_Processor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Processor_on_Loan_PP</targetReference>
            </connector>
            <label>Role = Loan Processor</label>
        </rules>
        <rules>
            <name>Role_Credit_Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Analyst_on_Loan_PP</targetReference>
            </connector>
            <label>Role  = Credit Analyst</label>
        </rules>
        <rules>
            <name>Role_Loan_Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Assistant_on_Loan_PP</targetReference>
            </connector>
            <label>Role = Loan Assistant</label>
        </rules>
        <rules>
            <name>Role_Credit_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Officer_on_Loan_PP</targetReference>
            </connector>
            <label>Role = Credit Officer</label>
        </rules>
        <rules>
            <name>Role_Treasury</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Treasury_User_on_Loan_PP</targetReference>
            </connector>
            <label>Role = Treasury</label>
        </rules>
        <rules>
            <name>Role_Secondary_Relationship_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Secondary_RM_on_Loan_PP</targetReference>
            </connector>
            <label>Role = Secondary Relationship Manager</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking Relationship Manager field empty or not and changed or not</description>
        <name>Checking_Relationship_Manager_field_empty_or_not_0</name>
        <label>Checking Relationship Manager field empty or not</label>
        <locationX>336</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>Check_if</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_RM_field_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_branch_records_from_RM_branch_id_0_0</targetReference>
            </connector>
            <label>Checking RM field</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking user has flow permission or not</description>
        <name>Checking_user_has_flow_permission_or_not</name>
        <label>Checking user has flow permission or not</label>
        <locationX>1837</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_New_Loan_Record</targetReference>
            </connector>
            <label>Checking no workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Loan_Stage</name>
        <label>Current Loan Stage</label>
        <locationX>1282</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_HMDA_Date_Action_Taken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_Deligence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record_Stage_0_0</targetReference>
            </connector>
            <label>Due Deligence</label>
        </rules>
        <rules>
            <name>Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record_Stage_0_0_0</targetReference>
            </connector>
            <label>Booked</label>
        </rules>
        <rules>
            <name>Complete_Withdrawn</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record_Stage_0_0_0_0</targetReference>
            </connector>
            <label>Complete Withdrawn</label>
        </rules>
        <rules>
            <name>Complete_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record_Stage_0_0_0_0_0</targetReference>
            </connector>
            <label>Complete_Declined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doc_Prep_Status_changed</name>
        <label>Doc Prep Status changed?</label>
        <locationX>1634</locationX>
        <locationY>4079</locationY>
        <defaultConnector>
            <targetReference>Does_LA_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>changed_to_Lender_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Doc_Prep_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Doc_Prep_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RM_to_Notification_Recipients_0</targetReference>
            </connector>
            <label>changed to Lender Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_LA_Exist</name>
        <label>Does LA Exist ?</label>
        <locationX>1634</locationX>
        <locationY>4379</locationY>
        <defaultConnector>
            <targetReference>Recipients_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_LA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cm_Loan_Assistant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Doc_Prep_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Doc_Prep_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lender Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_LA_to_Notification_Recipients</targetReference>
            </connector>
            <label>Add LA</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Loan_team_collection_is_not_null</name>
        <label>If Loan team collection is not null</label>
        <locationX>182</locationX>
        <locationY>3803</locationY>
        <defaultConnector>
            <targetReference>Checking_Relationship_Manager_field_empty_or_not_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewLoanTeamMembersToBeAdded</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Loan_Team_Member</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Role_exists</name>
        <label>If Role exists</label>
        <locationX>1744</locationX>
        <locationY>3011</locationY>
        <defaultConnector>
            <targetReference>Loop_each_Opp_Team_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Role_from_Loan_Team_member_roles.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opp_TM_Role</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PP_relationship_null</name>
        <label>Is PP relationship null ?</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Validate_Child_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_details.LLC_BI__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rlshp_and_Default_name_on_PP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Reg_O_Employee_Loan_Check</name>
        <label>is Reg O/Employee Loan Check?</label>
        <locationX>1634</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Status_Changed_to_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_a_Reg_O_Employee_Loan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Employee_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reg_O_Employee_Loan_checkbox_on_PP</targetReference>
            </connector>
            <label>is a Reg O/Employee Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_Loan_Stage_changed_0</name>
        <label>Portal Loan Stage changed and Relationship Portal Enabled?</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Validate_Opportunity_Field_Is_Not_Blank_On_Loan_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_changed_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__r.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking / Funding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_primary_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_Found</name>
        <label>Primary Contact Found ?</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Validate_Opportunity_Field_Is_Not_Blank_On_Loan_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_primary_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_fields_to_Person_Account</targetReference>
            </connector>
            <label>Found - Person Account</label>
        </rules>
        <rules>
            <name>Found_Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_primary_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_fields_to_Contact</targetReference>
            </connector>
            <label>Found - Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Line_Check</name>
        <label>Product Line Check</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_SLA_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PL_Commercial_Agriculture</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agriculture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rate_Floor</targetReference>
            </connector>
            <label>PL = Commercial/Agriculture</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_exist</name>
        <label>Recipients exist ?</label>
        <locationX>1634</locationX>
        <locationY>4679</locationY>
        <defaultConnector>
            <targetReference>Validate_Credit_Card_Product_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Doc_Notification_Recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type_Id_Doc_Prep</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Manager_exists_check_0</name>
        <label>Relationship Manager exists check?</label>
        <locationX>1634</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>Doc_Prep_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_exists_on_record_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_On_Hold_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Notification_type_records_0_0</targetReference>
            </connector>
            <label>RM exists on record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_HMDA_Automation_for_Loan_Entity_Compliance</name>
        <label>Run HMDA Automation for Loan/Entity Compliance?</label>
        <locationX>1634</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>is_Reg_O_Employee_Loan_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HMDA</name>
            <conditionLogic>(1 AND 2) AND (((3 OR 4 OR 5) AND(6)) OR ((8 OR 9) AND (7)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__HMDA_Reportable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Prep &amp; Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_HMDA_Loan_Compliance_Automation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_updates</name>
        <label>SLA updates</label>
        <locationX>1634</locationX>
        <locationY>5387</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Amt_isChanged_Renewed_Mod_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Changed_and_Status_not_onHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_prior_stage_field</targetReference>
            </connector>
            <label>Stage Changed and Status not onHold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed_to_Approved</name>
        <label>Status Changed to Approved</label>
        <locationX>1634</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>Status_isChanged_and_On_Hold_Check_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Credit_Approval_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Credit_Approval_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRRRRecord</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>checking if status value has been changed and has on Hold as value</description>
        <name>Status_isChanged_and_On_Hold_Check_0_0</name>
        <label>Status isChanged and On Hold Check?</label>
        <locationX>1634</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_exists_check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_equals_On_Hold_0_0</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Status_On_Hold_Date_field_0_0</targetReference>
            </connector>
            <label>Status equals On Hold</label>
        </rules>
        <rules>
            <name>Status_Not_On_Hold_0</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Status_On_Hold_Date_0_0</targetReference>
            </connector>
            <label>Status Not On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_HMDA_Date_Action_Taken</name>
        <label>Update HMDA Date Action Taken</label>
        <locationX>1634</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Run_HMDA_Automation_for_Loan_Entity_Compliance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_HMDA_Date_with_Hard_Close_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__HMDA_Date_Action_Taken__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Hard_Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HMDA_Date_Action_Taken_Field</targetReference>
            </connector>
            <label>Update HMDA Date with Hard Close Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Child_Loans</name>
        <label>Validate Child Loans</label>
        <locationX>336</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_if_it_Is_Copy_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Limit_and_Sublimit_loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_on_PP</targetReference>
            </connector>
            <label>Check Limit and Sublimit loans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Credit_Card_Product_Loan</name>
        <label>Validate Credit Card Product Loan</label>
        <locationX>1634</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>SLA_updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Credit_Card_Product_Loan</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card Small Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card Purchasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Stage_Booking_Funding</targetReference>
            </connector>
            <label>Check Credit Card Product Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Limit_and_Sub_limit_creation_when_main_loan_is_in_Pre_Approval_stage</name>
        <label>Validate Limit and Sub-limit creation when main loan is in Pre Approval stage</label>
        <locationX>336</locationX>
        <locationY>5003</locationY>
        <defaultConnector>
            <targetReference>When_main_loan_is_in_Post_Approval_Stage_then_Creation_of_Limit_and_sublimit_loa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Limit_and_Sub_limit_creation_when_main_loan_is_in_Pre_Approval_stage</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_on_Limit_and_Sublimit_loans</targetReference>
            </connector>
            <label>Check Limit and Sub-limit creation when main loan is in Pre Approval stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_New_Loan_Record</name>
        <label>Validate New Loan Record</label>
        <locationX>1249</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_New_Loan_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Line_Check</targetReference>
            </connector>
            <label>Check New Loan Record</label>
        </rules>
        <rules>
            <name>Check_For_Loan_Record_Already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Portal_Loan_Stage_changed_0</targetReference>
            </connector>
            <label>Check For Loan Record Already Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Opportunity_Field_Is_Not_Blank_On_Loan_Record</name>
        <label>Validate Opportunity Field Is Not Blank On Loan Record</label>
        <locationX>1634</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_HMDA_Date_Action_Taken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Opportunity_Populate_On_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Loan_Stage</targetReference>
            </connector>
            <label>Has Opportunity Populate On Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validating_Is_Modification_and_Is_Renewal_Checkbox_Is_Checked_On_Loan</name>
        <label>Validating Is Modification and Is Renewal Checkbox Is Checked On Loan</label>
        <locationX>336</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Assign_Loan_Record_With_Stage_And_Status_Value_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Is_Modification_and_Is_Renewal_Checkbox_Is_Checked_On_Loan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Record_With_Stage_And_Status_Value</targetReference>
            </connector>
            <label>Check Is Modification and Is Renewal Checkbox Is Checked On Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_main_loan_is_in_Post_Approval_Stage_then_Creation_of_Limit_and_sublimit_loa</name>
        <label>When main loan is in Post Approval Stage then Creation of Limit and sublimit loans</label>
        <locationX>336</locationX>
        <locationY>5303</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Amt_is_Not_Null_Main_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_main_loan_is_in_Post_Approval_Stage_then_Creation_of_Limit_and_sublimit_lo</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Prep &amp; Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking / Funding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Highest__r.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_on_Limit_Sub_Limit_Loans</targetReference>
            </connector>
            <label>Check main loan is in Post Approval Stage then Creation of Limit and sublimit loans</label>
        </rules>
    </decisions>
    <description>This flow will be used for all loan automation logic. v.47 is refactored version of Loan AFTER flow.
Starting v.50 - Loan Team Member Changes</description>
    <environments>Default</environments>
    <formulas>
        <name>DefaultLoanName_Limit_Sublimit</name>
        <dataType>String</dataType>
        <expression>IF (AND(ISPICKVAL( {!$Record.LLC_BI__Structure_Hierarchy__c}, &apos;Limit&apos;) , {!$Record.LLC_BI__Account__r.RecordType.Name = &apos;Business&apos;}), 
({!$Record.LLC_BI__Account__r.Name} &amp; &apos; - &apos; &amp; {!$Record.LLC_BI__Product_Reference__r.Name} &amp; &apos; - &apos; &amp;  TEXT(MONTH(TODAY())) &amp; &apos;.&apos; &amp; TEXT(YEAR(TODAY())) &amp;&apos; - Limit&apos;),
IF (AND(ISPICKVAL( {!$Record.LLC_BI__Structure_Hierarchy__c}, &apos;Limit&apos;) , {!$Record.LLC_BI__Account__r.RecordType.Name = &apos;Person Account&apos;}), 
({!$Record.LLC_BI__Account__r.FirstName} &amp; &apos; &apos; &amp; {!$Record.LLC_BI__Account__r.LastName} &amp; &apos; - &apos; &amp; {!$Record.LLC_BI__Product_Reference__r.Name} &amp; &apos; - &apos; &amp;  TEXT(MONTH(TODAY())) &amp; &apos;.&apos; &amp; TEXT(YEAR(TODAY())) &amp;&apos; - Limit&apos;),
IF (AND(ISPICKVAL( {!$Record.LLC_BI__Structure_Hierarchy__c}, &apos;Sub Limit&apos;) , {!$Record.LLC_BI__Account__r.RecordType.Name = &apos;Business&apos;}), 
({!$Record.LLC_BI__Account__r.Name} &amp; &apos; - &apos; &amp; {!$Record.LLC_BI__Product_Reference__r.Name} &amp; &apos; - &apos; &amp;  TEXT(MONTH(TODAY())) &amp; &apos;.&apos; &amp; TEXT(YEAR(TODAY())) &amp;&apos; - Sublimit&apos;),
IF (AND(ISPICKVAL( {!$Record.LLC_BI__Structure_Hierarchy__c}, &apos;Sub Limit&apos;), {!$Record.LLC_BI__Account__r.RecordType.Name = &apos;Person Account&apos;}), 
({!$Record.LLC_BI__Account__r.FirstName} &amp; &apos; &apos; &amp; {!$Record.LLC_BI__Account__r.LastName} &amp; &apos; - &apos; &amp; {!$Record.LLC_BI__Product_Reference__r.Name} &amp; &apos; - &apos; &amp;  TEXT(MONTH(TODAY())) &amp; &apos;.&apos; &amp; TEXT(YEAR(TODAY())) &amp;&apos; - Sublimit&apos;), &apos;&apos;
))))</expression>
    </formulas>
    <formulas>
        <name>DefaultLoanName_TakeDown</name>
        <dataType>String</dataType>
        <expression>IF (AND(ISPICKVAL( {!$Record.LLC_BI__Structure_Hierarchy__c}, &apos;Current Takedown&apos;) , {!$Record.LLC_BI__Account__r.RecordType.Name = &apos;Business&apos;}), 
({!$Record.LLC_BI__Account__r.Name} &amp; &apos; - &apos; &amp; {!$Record.LLC_BI__Product_Reference__r.Name} &amp; &apos; - &apos; &amp;  TEXT(MONTH(TODAY())) &amp; &apos;.&apos; &amp; TEXT(YEAR(TODAY())) &amp;&apos; - Takedown&apos;),
IF (AND(ISPICKVAL( {!$Record.LLC_BI__Structure_Hierarchy__c}, &apos;Current Takedown&apos;) , {!$Record.LLC_BI__Account__r.RecordType.Name = &apos;Person Account&apos;}),
({!$Record.LLC_BI__Account__r.FirstName} &amp; &apos; &apos; &amp; {!$Record.LLC_BI__Account__r.LastName} &amp; &apos; - &apos; &amp; {!$Record.LLC_BI__Product_Reference__r.Name} &amp; &apos; - &apos; &amp;  TEXT(MONTH(TODAY())) &amp; &apos;.&apos; &amp; TEXT(YEAR(TODAY())) &amp;&apos; - Takedown&apos;),&apos;&apos;
))</expression>
    </formulas>
    <formulas>
        <name>DefaultPPName</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Account__r.Name} &amp; &apos; - Product Package &apos; &amp; &apos;- &apos; &amp; TEXT(MONTH(TODAY())) &amp; &apos;.&apos; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Doc_Notification_Body</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp;&quot;&apos;s documents have been prepared and are ready for review.&quot;</expression>
    </formulas>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IsWorstRiskRatingBlankOrLess</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK(Text({!WorstRiskRating})) || (VALUE(Text({!WorstRiskRating})) &lt; VALUE(Text({!LoopRiskRating}))),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>Priorstageofloan</description>
        <name>Priorstageofloan</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.LLC_BI__Stage__c})</expression>
    </formulas>
    <formulas>
        <name>RelationshipManagerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan_Officer__c}</expression>
    </formulas>
    <formulas>
        <description>Hold date on which status is changed to on hold</description>
        <name>StatusOnHoldDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>LOA Loan Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOA_Loan Flow</label>
    <loops>
        <name>Loop_each_Opp_Team_member</name>
        <label>Loop each Opp Team member</label>
        <locationX>182</locationX>
        <locationY>2795</locationY>
        <collectionReference>Get_Opp_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Role_from_Loan_Team_member_roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Loan_team_collection_is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clone_Opportunity</name>
        <label>Clone Opportunity</label>
        <locationX>204</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Update_Cloned_Opportunity_ID_on_Cloned_Loan</targetReference>
        </connector>
        <inputReference>ClonedOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Deal_Team_Member</name>
        <label>Create a Deal Team Member</label>
        <locationX>50</locationX>
        <locationY>4019</locationY>
        <connector>
            <targetReference>Checking_Relationship_Manager_field_empty_or_not_0</targetReference>
        </connector>
        <inputReference>NewDealTeamMembersToBeAdded</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Loan_Team_Member</name>
        <label>Create a Loan Team Member</label>
        <locationX>50</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Create_a_Deal_Team_Member</targetReference>
        </connector>
        <inputReference>NewLoanTeamMembersToBeAdded</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_Type_Id_Doc_Prep</name>
        <label>Get Notification Type Id Doc Prep</label>
        <locationX>1502</locationX>
        <locationY>4787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Bell_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Loan_Docs_Ready_For_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the team member records on the opportunity</description>
        <name>Get_Opp_Team_members</name>
        <label>Get Opp Team members</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_each_Opp_Team_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Opportunity</name>
        <label>Get Original Opportunity</label>
        <locationX>204</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ClonedOpportunityAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PP_details</name>
        <label>Get PP details</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PP_relationship_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PP_Record_associated_to_loan</name>
        <label>Get PP Record associated to loan</label>
        <locationX>204</locationX>
        <locationY>5519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_CU_on_PP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the loan team member role corresponding to Opp team member role.</description>
        <name>Get_Role_from_Loan_Team_member_roles</name>
        <label>Get Role from Loan Team member roles</label>
        <locationX>1744</locationX>
        <locationY>2903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Role_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_member.TeamMemberRole</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_primary_contact</name>
        <label>Get the primary contact</label>
        <locationX>1414</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Account__r.CF_Account_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRRRRecord</name>
        <label>getRRRRecord</label>
        <locationX>1502</locationX>
        <locationY>2747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRRRRecTypeApproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Annual_Review__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRRRRecTypeApproved</name>
        <label>getRRRRecTypeApproved</label>
        <locationX>1502</locationX>
        <locationY>2855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateRRRRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Annual_Review__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AR_Approved_Annual_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting branch records from RM branch id</description>
        <name>Getting_branch_records_from_RM_branch_id_0_0</name>
        <label>Getting branch records from RM branch id</label>
        <locationX>204</locationX>
        <locationY>4403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Branch_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__r.CF_Branch_Number__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Branch__c</object>
        <outputAssignments>
            <assignToReference>Branch_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Getting_Notification_type_records_0_0</name>
        <label>Getting Notification type records</label>
        <locationX>1502</locationX>
        <locationY>3671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Id_assignment_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_On_Hold_Days_Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>When status is changed to On Hold save date in Status On Hold date field</description>
        <name>Populate_Status_On_Hold_Date_field_0_0</name>
        <label>Populate Status On Hold Date field</label>
        <locationX>1370</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>Status_Changed_to_OnHold_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Status_On_Hold_Date__c</field>
            <value>
                <elementReference>StatusOnHoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Status_On_Hold_Date_0_0</name>
        <label>Reset Status On Hold Date</label>
        <locationX>1634</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>Status_reverted_from_OnHold_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Status_On_Hold_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Deposit_only_flag_on_account</name>
        <label>Uncheck Deposit only flag on account</label>
        <locationX>204</locationX>
        <locationY>6527</locationY>
        <connector>
            <targetReference>Check_fields_on_Main_Loan</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_TM_Deposit_Only__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.LLC_BI__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HMDA_Date_Action_Taken_Field</name>
        <label>Update HMDA Date Action Taken Field</label>
        <locationX>1502</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Run_HMDA_Automation_for_Loan_Entity_Compliance</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__HMDA_Date_Action_Taken__c</field>
            <value>
                <elementReference>$Record.CF_Hard_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>1249</locationX>
        <locationY>7211</locationY>
        <connector>
            <targetReference>Update_PP</targetReference>
        </connector>
        <inputReference>My_Loan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_fields_to_Contact</name>
        <label>Update Loan fields to Contact</label>
        <locationX>1414</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Validate_Opportunity_Field_Is_Not_Blank_On_Loan_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_primary_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Con_Loan_Portal_Status_Changed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Con_Primary_Loan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_fields_to_Person_Account</name>
        <label>Update Loan fields to Person Account</label>
        <locationX>1150</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Validate_Opportunity_Field_Is_Not_Blank_On_Loan_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Con_Loan_Portal_Status_Changed__pc</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Con_Primary_Loan__pc</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_Stage_0_0</name>
        <label>Update Opportunity Record Stage</label>
        <locationX>754</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update_HMDA_Date_Action_Taken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Solution / Ask</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_Stage_0_0_0</name>
        <label>Update Opportunity Record Stage</label>
        <locationX>1018</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update_HMDA_Date_Action_Taken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_Stage_0_0_0_0</name>
        <label>Update Opportunity Record Stage</label>
        <locationX>1282</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update_HMDA_Date_Action_Taken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Closed_Lost_Reason__c</field>
            <value>
                <stringValue>Loan Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_Stage_0_0_0_0_0</name>
        <label>Update Opportunity Record Stage</label>
        <locationX>1546</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update_HMDA_Date_Action_Taken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Closed_Lost_Reason__c</field>
            <value>
                <stringValue>Loan Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP</name>
        <label>Update PP</label>
        <locationX>1249</locationX>
        <locationY>7319</locationY>
        <inputReference>My_PP</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRRRRecord</name>
        <label>updateRRRRecord</label>
        <locationX>1502</locationX>
        <locationY>2963</locationY>
        <connector>
            <targetReference>Status_isChanged_and_On_Hold_Check_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRRRRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Approved_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRRRRecTypeApproved.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Annual_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the prior stage and flood verification field</description>
        <name>Updating_the_prior_stage_field</name>
        <label>Updating the prior stage and flood verification field</label>
        <locationX>1502</locationX>
        <locationY>5495</locationY>
        <connector>
            <targetReference>Update_SLA_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_PriorStageValue__c</field>
            <value>
                <elementReference>$Record__Prior.LLC_BI__Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1711</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_user_has_flow_permission_or_not</targetReference>
        </connector>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_SLA_Record_0</name>
        <label>Create SLA Record</label>
        <locationX>336</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Validating_Is_Modification_and_Is_Renewal_Checkbox_Is_Checked_On_Loan</targetReference>
        </connector>
        <flowName>SLA_Flow</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>NewRec</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentLoan</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>prior_LoanStage</name>
            <value>
                <elementReference>$Record__Prior.LLC_BI__Stage__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Status_Changed_to_OnHold_Update</name>
        <label>Status Changed to OnHold Update</label>
        <locationX>1370</locationX>
        <locationY>3371</locationY>
        <connector>
            <targetReference>Relationship_Manager_exists_check_0</targetReference>
        </connector>
        <flowName>SLA_Flow</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>OnHoldStatusStart</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentLoan</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>prior_LoanStage</name>
            <value>
                <elementReference>$Record__Prior.LLC_BI__Stage__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Status_reverted_from_OnHold_Update</name>
        <label>Status reverted from OnHold Update</label>
        <locationX>1634</locationX>
        <locationY>3371</locationY>
        <connector>
            <targetReference>Relationship_Manager_exists_check_0</targetReference>
        </connector>
        <flowName>SLA_Flow</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>OnHoldStatusEnd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentLoan</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>prior_LoanStage</name>
            <value>
                <elementReference>$Record__Prior.LLC_BI__Stage__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_SLA_Records</name>
        <label>Update SLA Records</label>
        <locationX>1502</locationX>
        <locationY>5603</locationY>
        <connector>
            <targetReference>Check_If_Loan_Amt_isChanged_Renewed_Mod_Loan</targetReference>
        </connector>
        <flowName>SLA_Flow</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>updatedStageRec</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentLoan</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>prior_LoanStage</name>
            <value>
                <elementReference>$Record__Prior.LLC_BI__Stage__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Account Covenant</description>
        <name>AccountCovenant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Account_Covenant__c</objectType>
    </variables>
    <variables>
        <description>Account Covenant Collection</description>
        <name>AccountCovenantCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Account_Covenant__c</objectType>
    </variables>
    <variables>
        <name>Branch_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Business Financial Statement id</description>
        <name>BusinessFinancialStatementid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Business Tax Return Id</description>
        <name>BusinessTaxReturnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClonedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Covenant Mgmt Records</description>
        <name>CovenantMgmtRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Covenant2__c</objectType>
    </variables>
    <variables>
        <name>DefaultOppStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Commitment / Close</stringValue>
        </value>
    </variables>
    <variables>
        <name>Doc_Notification_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Financial Statement</description>
        <name>FinancialStatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Covenant2__c</objectType>
    </variables>
    <variables>
        <description>FloodVerificationApplicable</description>
        <name>FloodVerificationApplicable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flood Verification Applicable</description>
        <name>Loan_FloodVerificationApplicable</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Loan Covenant</description>
        <name>LoanCovenant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Covenant__c</objectType>
    </variables>
    <variables>
        <description>Loan Covenant Collection</description>
        <name>LoanCovenantCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Covenant__c</objectType>
    </variables>
    <variables>
        <name>LoopRiskRating</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>My_Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>My_PP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
    <variables>
        <name>NewDealTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Product_Package_Team__c</objectType>
    </variables>
    <variables>
        <name>NewDealTeamMembersToBeAdded</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Product_Package_Team__c</objectType>
    </variables>
    <variables>
        <name>NewLoanTeamMemb</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__LoanTeam__c</objectType>
    </variables>
    <variables>
        <name>NewLoanTeamMembersToBeAdded</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__LoanTeam__c</objectType>
    </variables>
    <variables>
        <name>Notempty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PersonalFinancialStatement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Personal Tax Return Id</description>
        <name>PersonalTaxReturnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PPRecordCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
    <variables>
        <name>PPRecordIndividualVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
    <variables>
        <description>Prior stage</description>
        <name>Priorstage</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Tax Return</description>
        <name>TaxReturn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Covenant2__c</objectType>
    </variables>
    <variables>
        <name>TeamMemberRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Role__c</objectType>
    </variables>
    <variables>
        <name>WorstRiskRating</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
