flows/Loan_Migrate_Coll_Documents_to_Loan_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_CurrentLoanCollDocsCollection</name>
        <label>Add to CurrentLoanCollDocsCollection</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CurrentLoanCollateralDocs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Query_Collateral_DocMan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_current_loan_collaterals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_coll_docman_values</name>
        <label>assign coll docman values</label>
        <locationX>330</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Coll_Docmans.LLC_BI__Document_Store_Index__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_thru_Coll_Docmans.LLC_BI__External_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_thru_Coll_Docmans.NDOC__Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_thru_Coll_Docmans.LLC_BI__Review_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Coll_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_checklist_Id</name>
        <label>Assign New checklist Id</label>
        <locationX>704</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>NewClosingChecklistId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_closing_checklists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_closing_checklists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullify_New_closing_checklist_id</name>
        <label>Nullify New closing checklist id</label>
        <locationX>616</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>NewClosingChecklistId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Coll_Docmans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Coll_Docs_Exist</name>
        <label>Coll Docs Exist ?</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_current_loan_collaterals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Docs_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Collateral_DocMan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_CurrentLoanCollDocsCollection</targetReference>
            </connector>
            <label>Docs Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_DocMan_present</name>
        <label>Loan DocMan present ?</label>
        <locationX>462</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Nullify_New_closing_checklist_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Loan_DocMan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_loan_collateral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matched_Closing_checklist_on_loan</name>
        <label>Matched Closing checklist on loan to Migrate ?</label>
        <locationX>616</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Nullify_New_closing_checklist_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewClosingChecklistId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Loan_DocMan</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_closing_checklist_matched</name>
        <label>Old closing checklist matched ?</label>
        <locationX>836</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_closing_checklists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_closing_checklists.CF_Prev_Coll_Checklist_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_thru_Coll_Docmans.LLC_BI__Closing_Checklist__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewClosingChecklistId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_checklist_Id</targetReference>
            </connector>
            <label>Found it</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loan Migrate Coll Documents to Loan Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Migrate Coll Documents to Loan Screen Flow</label>
    <loops>
        <name>Loop_thru_closing_checklists</name>
        <label>Loop thru closing checklists</label>
        <locationX>616</locationX>
        <locationY>1382</locationY>
        <collectionReference>Query_All_closing_checklists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Old_closing_checklist_matched</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Matched_Closing_checklist_on_loan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Coll_Docmans</name>
        <label>Loop thru Current Loan Coll Docmans</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <collectionReference>CurrentLoanCollateralDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_thru_closing_checklists</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_thru_current_loan_collaterals</name>
        <label>Loop thru current loan collaterals</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Query_Col_Pledged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Query_Collateral_DocMan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Coll_Docs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Coll_DocMan_Id</name>
        <label>Get Coll DocMan Id</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Col_Pledged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>llc_bi__collateral__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__DocManager__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_All_closing_checklists</name>
        <label>Query All closing checklists</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Coll_DocMan_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CF_Prev_Coll_Checklist_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__ClosingChecklist__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CF_Prev_Coll_Checklist_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Col_Pledged</name>
        <label>Query Col Pledged</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_current_loan_collaterals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Collateral_DocMan</name>
        <label>Query Collateral DocMan</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coll_Docs_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Document_Store_Index__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_thru_current_loan_collaterals.LLC_BI__Collateral__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NDOC__Attachment_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__DocManager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Coll_DocMan_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Document_Placeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Loan_DocMan</name>
        <label>Query Loan DocMan</label>
        <locationX>462</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_DocMan_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__closingChecklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewClosingChecklistId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Document_Store_Index__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__attachmentId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__LLC_LoanDocument__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Coll_Blank</name>
        <label>Update Coll Blank</label>
        <locationX>330</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Nullify_New_closing_checklist_id</targetReference>
        </connector>
        <inputReference>Loop_thru_Coll_Docmans</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_loan_collateral</name>
        <label>Update loan collateral Doc</label>
        <locationX>330</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>assign_coll_docman_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__closingChecklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewClosingChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Document_Store_Index__c</field>
            <value>
                <elementReference>Loop_thru_Coll_Docmans.LLC_BI__Document_Store_Index__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__attachmentId__c</field>
            <value>
                <elementReference>Loop_thru_Coll_Docmans.NDOC__Attachment_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__reviewStatus__c</field>
            <value>
                <elementReference>Loop_thru_Coll_Docmans.LLC_BI__Review_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__LLC_LoanDocument__c</object>
    </recordUpdates>
    <screens>
        <name>All_Coll_Docs</name>
        <label>All Coll Docs</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_thru_Coll_Docmans</targetReference>
        </connector>
        <fields>
            <name>CollDocs_List_Display</name>
            <fieldText>&lt;p&gt;Below is the list of documents being migrated from Collateral to Loan Document Manager&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cllateral_Docs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LLC_BI__Document_Placeholder__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cllateral Docs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CurrentLoanCollateralDocs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CF_Name__c&quot;,&quot;guid&quot;:&quot;column-6b20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Doc Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_DocMan</name>
        <label>Confirm_DocMan</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Query_All_closing_checklists</targetReference>
        </connector>
        <fields>
            <name>FirstConfirm</name>
            <fieldText>&lt;p&gt;Please confirm if the Document Manager tab was opened before clicking this button.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_DocMan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentLoanCollateralDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Document_Placeholder__c</objectType>
    </variables>
    <variables>
        <name>NewClosingChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
