flows/Loan_Calculate_Total_Current_Balance_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Loan_Id</name>
        <label>Add Loan Id&apos;s</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_thro_Coll_Pldg_2.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Coll_Pldg_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Coll_Mgmt_Ids</name>
        <label>Assign Coll Mgmt Ids</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Coll_Mgmt_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_thro_Coll_Pldg.LLC_BI__Collateral__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Coll_Pldg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Amount</name>
        <label>Assign Loan Amount</label>
        <locationX>1194</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Sum_Total_Current_Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_thro_Loans.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Net_New_Funds</name>
        <label>Assign Net New Funds</label>
        <locationX>402</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Sum_Total_Current_Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_thro_Loans.LLC_BI__Net_New_Funds__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PB_Availability_from_Core</name>
        <label>Assign PB + Availability from Core</label>
        <locationX>666</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Sum_Total_Current_Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Non_Revolving_Current_Balance_ORG_Loan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Principal_Balance</name>
        <label>Assign Principal Balance</label>
        <locationX>930</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Sum_Total_Current_Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_thro_Loans.LLC_BI__Principal_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Current_Balance</name>
        <label>Assign Total Current Balance</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Sum_Total_Current_Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_thro_Loans.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Booked_Loans_Product_Check</name>
        <label>Booked Loans Product Check</label>
        <locationX>930</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Assign_Loan_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rest Other Products</defaultConnectorLabel>
        <rules>
            <name>Prod_Non_Revolving_Line_of_Credit_Draw_Credit_Card</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Revolving Line of Credit (Draw)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card Small Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card Purchasing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PB_Availability_from_Core</targetReference>
            </connector>
            <label>Prod = Non-Revolving Line of Credit (Draw) / Credit Card</label>
        </rules>
        <rules>
            <name>Prod_Term_Lease_ML_SD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Term</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipal Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Disbursement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal_Balance</targetReference>
            </connector>
            <label>Prod = Term/Lease/ML/SD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_LoanID_is_already_present_in_Collection</name>
        <label>Check if LoanID is already present in Collection</label>
        <locationX>226</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Add_Loan_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Existing</defaultConnectorLabel>
        <rules>
            <name>IsExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_thro_Coll_Pldg_2.LLC_BI__Loan__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_thro_Coll_Pldg_2</targetReference>
            </connector>
            <label>IsExisting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Coll_Pledge_Null_Check</name>
        <label>Coll Pledge Null Check</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Null = True</defaultConnectorLabel>
        <rules>
            <name>Is_Null_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Coll_Pledge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_thro_Coll_Pldg</targetReference>
            </connector>
            <label>Is Null = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Stage_Check</name>
        <label>Loan Stage Check</label>
        <locationX>798</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Original_Loan_Stage_Qualification_Booking_Funding</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Current_Balance</targetReference>
            </connector>
            <label>Original Loan Stage = Qualification - Booking/Funding</label>
        </rules>
        <rules>
            <name>Credit_Actioned_Loan_Qualification_Booking_Funding</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Net_New_Funds</targetReference>
            </connector>
            <label>Credit Actioned Loan = Qualification - Booking/Funding</label>
        </rules>
        <rules>
            <name>Stage_Booked</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_thro_Loans.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booked_Loans_Product_Check</targetReference>
            </connector>
            <label>Stage = Booked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Non_Revolving_Current_Balance_ORG_Loan</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_thro_Loans.LLC_BI__Principal_Balance__c} + {!Iterate_thro_Loans.LLC_BI__Availability_From_Core__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Sum_of_LoanAmount_NetNewFunds</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_thro_Loans.LLC_BI__Amount__c} + {!Iterate_thro_Loans.LLC_BI__Net_New_Funds__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Sum_of_PB_AvailabilityFromCore_NetNewFunds</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_thro_Loans.LLC_BI__Principal_Balance__c} + {!Iterate_thro_Loans.LLC_BI__Availability_From_Core__c} + {!Iterate_thro_Loans.LLC_BI__Net_New_Funds__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Sum_of_PB_NetNewFunds</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_thro_Loans.LLC_BI__Principal_Balance__c} + {!Iterate_thro_Loans.LLC_BI__Net_New_Funds__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Loan_Calculate_Total_Current_Balance_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan_Calculate_Total_Current_Balance_Flow</label>
    <loops>
        <name>Iterate_thro_Coll_Pldg</name>
        <label>Iterate thro Coll Pldg</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Coll_Pledge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Coll_Mgmt_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Coll_Pledge_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_thro_Coll_Pldg_2</name>
        <label>Iterate thro Coll Pldg 2</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Coll_Pledge_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_LoanID_is_already_present_in_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Loans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_thro_Loans</name>
        <label>Iterate thro Loans</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loan_Stage_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Coll_Pledge</name>
        <label>Get Coll Pledge</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coll_Pledge_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Coll_Pledge_2</name>
        <label>Get Coll Pledge 2</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_thro_Coll_Pldg_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Collateral__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Coll_Mgmt_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loans</name>
        <label>Get Loans</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_thro_Loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>LoanIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>50</locationX>
        <locationY>2042</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_Current_Balance__c</field>
            <value>
                <elementReference>Sum_Total_Current_Balance</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>50</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 111, 49);&quot;&gt;Total Current Balance has been updated successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 10, 10);&quot;&gt;There is no Collateral Pledged on this Loan at the moment. Please pledge Collateral to get the Total Current Balance.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Coll_Pledge</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Authorized_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Authorized_User__c</objectType>
    </variables>
    <variables>
        <name>Coll_Mgmt_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Sum_Total_Current_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
