flows/MDA_CREATE_UPDATE_RR_Action_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Checking_user_access</name>
        <label>Checking user access</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_new</targetReference>
            </connector>
            <label>No flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_loan_amount</name>
        <label>if loan amount</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>loan_amount_increase</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Field_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LLC_BI__Amount__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProposedAmountcheckforminorloanamount</targetReference>
            </connector>
            <label>loan amount increase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new</name>
        <label>Is new</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_new_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_loan_amount</targetReference>
            </connector>
            <label>Checking new record</label>
        </rules>
        <rules>
            <name>Checking_updated_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_loan_amount</targetReference>
            </connector>
            <label>Checking updated or not</label>
        </rules>
    </decisions>
    <decisions>
        <description>Proposed amount checking for Loan amount decrease checkbox</description>
        <name>Proposed_amount_checking_for_Loan_amount_decrease_checkbox</name>
        <label>Proposed amount checking for Loan amount decrease checkbox</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lesser_than_current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProposedAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Memo_0_0</targetReference>
            </connector>
            <label>Lesser than current</label>
        </rules>
        <rules>
            <name>Greater_than_25perc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProposedAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ProposedAmountGreater25percent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Memo_Field_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CF_Loan_Amount_Increase__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Memo_0_0_0</targetReference>
            </connector>
            <label>Greater than 25perc</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProposedAmountcheckforminorloanamount</name>
        <label>Proposed Amount check for minor loan amount</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Proposed_amount_checking_for_Loan_amount_decrease_checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lesser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProposedAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Memo_0</targetReference>
            </connector>
            <label>Lesser</label>
        </rules>
        <rules>
            <name>Greater_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProposedAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ProposedAmountGreater25K</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Memo_Field_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CF_Minor_Loan_Amount_Increase_5_or_5_00__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Memo</targetReference>
            </connector>
            <label>Greater than 5%</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.LLC_BI__Memo__r.LLC_BI__Loan__r.CF_Original_Approved_Loan_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrNewMoney</name>
        <dataType>Currency</dataType>
        <expression>Value({!$Record.LLC_BI__Current__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Diff</name>
        <dataType>Number</dataType>
        <expression>Value({!PropVal})-Value({!CurrVal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Difference</name>
        <dataType>Currency</dataType>
        <expression>Value({!PropVal})-Value({!CurrVal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>exposure10per</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.LLC_BI__Memo__r.LLC_BI__Loan__r.LLC_BI__Account__r.LLC_BI__Total_Direct_Exposure__c}+{!$Record.LLC_BI__Memo__r.LLC_BI__Loan__r.LLC_BI__Account__r.LLC_BI__Total_Direct_Exposure__c}*(10/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Greaterthan10perc</description>
        <name>Greaterthan10perc</name>
        <dataType>Currency</dataType>
        <expression>IF(({!CurrentAmount}+100000)&lt;{!exposure10per},({!CurrentAmount}+100000),{!exposure10per})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>new</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>PropNewMoney</name>
        <dataType>Currency</dataType>
        <expression>Value({!$Record.LLC_BI__Proposed__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProposedAmount</name>
        <dataType>Currency</dataType>
        <expression>Value({!$Record.LLC_BI__Proposed__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProposedAmountGreater25K</name>
        <dataType>Currency</dataType>
        <expression>IF(({!CurrentAmount}+25000)&gt;{!ProposedAmountGreater5percent},({!CurrentAmount}+25000),{!ProposedAmountGreater5percent})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Current amount plus a 25%</description>
        <name>ProposedAmountGreater25percent</name>
        <dataType>Currency</dataType>
        <expression>{!CurrentAmount}+{!CurrentAmount}*(25/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProposedAmountGreater5percent</name>
        <dataType>Currency</dataType>
        <expression>{!CurrentAmount}+{!CurrentAmount}*(5/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProposedLoanAmt</name>
        <dataType>Currency</dataType>
        <expression>Value({!$Record.LLC_BI__Proposed__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProposedloanIncrease</name>
        <dataType>Currency</dataType>
        <expression>Value({!$Record.CF_ProposedLoanAmount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProposedNewMoney</name>
        <dataType>Currency</dataType>
        <expression>Value({!$Record.LLC_BI__Proposed__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>MDA_CREATE_UPDATE_RR_Action_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MDA_CREATE_UPDATE_RR_Action_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Memo</name>
        <label>Update Memo</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Proposed_amount_checking_for_Loan_amount_decrease_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_ProposedIncreaseAmount5__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Memo_0</name>
        <label>Update Memo</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Proposed_amount_checking_for_Loan_amount_decrease_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_ProposedIncreaseAmount5__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Memo_0_0</name>
        <label>Update Memo</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>CF_ProposedIncreaseAmount10__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Memo_0_0_0</name>
        <label>Update Memo</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>CF_ProposedIncreaseAmount10__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_user_access</targetReference>
        </connector>
        <object>LLC_BI__Memo_Data__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MemDatRecAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemoRecordVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Proposed</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PropVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
