flows/MEMO_CREATE_UPDATE_Action_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Approval_Recipients</name>
        <label>Notify Approval Recipients</label>
        <locationX>204</locationX>
        <locationY>2963</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>FinalApproverID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Recipients</name>
        <label>Notify Recipients</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_for_Change_Memo_checkbox_fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notifications.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Credit Memo Approved/Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Credit Memo Approved/Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_CA_To_List</name>
        <label>Add CA To List</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreditAnalyst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Processor_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Processor_To_List</name>
        <label>Add Processor To List</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Processor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipients_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RM_To_List</name>
        <label>Add RM To List</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelationshipManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Assistant_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddLAToList</name>
        <label>Add LA To List</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanAssistant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Analyst_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver</name>
        <label>Assign Approver</label>
        <locationX>204</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>FinalApproverID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CF_PP_Final_Approver__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Memo_Approval_Status_Check</name>
        <label>Change Memo Approval Status Check</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Memo_Approval_Status_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Status_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifications</targetReference>
            </connector>
            <label>Approval Status Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Change_Memo_checkbox_fields</name>
        <label>Check for Change Memo checkbox fields</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Memo_Approval_Status_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Checkbox_fields_are_checked_and_Approved</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Add_Covenant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Add_Collateral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Add_Guarantor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Minor_Non_Credit_Edits_Typos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Remove_Change_Collateral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Change_Borrower_Guarantor_Other_Enti__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Edit_Covenants__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Other__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Add_New_Policy_Exception_More_Severe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Add_New_Policy_Exception_Same_Better__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Edit_Existing_Policy_Exceptions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Change_Memo_Loan_UI_Status</targetReference>
            </connector>
            <label>If Checkbox fields are checked and Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Analyst_Check</name>
        <label>Credit Analyst Check</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Processor_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Analyst_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditAnalyst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CA_To_List</targetReference>
            </connector>
            <label>Credit Analyst Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_User_Check</name>
        <label>Current User Check</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loan_Assistant_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relationship_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelationshipManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RM_To_List</targetReference>
            </connector>
            <label>Relationship Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Memo_Approval_Status_Check</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Assistant_Check</name>
        <label>Loan Assistant Check</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Credit_Analyst_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Assistant_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanAssistant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLAToList</targetReference>
            </connector>
            <label>Loan Assistant Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Memo_Approval_Status_check</name>
        <label>Memo Approval Status check</label>
        <locationX>336</locationX>
        <locationY>2639</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Memo_Submitted_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_PP_Final_Approver_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Regional Credit Officer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_PP_Final_Approver_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Committee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver</targetReference>
            </connector>
            <label>Memo Submitted for Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Flow</name>
        <label>No Flow</label>
        <locationX>765</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_No_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>Check For No Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processor_Check</name>
        <label>Processor Check</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Recipients_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processor_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Processor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Processor_To_List</targetReference>
            </connector>
            <label>Processor Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_Exist</name>
        <label>Recipients Exist</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Check_for_Change_Memo_checkbox_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Recipients</targetReference>
            </connector>
            <label>Recipient List Not Null</label>
        </rules>
    </decisions>
    <description>When a change memo is created from magic wand and submitted for approval, then the loan team gets a bell notification</description>
    <environments>Default</environments>
    <formulas>
        <name>CreditAnalyst</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.CF_Credit_Analyst__c}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>LoanAssistant</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.cm_Loan_Assistant__c}</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&apos; &apos;+{!$User.LastName}+&quot; is requesting approval for memo. Memo Name: &quot;+{!$Record.Name}+&quot; Approval Status: &quot;+TEXT({!$Record.LLC_BI__Approval_Status__c})</expression>
    </formulas>
    <formulas>
        <name>Processor</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.LLC_BI__Processor_Name__c}</expression>
    </formulas>
    <formulas>
        <name>RelationshipManager</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c}</expression>
    </formulas>
    <interviewLabel>MEMO_CREATE_UPDATE_Action_RR_FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MEMO_CREATE_UPDATE_Action_RR_FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>204</locationX>
        <locationY>2855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Approval_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Change_Memo_Submitted_for_Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notifications</name>
        <label>Notifications</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Change_Memo_AcceptedRejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Change_Memo_Loan_UI_Status</name>
        <label>Update Change Memo/Loan UI Status</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Memo_Approval_Status_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Change_Memo_Loan_UI_Status__c</field>
            <value>
                <stringValue>Pending Changes / UI Unlocked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Change_Memo_Unlock_UI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>639</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Flow</targetReference>
        </connector>
        <object>LLC_BI__Credit_Memo_Modifcation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalApproverID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanLockUI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanUnlockRec</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
