flows/MEMO_APPROVAL_PROCESS_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Memo_Approval_Process</name>
        <label>Invoke Memo Approval Process</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Flow_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Memo_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>AP_Change_Memo_New_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Memo_Auto_Approval_Process</name>
        <label>Invoke Memo Auto Approval Process</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Auto_Approval_Flow_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Memo_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>AP_Change_Memo_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_for_Product_Package_Path</name>
        <label>Check for Product Package Path</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Invoke_Memo_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Memo_already_submitted_for_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memo_Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review with Pricing Committee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Memo_Submitted_for_Approval_Screen</targetReference>
            </connector>
            <label>Memo already submitted for Approval</label>
        </rules>
        <rules>
            <name>Is_Auto_Approval</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memo_Record.LLC_BI__Approval_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.LLC_BI__Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Loan_Amount_Decrease__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Minor_Loan_Amount_Increase_5_or_5_00__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Add_Covenant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Add_Collateral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Add_Guarantor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_First_Payment_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Minor_Non_Credit_Edits_Typos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Minor_Pricing_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Minor_Loan_Repayment_Term_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Memo_Auto_Approval_Process</targetReference>
            </connector>
            <label>Is Auto Approval</label>
        </rules>
        <rules>
            <name>Path_1_2_3_8_11_or_Fast_track_approval</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7 AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Package_Record.CF_Approval_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Path 11 - Standard Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package_Record.CF_Approval_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Path 8 - Standard Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package_Record.CF_Approval_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Path 3 - Standard Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package_Record.CF_Approval_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Path 2 - Standard Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package_Record.CF_Approval_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Path 1 - Auto Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package_Record.CF_Approval_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fast Track Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Loan_Pricing_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Add_New_Policy_Exception_More_Severe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Loan_Amount_Increase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Queue_to_RCO</targetReference>
            </connector>
            <label>Path = 1,2,3,8,11 or Fast track approval</label>
        </rules>
        <rules>
            <name>Loan_Pricing_Change_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Memo_Record.CF_Loan_Pricing_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Queue_to_Pricing_Committee</targetReference>
            </connector>
            <label>Loan Pricing Change = True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MEMO APPROVAL PROCESS FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MEMO APPROVAL PROCESS FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Memo_Record</name>
        <label>Get Memo Record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Package_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Credit_Memo_Modifcation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Package_Record</name>
        <label>Get Product Package Record</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Product_Package_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Memo_Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Queue_to_Pricing_Committee</name>
        <label>Update Approval Queue to Pricing Committee</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Invoke_Memo_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_PP_Final_Approver_Queue__c</field>
            <value>
                <stringValue>Pricing Committee</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Credit_Memo_Modifcation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Queue_to_RCO</name>
        <label>Update Approval Queue to RCO</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Invoke_Memo_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_PP_Final_Approver_Queue__c</field>
            <value>
                <stringValue>Regional Credit Officer</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Credit_Memo_Modifcation__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Flow_Success_Screen</name>
        <label>Approval Flow Success Screen</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CM_Approval_Process_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please click on finish button to navigate back to Change Memo record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Auto_Approval_Flow_Success_Screen</name>
        <label>Auto Approval Flow Success Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CM_Auto_Approval_Process_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please click on finish button to navigate back to Change Memo record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Memo_Submitted_for_Approval_Screen</name>
        <label>Memo Submitted for Approval Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Memo_Submitted_for_Approval</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Memo record already Submitted for Approval. Please click on Finish button to navigate back to record.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Memo_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
