flows/MEMO_CREATE_UPDATE_FF_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Approver_1</name>
        <label>Assign Approver 1</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_PP_Final_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPPrecord.CF_Approver_1__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Approver_and_Queue</name>
        <label>Assign Approver and Queue</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_PP_Final_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPPrecord.CF_Approver_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_PP_Final_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPPrecord.CF_Approver_1__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>as part of story 1674, on creation of change memo record it&apos;s name need to be updated as CM - Relationship Name - MM.YY&apos;&apos;</description>
        <name>Update_Memo_Name</name>
        <label>Update Memo Name</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedMemoName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPPrecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Memo_Name</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Flow</name>
        <label>No Flow</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>PP_Approvers_Check</name>
        <label>PP Approvers Check</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_and_Group_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Approver_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Approver_Queue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_and_Queue</targetReference>
            </connector>
            <label>Approver and Group not NULL</label>
        </rules>
        <rules>
            <name>Approver_1_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Approver_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_1</targetReference>
            </connector>
            <label>Approver 1 not NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>UpdatedMemoName</name>
        <dataType>String</dataType>
        <expression>&apos;CM - &apos; + TRIM(LEFT(LEFT({!$Record.LLC_BI__Loan__r.Name}, (FIND(&apos;-&apos;, {!$Record.LLC_BI__Loan__r.Name})-1)),50)) + &apos; - &apos; + {!$Record.LLC_BI__Loan__r.CF_Loan_Number__c} + &apos; - &apos; + Text(MONTH(TODAY()))+&apos;.&apos;+Text(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>MEMO_CREATE_UPDATE_FF_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MEMO_CREATE_UPDATE_FF_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPPrecord</name>
        <label>getPPrecord</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PP_Approvers_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Flow</targetReference>
        </connector>
        <object>LLC_BI__Credit_Memo_Modifcation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
