flows/nTreasury__TM_Mass_Actions_Unified_Treasury_Maintenance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Administrators</name>
        <choiceText>Administrators</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Administrators</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Depository</name>
        <choiceText>Depository</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Depository</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disbursement</name>
        <choiceText>Disbursement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disbursement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lockbox</name>
        <choiceText>Lockbox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lockbox</stringValue>
        </value>
    </choices>
    <choices>
        <description>Analyzed Account sObject type for Mass Actions.</description>
        <name>Mass_Actions_Analyzed_Account</name>
        <choiceText>Analyzed Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC_BI__Analyzed_Account__c</stringValue>
        </value>
    </choices>
    <choices>
        <description>Authorized User sObject type for Mass Actions.</description>
        <name>Mass_Actions_Authorized_User</name>
        <choiceText>Authorized User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC_BI__Authorized_User__c</stringValue>
        </value>
    </choices>
    <choices>
        <description>Add type for Mass Actions.</description>
        <name>Mass_Actions_Type_Add</name>
        <choiceText>Mass Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC_BI__MassAdd</stringValue>
        </value>
    </choices>
    <choices>
        <description>Edit type for Mass Actions.</description>
        <name>Mass_Actions_Type_Edit</name>
        <choiceText>Mass Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LLC_BI__MassEdit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miscellaneous</name>
        <choiceText>Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online_Banking</name>
        <choiceText>Online Banking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online Banking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reconciliation</name>
        <choiceText>Reconciliation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reconciliation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remote_Deposit_Capture</name>
        <choiceText>Remote Deposit Capture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote Deposit Capture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting</name>
        <choiceText>Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_Users</name>
        <choiceText>Standard Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Users</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sweep</name>
        <choiceText>Sweep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sweep</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wire</name>
        <choiceText>Wire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Zero_Balance_Account</name>
        <choiceText>Zero Balance Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Zero Balance Account</stringValue>
        </value>
    </choices>
    <constants>
        <name>Subtype_Help_Text</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select a subtype to assign to the type, or set this field to None.</stringValue>
        </value>
    </constants>
    <description>This flow allows users to navigate to the mass actions edit or add page for a treasury service&apos;s related analyzed accounts or authorized users.</description>
    <environments>Default</environments>
    <interviewLabel>TM - Mass Actions Unified Treasury Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>TM - Mass Actions Unified Treasury Maintenance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Initial screen for Mass Actions flow. Allows users to select the Mass Action and sObject type to perform mass actions on.</description>
        <name>Mass_Actions</name>
        <label>Mass Actions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mass_Actions_Navigation</targetReference>
        </connector>
        <fields>
            <name>Mass_Action</name>
            <choiceReferences>Mass_Actions_Type_Add</choiceReferences>
            <choiceReferences>Mass_Actions_Type_Edit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mass Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mass_Action_Type</name>
            <choiceReferences>Mass_Actions_Analyzed_Account</choiceReferences>
            <choiceReferences>Mass_Actions_Authorized_User</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mass Action Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Analyzed_Account_Subtype</name>
            <choiceReferences>Depository</choiceReferences>
            <choiceReferences>Lockbox</choiceReferences>
            <choiceReferences>Online_Banking</choiceReferences>
            <choiceReferences>Remote_Deposit_Capture</choiceReferences>
            <choiceReferences>Sweep</choiceReferences>
            <choiceReferences>Wire</choiceReferences>
            <choiceReferences>Zero_Balance_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Analyzed Account Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;{!Subtype_Help_Text}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Mass_Action_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mass_Actions_Analyzed_Account</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Authorized_User_Subtype</name>
            <choiceReferences>Administrators</choiceReferences>
            <choiceReferences>Standard_Users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Authorized User Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;{!Subtype_Help_Text}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Mass_Action_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mass_Actions_Authorized_User</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Navigation screen for Mass Actions flow. This screen navigates the user to the specified mass action type modal. It does not require user input.</description>
        <name>Mass_Actions_Navigation</name>
        <label>Mass Actions Navigation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mass_Actions_Navigation_LWC</name>
            <extensionName>nTreasury:massActionsNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>massAction</name>
                <value>
                    <elementReference>Mass_Action</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>massActionType</name>
                <value>
                    <elementReference>Mass_Action_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>treasuryService</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>massActionAnalyzedAccountSubType</name>
                <value>
                    <elementReference>Analyzed_Account_Subtype</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>massActionAuthorizedUserSubType</name>
                <value>
                    <elementReference>Authorized_User_Subtype</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mass_Actions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
</Flow>
