flows/Opportunity_History_Create_Update_Async.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>New_Record</name>
        <label>New Record</label>
        <locationX>879</locationX>
        <locationY>512</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Stage1_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0</targetReference>
            </connector>
            <label>Stage1 Start</label>
        </rules>
        <rules>
            <name>Stage2_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0</targetReference>
            </connector>
            <label>Stage2 Start</label>
        </rules>
        <rules>
            <name>Stage3_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2</targetReference>
            </connector>
            <label>Stage3 Start</label>
        </rules>
        <rules>
            <name>Stage4_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0</targetReference>
            </connector>
            <label>Stage4 Start</label>
        </rules>
        <rules>
            <name>Stage5_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0</targetReference>
            </connector>
            <label>Stage5 Start</label>
        </rules>
        <rules>
            <name>Stage6_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage6 Start</label>
        </rules>
        <rules>
            <name>Stage7_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage7 Start</label>
        </rules>
        <rules>
            <name>Stage8_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage8</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage8 Start</label>
        </rules>
        <rules>
            <name>Stage9_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage9</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage9 Start</label>
        </rules>
        <rules>
            <name>Stage10_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage10</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage10 Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Record_Created</name>
        <label>New Record Created</label>
        <locationX>658</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Update_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UPDATE</defaultConnectorLabel>
        <rules>
            <name>ISNEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Record</targetReference>
            </connector>
            <label>ISNEW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>449</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>New_Record_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleSLARec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SLA</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Action</name>
        <label>Update Action</label>
        <locationX>656</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_1_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage1_End_Time</targetReference>
            </connector>
            <label>Stage 1 update</label>
        </rules>
        <rules>
            <name>Stage_2_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage2_End_Time</targetReference>
            </connector>
            <label>Stage 2 update</label>
        </rules>
        <rules>
            <name>Stage_3_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage3_End_Time</targetReference>
            </connector>
            <label>Stage 3 update</label>
        </rules>
        <rules>
            <name>Stage_4_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage4_End_Time</targetReference>
            </connector>
            <label>Stage 4 Update</label>
        </rules>
        <rules>
            <name>Stage5_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage5_End_Time</targetReference>
            </connector>
            <label>Stage5 Update</label>
        </rules>
        <rules>
            <name>Stage6_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage6_End_Time_0_0</targetReference>
            </connector>
            <label>Stage6 Update</label>
        </rules>
        <rules>
            <name>Stage7_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage7_End_Time</targetReference>
            </connector>
            <label>Stage7 Update</label>
        </rules>
        <rules>
            <name>Stage8_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage8</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage8_End_Time</targetReference>
            </connector>
            <label>Stage8 Update</label>
        </rules>
        <rules>
            <name>Stage9_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage9</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage9_End_Time</targetReference>
            </connector>
            <label>Stage9 Update</label>
        </rules>
        <rules>
            <name>Stage10_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage10</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Stage_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage10_End_Time</targetReference>
            </connector>
            <label>Stage10 Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Bypass</name>
        <label>User Bypass</label>
        <locationX>103</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_SLA_for_a_particular_Loan</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Stage10_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage10_Count__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage1_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.Stage1_Count__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>STage1SumMinutes</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Total_Stage1_Duration_Minutes__c} +{!$Record.LLC_BI__Total_Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage2_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.Stage2_Count__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage3_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.Stage3_COunt__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage4_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage4_Count__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage5_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage5_Count__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage6_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage6_Count__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage7_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage7_Count__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage8_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage8_Count__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage9_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage9_Count__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity_History_Create_Update_Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_History_Create_Update_Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SLA</name>
        <label>Create SLA</label>
        <locationX>458</locationX>
        <locationY>304</locationY>
        <inputAssignments>
            <field>CF_Loan__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage1_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage1_Start_Time__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Change_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_SLA_for_a_particular_Loan</name>
        <label>Get Existing SLA for a particular Loan</label>
        <locationX>318</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SLA_Solution__c</object>
        <outputReference>SingleSLARec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage2_Count__c</queriedFields>
        <queriedFields>Stage1_Count__c</queriedFields>
        <queriedFields>Stage3_COunt__c</queriedFields>
        <queriedFields>CF_Stage4_Count__c</queriedFields>
        <queriedFields>CF_Total_Stage1_Duration_Minutes__c</queriedFields>
        <queriedFields>CF_Stage5_Count__c</queriedFields>
        <queriedFields>CF_Stage6_Count__c</queriedFields>
        <queriedFields>CF_Stage7_Count__c</queriedFields>
        <queriedFields>CF_Stage8_Count__c</queriedFields>
        <queriedFields>CF_Stage9_Count__c</queriedFields>
        <queriedFields>CF_Stage10_Count__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLA_2</name>
        <label>Update SLA</label>
        <locationX>1849</locationX>
        <locationY>212</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage3_COunt__c</field>
            <value>
                <elementReference>Stage3_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage3_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Stage3_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0</name>
        <label>Update SLA</label>
        <locationX>1946</locationX>
        <locationY>117</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage2_Count__c</field>
            <value>
                <elementReference>Stage2_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage2_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Stage2_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0</name>
        <label>Update SLA</label>
        <locationX>1770</locationX>
        <locationY>314</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage4_Count__c</field>
            <value>
                <elementReference>Stage4_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage4_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage4_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0</name>
        <label>Update SLA</label>
        <locationX>2052</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage1_Count__c</field>
            <value>
                <elementReference>Stage1_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage1_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Stage1_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1690</locationX>
        <locationY>425</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage5_Count__c</field>
            <value>
                <elementReference>Stage5_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage5_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage5_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1704</locationX>
        <locationY>562</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage6_Count__c</field>
            <value>
                <elementReference>Stage6_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage6_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage6_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1772</locationX>
        <locationY>657</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage7_Count__c</field>
            <value>
                <elementReference>Stage7_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage7_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage7_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1855</locationX>
        <locationY>754</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage8_Count__c</field>
            <value>
                <elementReference>Stage8_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage8_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage8_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>2141</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage10_Count__c</field>
            <value>
                <elementReference>Stage10_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage10_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage10_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>2000</locationX>
        <locationY>823</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage9_Count__c</field>
            <value>
                <elementReference>Stage9_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage9_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage9_Start_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage10_End_Time</name>
        <label>Update Stage10 End Time</label>
        <locationX>1188</locationX>
        <locationY>1363</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage10_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Stage10_Duration_Minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage1_End_Time</name>
        <label>Update Stage1 End Time</label>
        <locationX>182</locationX>
        <locationY>1357</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_Stage1_Duration_Minutes__c</field>
            <value>
                <elementReference>STage1SumMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage1_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage2_End_Time</name>
        <label>Update Stage2 End Time</label>
        <locationX>297</locationX>
        <locationY>1292</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_Stage2_Duration_Minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage2_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage3_End_Time</name>
        <label>Update Stage3 End Time</label>
        <locationX>392</locationX>
        <locationY>1237</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_Stage3_Duration_Minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage3_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage4_End_Time</name>
        <label>Update Stage4 End Time</label>
        <locationX>480</locationX>
        <locationY>1115</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage4_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Stage4_Duration_Minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage5_End_Time</name>
        <label>Update Stage5 End Time</label>
        <locationX>590</locationX>
        <locationY>1053</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage5_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Stage5_Duration_minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage6_End_Time_0_0</name>
        <label>Update Stage6 End Time</label>
        <locationX>768</locationX>
        <locationY>1053</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage6_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Stage6_Duration_Minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage7_End_Time</name>
        <label>Update Stage7 End Time</label>
        <locationX>890</locationX>
        <locationY>1123</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage7_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Stage7_Duration_minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage8_End_Time</name>
        <label>Update Stage8 End Time</label>
        <locationX>1000</locationX>
        <locationY>1216</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage8_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Stage8_Duration_minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage9_End_Time</name>
        <label>Update Stage9 End Time</label>
        <locationX>1087</locationX>
        <locationY>1303</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage9_End_Time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Stage9_Duration_Minutes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Total_Stage_Duration_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <start>
        <locationX>134</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Bypass</targetReference>
        </connector>
        <object>LLC_BI__Opportunity_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingSLARec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SLA_Solution__c</objectType>
    </variables>
    <variables>
        <name>SingleSLARec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SLA_Solution__c</objectType>
    </variables>
</Flow>
