flows/PE_PolicyException_CREATE_UPDATE_Action_RR_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>collect_PE_records_of_PP</name>
        <label>collect PE records of PP</label>
        <locationX>429</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>severityValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_PE_records.LLC_BI__Severity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_PE_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>highest_severity_value</name>
        <label>highest severity value</label>
        <locationX>429</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Severity_Val</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_sorted_collection_for_highest_value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_sorted_collection_for_highest_value</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sort_severity_value_collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort severity value collection</label>
        <locationX>341</locationX>
        <locationY>2063</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>severityValues</collectionReference>
        <connector>
            <targetReference>iterate_sorted_collection_for_highest_value</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Severity_and_PP_exists</name>
        <label>Check for Severity and PP exists</label>
        <locationX>561</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_PE_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>filter_PE_records</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_PE_records.LLC_BI__Severity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_PE_records.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Product_Package_of_PE_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collect_PE_records_of_PP</targetReference>
            </connector>
            <label>filter PE records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Loan_exists</name>
        <label>Check if Loan exists</label>
        <locationX>627</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Checking_severity_null_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Exists</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan</targetReference>
            </connector>
            <label>Loan Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking severity null or not</description>
        <name>Checking_severity_null_or_not</name>
        <label>Checking severity null or not</label>
        <locationX>627</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Package_of_PE_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checking_severity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Severity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>TRUE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Board_Reportable__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>TRUE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_policy_exception_template_records</targetReference>
            </connector>
            <label>checking severity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_has_PP</name>
        <label>Loan has PP</label>
        <locationX>627</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Query_Policy_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Package_of_PE_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllPERecordsofPP</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoWorkflow_Check</name>
        <label>NoWorkflow Check</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_Loan_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>PE_Records_Exists</name>
        <label>PE Records Exists</label>
        <locationX>473</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Query_Policy_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAllPERecordsofPP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_PE_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Query_Policy_Type</name>
        <label>Query Policy Type</label>
        <locationX>627</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Query_Custom_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_Reg_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collateral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advance Rate &gt; Regulatory Threshold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Query_Custom_Metadata</targetReference>
            </connector>
            <label>AR-Reg Threshold</label>
        </rules>
        <rules>
            <name>Exceed_Policy_LTV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collateral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exceed Policy LTV Limit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Custom_Metadata</targetReference>
            </connector>
            <label>Exceed Policy LTV</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CREATE_UPDATE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE_PolicyException_CREATE_UPDATE_Action_RR_Flow</label>
    <loops>
        <name>Iterate_Over_PE_records</name>
        <label>Iterate Over PE records</label>
        <locationX>341</locationX>
        <locationY>1571</locationY>
        <collectionReference>getAllPERecordsofPP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Severity_and_PP_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sort_severity_value_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_sorted_collection_for_highest_value</name>
        <label>iterate sorted collection for highest value</label>
        <locationX>341</locationX>
        <locationY>2171</locationY>
        <collectionReference>severityValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>highest_severity_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PP_s_Highest_Policy_Exception_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Query_Custom_Metadata</name>
        <label>Copy 1 of Copy 1 of Query Custom Metadata</label>
        <locationX>891</locationX>
        <locationY>2855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Default_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_PE_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_PE_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <object>CM_Policy_Exception_Collateral_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>DefaultPolicy</assignToReference>
            <field>Default_Policy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Query_Custom_Metadata</name>
        <label>Copy 1 of Query Custom Metadata</label>
        <locationX>363</locationX>
        <locationY>2855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Default_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Collateral_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Collateral_Mgmt__r.LLC_BI__Collateral_Type__r.LLC_BI__Collateral_Code__c</elementReference>
            </value>
        </filters>
        <object>CM_Policy_Exception_Collateral_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>DefaultPolicy</assignToReference>
            <field>CF_Statutory_LTV_Limit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Package_of_PE_Record</name>
        <label>Get Product Package of PE Record</label>
        <locationX>627</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_has_PP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAllPERecordsofPP</name>
        <label>getAllPERecordsofPP</label>
        <locationX>473</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PE_Records_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Package_of_PE_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Policy_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting policy exception template records</description>
        <name>Getting_policy_exception_template_records</name>
        <label>Getting policy exception template records</label>
        <locationX>495</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_severity_on_current_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Policy_Exception_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Custom_Metadata</name>
        <label>Query Custom Metadata</label>
        <locationX>627</locationX>
        <locationY>2855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Default_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Collateral_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Collateral_Mgmt__r.LLC_BI__Collateral_Type__r.LLC_BI__Collateral_Code__c</elementReference>
            </value>
        </filters>
        <object>CM_Policy_Exception_Collateral_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>DefaultPolicy</assignToReference>
            <field>Default_Policy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Default_Policy</name>
        <label>Update Default Policy</label>
        <locationX>627</locationX>
        <locationY>3047</locationY>
        <inputAssignments>
            <field>CF_Policy__c</field>
            <value>
                <elementReference>DefaultPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>495</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Checking_severity_null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_New_Policy_Exception__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_s_Highest_Policy_Exception_record</name>
        <label>Update PP&apos;s Highest Policy Exception record</label>
        <locationX>341</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Query_Policy_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Facilities_Count__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Highest_Policy_Exception__c</field>
            <value>
                <elementReference>Severity_Val</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating severity on current record</description>
        <name>Updating_severity_on_current_record</name>
        <label>Updating severity on current record</label>
        <locationX>495</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Get_Product_Package_of_PE_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Board_Reportable__c</field>
            <value>
                <elementReference>Getting_policy_exception_template_records.Board_Reportable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Severity__c</field>
            <value>
                <elementReference>Getting_policy_exception_template_records.LLC_BI__Severities__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NoWorkflow_Check</targetReference>
        </connector>
        <object>LLC_BI__Policy_Exception__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Critical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </variables>
    <variables>
        <name>DefaultPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Severity_Val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>severityValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
