flows/PE_PolicyException_Delete_Action_RR_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Highest_Severity_Value</name>
        <label>Assign Highest Severity Value</label>
        <locationX>138</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>SeverityValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_severity_value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_severity_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Severity_value_to_SeverityCollection_variable</name>
        <label>Assignment Severity value to SeverityCollection variable</label>
        <locationX>138</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>SeverityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_PE_records.LLC_BI__Severity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_PE_records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Severity_Value_collection_variable</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Severity Value collection variable</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>SeverityCollection</collectionReference>
        <connector>
            <targetReference>Iterate_over_severity_value</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>CriticalAsSeverityValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </constants>
    <constants>
        <name>MajorAsSeverityValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Major</stringValue>
        </value>
    </constants>
    <constants>
        <name>MinorAsSeverityValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Minor</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Validate_Loan_has_PP</name>
        <label>Validate Loan has PP</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_has_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ALL_PE_record_for_PP</targetReference>
            </connector>
            <label>Check Loan has PP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_PE_Records_Exist</name>
        <label>Validate PE Records Exist</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Update_PP_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PE_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ALL_PE_record_for_PP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_PE_records</targetReference>
            </connector>
            <label>Check PE Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Severity_of_PE_record</name>
        <label>Validate Severity of PE record</label>
        <locationX>270</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_PE_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Severity_of_PE_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_PE_records.LLC_BI__Severity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_over_PE_records.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_PP_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Severity_value_to_SeverityCollection_variable</targetReference>
            </connector>
            <label>Check Severity of PE record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CriticalSeverityValue</name>
        <dataType>Number</dataType>
        <expression>Case({!$Record.LLC_BI__Severity__c}, &apos;Critical&apos;, 3, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MajorSeverityValue</name>
        <dataType>Number</dataType>
        <expression>Case({!$Record.LLC_BI__Severity__c}, &apos;Major&apos;, 2, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MinorSeverityValue</name>
        <dataType>Number</dataType>
        <expression>Case({!$Record.LLC_BI__Severity__c}, &apos;Minor&apos;, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PE_PolicyException_CREATE_UPDATE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE_PolicyException_Delete_Action_RR_Flow</label>
    <loops>
        <name>Iterate_over_PE_records</name>
        <label>Iterate over PE records</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <collectionReference>Get_ALL_PE_record_for_PP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Severity_of_PE_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Severity_Value_collection_variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_severity_value</name>
        <label>Iterate over severity value</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <collectionReference>SeverityCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Highest_Severity_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PP_s_Highest_Policy_Exception_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ALL_PE_record_for_PP</name>
        <label>Get ALL PE record for PP</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_PE_Records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PP_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Policy_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PP_Record</name>
        <label>Get PP Record</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Loan_has_PP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PP_Records</name>
        <label>Update PP Records</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Highest_Policy_Exception__c</field>
            <value>
                <elementReference>SeverityEmptyValue</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_s_Highest_Policy_Exception_record</name>
        <label>Update PP&apos;s Highest Policy Exception record</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Facilities_Count__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Highest_Policy_Exception__c</field>
            <value>
                <elementReference>SeverityValue</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PP_Record</targetReference>
        </connector>
        <object>LLC_BI__Policy_Exception__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HighestNumericalSeverityValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HighestSeverityValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberSeverityValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SeverityCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SeverityEmptyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>SeverityValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
