flows/PP_Approver_Selection_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fast_Track_approval_0</name>
        <label>Fast Track approval</label>
        <locationX>2404</locationX>
        <locationY>3902</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>loopLoansforApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Product_Package_Auto_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getPPrecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Loan_Approvals</name>
        <label>Loan Approvals</label>
        <locationX>2492</locationX>
        <locationY>4142</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>loopLoansforApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Loan_Auto_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>loopLoansforApproval.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PP_Submit_for_Approval</name>
        <label>PP Submit for Approval</label>
        <locationX>3306</locationX>
        <locationY>6338</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Product_Package_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getPPrecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Approvers</name>
        <label>Assign Approvers</label>
        <locationX>4538</locationX>
        <locationY>5030</locationY>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approvers_0</name>
        <label>Assign Approvers</label>
        <locationX>3438</locationX>
        <locationY>6002</locationY>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver2_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approvers_0_0</name>
        <label>Assign Approvers</label>
        <locationX>2602</locationX>
        <locationY>5510</locationY>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver2_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver3_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approvers_0_0_0</name>
        <label>Assign Approvers</label>
        <locationX>2866</locationX>
        <locationY>5510</locationY>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver2_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver3_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Loan Committee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approvers_0_0_0_0</name>
        <label>Assign Approvers</label>
        <locationX>3130</locationX>
        <locationY>5510</locationY>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver2_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver3_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Director Loan Committee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approvers_0_0_0_0_0</name>
        <label>Assign Approvers</label>
        <locationX>2338</locationX>
        <locationY>5510</locationY>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver2_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver3_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Board Of Directors</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CO_as_Approvers</name>
        <label>Assign CO as Approvers</label>
        <locationX>2932</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>getPPrecord.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPPrecord.CF_Credit_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CreditAction_PE_Count</name>
        <label>Assign CreditAction PE Count</label>
        <locationX>4142</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>CreditActionPECount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPERecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Normal_PE_Count</name>
        <label>Assign Normal PE Count</label>
        <locationX>3878</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>OriginalPECount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPERecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_values</name>
        <label>Assign the values</label>
        <locationX>3854</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>displayParentLoanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parentLoanTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayCreditLoanDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditLoanTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditActionPECount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalPECount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopParentLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Role_IDs_0</name>
        <label>Assign User Role IDs</label>
        <locationX>3394</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ChiefExecutiveOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRoles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Role_IDs_0_0</name>
        <label>Assign User Role IDs</label>
        <locationX>3658</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ChiefCreditOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRoles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Role_IDs_0_0_0</name>
        <label>Assign User Role IDs</label>
        <locationX>3922</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RegionalCreditOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRoles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Role_IDs_0_0_0_0</name>
        <label>Assign User Role IDs</label>
        <locationX>4186</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ChiefBankingOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRoles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Credit_Actioned_loans_to_True_0</name>
        <label>Set Has Credit Actioned loans to True</label>
        <locationX>3658</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasCreditLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasRegOCreditActionLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Credit_Actioned_loans_to_True_0_0</name>
        <label>Set Has Credit Actioned loans to True</label>
        <locationX>3922</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasCreditLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasRRDowngradedLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Credit_Actioned_loans_to_True_0_0_0</name>
        <label>Set Has Credit Actioned loans to True</label>
        <locationX>3394</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasCreditLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditActionedLoanIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumofLoanAmountAllLoans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Credit_Actioned_loans_to_True_0_0_0_0</name>
        <label>Set Has Credit Actioned loans to True</label>
        <locationX>4186</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasCreditLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditActionedLoanIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumofLoanAmountAllLoans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Normal_Loans_to_True</name>
        <label>Set Has Normal Loans to True</label>
        <locationX>4450</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasNormalLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumNewMoneyNormalLoans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.LLC_BI__Amount_New_Money__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumofLoanAmountAllLoans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Normal_Loans_to_True_0</name>
        <label>Set Has Normal Loans to True</label>
        <locationX>4714</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasNormalLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasRegONormalLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Normal_Loans_to_True_1</name>
        <label>Set Has Normal Loans to True</label>
        <locationX>4978</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasNormalLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasRRDowngradedNormalLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Normal_Loans_to_True_2</name>
        <label>Set Has Normal Loans to True</label>
        <locationX>5242</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>HasNormalLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumNewMoneyNormalLoans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.LLC_BI__Amount_New_Money__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumofLoanAmountAllLoans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLoans.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approver_1_authority</name>
        <label>Check Approver 1 authority</label>
        <locationX>3306</locationX>
        <locationY>4790</locationY>
        <defaultConnector>
            <targetReference>Approver_1_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Approver1</defaultConnectorLabel>
        <rules>
            <name>RegO_500K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Approver_2Screen_0</targetReference>
            </connector>
            <label>RegO&gt;=500K</label>
        </rules>
        <rules>
            <name>RegO_NoPE_500K</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR ((5 AND 1 AND 4) OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Approver1_SA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_2Screen_0</targetReference>
            </connector>
            <label>RegO_NoPE_YesPE&lt;500K</label>
        </rules>
        <rules>
            <name>Goes_to_Approver2</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND (4 OR 5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Approver1_SA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Approver_2Screen_0</targetReference>
            </connector>
            <label>NoRegO_PE_YesNo_All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approver_2_authority</name>
        <label>Check Approver 2 authority</label>
        <locationX>3438</locationX>
        <locationY>5030</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approver3Screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Goes to Approver3</defaultConnectorLabel>
        <rules>
            <name>RegO_500K_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver3Screen_0_0</targetReference>
            </connector>
            <label>RegO_&gt;=500K</label>
        </rules>
        <rules>
            <name>RegO_NoPE_500K_1</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (5 AND 1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_1_2</targetReference>
            </connector>
            <label>RegO_NoPE_YesPE&lt;500K</label>
        </rules>
        <rules>
            <name>Approver1_and_2</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (3 AND ((5 AND 2)))</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Approver1_SA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_1_2</targetReference>
            </connector>
            <label>NoRegO_and_PE_NoYes_All</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approver_3_authority</name>
        <label>Check Approver 3 authority</label>
        <locationX>2866</locationX>
        <locationY>5270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RegO_and_500K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_4Screen_0_0</targetReference>
            </connector>
            <label>RegO_and_&gt;=500K</label>
        </rules>
        <rules>
            <name>Approver1_2_and_3</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (8 AND 9 AND 4 AND 3) OR (6 AND 2 AND 3 AND 8 AND 9) OR (7 AND 3 AND 8 AND 9) OR (6 AND 5 AND 2 AND 3) OR (7 AND 5 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Approver1_SA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2Approver3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_1_2_3</targetReference>
            </connector>
            <label>No_YesRegO_and_PE_NoYes_All</label>
        </rules>
        <rules>
            <name>X5mm</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6) OR (5 AND 10 AND 11 AND 3) OR (6 AND ((7 OR 8 OR 9) AND 4)) OR (10 AND ((7 OR 8 OR 9) AND 11))</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Approver1_SA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2Approver3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_4Screen</targetReference>
            </connector>
            <label>No_YesRegO_and_PE_NoYes_All&lt;5mm</label>
        </rules>
        <rules>
            <name>XGreaterEqual5mm</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6) OR (5 AND ((7 OR 8 OR 9) AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Approver1_SA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SumOFApprover1Approver2Approver3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_4Screen_0</targetReference>
            </connector>
            <label>NoRegO_and_PE_NoYes_All&gt;=5mm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loan</name>
        <label>Check Loan</label>
        <locationX>4142</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>loopPERecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PE</defaultConnectorLabel>
        <rules>
            <name>Normal_Loan_PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopParentLoans.LLC_BI__ParentLoanId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopPERecords.LLC_BI__Loan__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Normal_PE_Count</targetReference>
            </connector>
            <label>Normal Loan PE</label>
        </rules>
        <rules>
            <name>Credit_Actioned_Loans_PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopParentLoans.LLC_BI__RenewalLoanId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopPERecords.LLC_BI__Loan__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreditAction_PE_Count</targetReference>
            </connector>
            <label>Credit Actioned Loans PE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role_Names</name>
        <label>Check Role Names</label>
        <locationX>3922</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>loopRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CEO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRoles.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chief Executive Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Role_IDs_0</targetReference>
            </connector>
            <label>CEO</label>
        </rules>
        <rules>
            <name>CCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRoles.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chief Credit Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Role_IDs_0_0</targetReference>
            </connector>
            <label>CCO</label>
        </rules>
        <rules>
            <name>RCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRoles.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional Credit Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Role_IDs_0_0_0</targetReference>
            </connector>
            <label>RCO</label>
        </rules>
        <rules>
            <name>CBO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRoles.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chief Banking Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Role_IDs_0_0_0_0</targetReference>
            </connector>
            <label>CBO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_the_approval_routing</name>
        <label>Decide the approval routing</label>
        <locationX>3306</locationX>
        <locationY>1742</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentLoans</targetReference>
            </connector>
            <label>Credit Loans</label>
        </rules>
        <rules>
            <name>Normal_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PP_check_0_0</targetReference>
            </connector>
            <label>Normal Loans</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PE_Exists_on_loans</name>
        <label>If PE Exists on loans</label>
        <locationX>3854</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Assign_the_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPERecords1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopPERecords</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PP_check_0</name>
        <label>PP check</label>
        <locationX>2624</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>Normal_approval_display_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Approvals</defaultConnectorLabel>
        <rules>
            <name>Select_only_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Override_Fast_Track_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lender_Acknowledges_Fast_Track_10_Rule_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Select only one</label>
        </rules>
        <rules>
            <name>Fast_approval_criterias_Credit_Actions</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 8 AND 12 AND 13) OR (9 AND 10 AND 11 AND (2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 12 AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRegOCreditActionLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRRDowngradedLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Override_Fast_Track_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumofLoanAmountAllLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lender_Acknowledges_Fast_Track_10_Rule_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>auto_approval_display_screen_0</targetReference>
            </connector>
            <label>Fast approval criterias - Credit Actions</label>
        </rules>
        <rules>
            <name>Fast_approval_criterias_Normal_Loans1</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 AND 5) AND (6 OR 7 OR 8 OR 9) AND 10 AND 11 AND 12 AND 13 AND 14</conditionLogic>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x10PercentOfPPExposure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Normal_Override_Fast_Track_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Normal_Lender_Acknowledges_Fast_Track_10_Rule_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRegONormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRRDowngradedNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>auto_approval_display_screen_0</targetReference>
            </connector>
            <label>Fast approval criterias - Normal Loans</label>
        </rules>
        <rules>
            <name>Normal_Loans_Route_to_PP_Credit_Officer</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 AND 5) AND (6 OR 7 OR 8 OR 9) AND 10 AND 11 AND 12 AND 13 AND 14</conditionLogic>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x10PercentOfPPExposure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Normal_Override_Fast_Track_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Normal_Lender_Acknowledges_Fast_Track_10_Rule_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRegONormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRRDowngradedNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Normal_CO_approval_display_screen</targetReference>
            </connector>
            <label>Normal Loans - Route to PP Credit Officer</label>
        </rules>
    </decisions>
    <decisions>
        <name>PP_check_0_0</name>
        <label>PP check</label>
        <locationX>3306</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>Approver1Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Approvals</defaultConnectorLabel>
        <rules>
            <name>Fast_approval_criterias_0_0</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 10 AND 11) OR (8 AND 9 AND (2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRegOCreditActionLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRRDowngradedLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumofLoanAmountAllLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditLoan_Override_Fast_Track_Approval_Screen</targetReference>
            </connector>
            <label>Fast approval criterias - Credit Loans</label>
        </rules>
        <rules>
            <name>Fast_approval_criterias_Normal_Loans</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 AND 5) AND (6 OR 7 OR 8 OR 9) AND 10 AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x10PercentOfPPExposure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRegONormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRRDowngradedNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NormalLoan_Override_Fast_Track_Approval_Screen</targetReference>
            </connector>
            <label>Fast approval criterias - Normal Loans</label>
        </rules>
        <rules>
            <name>Normal_Loans_Route_to_Credit_Officer</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 AND 5) AND (6 OR 7 OR 8 OR 9) AND 10 AND 11 AND 12 AND 13</conditionLogic>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>x10PercentOfPPExposure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sumNewMoneyNormalLoans</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.CF_Credit_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRegONormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRRDowngradedNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>NormalLoan_Override_Fast_Track_Approval_Screen</targetReference>
            </connector>
            <label>Normal Loans - Route to Credit Officer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>1678</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>getRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateScreen1_0</targetReference>
            </connector>
            <label>Stage Check</label>
        </rules>
        <rules>
            <name>Exposure_not_null_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateScreen2</targetReference>
            </connector>
            <label>Exposure not null check</label>
        </rules>
        <rules>
            <name>Associated_loans_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Reviewable_Loan_Facilities_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateScreen3</targetReference>
            </connector>
            <label>Associated loans check</label>
        </rules>
        <rules>
            <name>PP_Stage_and_Status_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decisioning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPPrecord.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateScreen3_0</targetReference>
            </connector>
            <label>PP Stage and Status Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Loans_0</name>
        <label>Verify Loans</label>
        <locationX>4450</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>loopLoans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Credit_Action_Loans_with_No_Reg_O</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Credit_Actioned_loans_to_True_0_0_0</targetReference>
            </connector>
            <label>Has Credit Action Loans with No Reg O</label>
        </rules>
        <rules>
            <name>Has_Credit_Action_Loans_with_Reg_O</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Credit_Actioned_loans_to_True_0</targetReference>
            </connector>
            <label>Has Credit Action Loans with Reg O</label>
        </rules>
        <rules>
            <name>Has_Credit_Action_Loans_RR_downgraded</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.CF_Risk_Grade_Downgraded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Credit_Actioned_loans_to_True_0_0</targetReference>
            </connector>
            <label>Has Credit Action Loans RR downgraded</label>
        </rules>
        <rules>
            <name>Has_Credit_Action_Loans_No_RR_downgrade</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.CF_Risk_Grade_Downgraded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Credit_Actioned_loans_to_True_0_0_0_0</targetReference>
            </connector>
            <label>Has Credit Action Loans No RR downgrade</label>
        </rules>
        <rules>
            <name>Has_Normal_Loans_with_No_Reg_O</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Normal_Loans_to_True</targetReference>
            </connector>
            <label>Has Normal Loans with No Reg O</label>
        </rules>
        <rules>
            <name>Has_Normal_Loans_with_Reg_O</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Normal_Loans_to_True_0</targetReference>
            </connector>
            <label>Has Normal Loans with Reg O</label>
        </rules>
        <rules>
            <name>Has_Normal_Loans_with_RR_downgraded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.CF_Risk_Grade_Downgraded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Normal_Loans_to_True_1</targetReference>
            </connector>
            <label>Has Normal Loans with RR downgraded</label>
        </rules>
        <rules>
            <name>Has_Normal_Loans_with_No_RR_downgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopLoans.CF_Risk_Grade_Downgraded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Normal_Loans_to_True_2</targetReference>
            </connector>
            <label>Has Normal Loans with No RR downgrade</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Approver1</name>
        <dataType>String</dataType>
        <displayField>CF_User_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Approver1_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver1_SA</assignToReference>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Approver2</name>
        <dataType>String</dataType>
        <displayField>CF_User_Name__c</displayField>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChiefCreditOfficer</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegionalCreditOfficer</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Approver2_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver2_SA</assignToReference>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Approver3</name>
        <dataType>String</dataType>
        <displayField>CF_User_Name__c</displayField>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND 7 AND 8</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChiefExecutiveOfficer</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChiefBankingOfficer</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChiefCreditOfficer</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Approver1_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Approver2_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Approver3_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver3_SA</assignToReference>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SumOFApprover1Approver2</name>
        <dataType>Currency</dataType>
        <expression>{!Approver1_SA}+{!Approver2_SA}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumOFApprover1Approver2Approver3</name>
        <dataType>Currency</dataType>
        <expression>{!Approver1_SA}+{!Approver2_SA}+{!Approver3_SA}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>x10PercentOfPPExposure</name>
        <dataType>Currency</dataType>
        <expression>{!getPPrecord.CF_Total_Aggregate_Exposure__c} * (10/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PP Approver Selection Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP Approver Selection Screen Flow</label>
    <loops>
        <name>loopLoans</name>
        <label>loopLoans</label>
        <locationX>3306</locationX>
        <locationY>1190</locationY>
        <collectionReference>getLoans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Loans_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decide_the_approval_routing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopLoansforApproval</name>
        <label>loopLoansforApproval</label>
        <locationX>2404</locationX>
        <locationY>4022</locationY>
        <collectionReference>getLoans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loan_Approvals</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopParentLoans</name>
        <label>loopParentLoans</label>
        <locationX>3086</locationX>
        <locationY>2102</locationY>
        <collectionReference>getParentLoans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_PE_Exists_on_loans</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PP_check_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPERecords</name>
        <label>loopPERecords</label>
        <locationX>3790</locationX>
        <locationY>2342</locationY>
        <collectionReference>getPERecords1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Loan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_the_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopRoles</name>
        <label>loopRoles</label>
        <locationX>3306</locationX>
        <locationY>518</locationY>
        <collectionReference>getRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Role_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getLoans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLoans</name>
        <label>getLoans</label>
        <locationX>3306</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLoans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPPrecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Review_Ready__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentLoans</name>
        <label>getParentLoans</label>
        <locationX>3086</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPERecords1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__RenewalLoanId__c</field>
            <operator>In</operator>
            <value>
                <elementReference>creditActionedLoanIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__LoanRenewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPERecords1</name>
        <label>getPERecords1</label>
        <locationX>3086</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopParentLoans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPPrecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Policy_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPPrecord</name>
        <label>getPPrecord</label>
        <locationX>1678</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRoles</name>
        <label>getRoles</label>
        <locationX>3306</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopRoles</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Credit Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Banking Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Credit Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Executive Officer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fast_Track_flag_on_PP</name>
        <label>Update Fast Track flag on PP</label>
        <locationX>2404</locationX>
        <locationY>3782</locationY>
        <connector>
            <targetReference>Fast_Track_approval_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPPrecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Fast_Track_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP</name>
        <label>Update PP</label>
        <locationX>3306</locationX>
        <locationY>6218</locationY>
        <connector>
            <targetReference>PP_Submit_for_Approval</targetReference>
        </connector>
        <inputReference>getPPrecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Approver1Screen</name>
        <label>Approver 1</label>
        <locationX>3306</locationX>
        <locationY>4670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approver_1_authority</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;Selected PP has the below values&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>App1Text</name>
            <fieldText>&lt;p&gt;Please select the Approver 1&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approver_1</name>
            <choiceReferences>Approver1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approver 1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver3Screen_0_0</name>
        <label>Approver 3</label>
        <locationX>2866</locationX>
        <locationY>5150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Approver_3_authority</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Approver 1 = &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!Approver1}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Approver 2 = &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!Approver2}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select the Approver 3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approver_3_0_0</name>
            <choiceReferences>Approver3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approver 3</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_1_2</name>
        <label>Approver 1_2</label>
        <locationX>3438</locationX>
        <locationY>5882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Approvers_0</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The record will get submitted for Approval to the below levels&lt;/p&gt;&lt;p&gt;Level 1 - {!Approver1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 2 - {!Approver2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on Next to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_1_2_3</name>
        <label>Approver 1_2_3</label>
        <locationX>2602</locationX>
        <locationY>5390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Approvers_0_0</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The record will get submitted for Approval to the below levels&lt;/p&gt;&lt;p&gt;Level 1 - {!Approver1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 2 - {!Approver2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 3 - {!Approver3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on Next to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_1_Only</name>
        <label>Approver 1</label>
        <locationX>4538</locationX>
        <locationY>4910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Approvers</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The record will get submitted for Approval to the below level&lt;/p&gt;&lt;p&gt;Level 1 - {!Approver1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on Next to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_1_PP_Credit_Officer</name>
        <label>Approver 1 - PP Credit Officer</label>
        <locationX>2932</locationX>
        <locationY>3782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_CO_as_Approvers</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Text3_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The record will get submitted for Approval to the&lt;/p&gt;&lt;p&gt;Product Package Credit Officer - {!getPPrecord.CF_Credit_Officer__r.CF_User_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on Next to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_2Screen_0</name>
        <label>Approver 2</label>
        <locationX>3438</locationX>
        <locationY>4910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Approver_2_authority</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Approver 1 = {!Approver1}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select the Approver 2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approver_2_0</name>
            <choiceReferences>Approver2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approver 2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_4Screen</name>
        <label>Approver 4</label>
        <locationX>2866</locationX>
        <locationY>5390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Approvers_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The record will get submitted for Approval to the below levels&lt;/p&gt;&lt;p&gt;Level 1 - {!Approver1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 2 - {!Approver2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 3 - {!Approver3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 4 - Internal Loan Committee&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on Next to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_4Screen_0</name>
        <label>Approver 4</label>
        <locationX>3130</locationX>
        <locationY>5390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Approvers_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The record will get submitted for Approval to the below levels&lt;/p&gt;&lt;p&gt;Level 1 - {!Approver1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 2 - {!Approver2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 3 - {!Approver3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Level 4 - Director Loan Committee&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on Next to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_4Screen_0_0</name>
        <label>Approver 4</label>
        <locationX>2338</locationX>
        <locationY>5390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Approvers_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Text3_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Has Reg O Loan = &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!getPPrecord.CF_Has_Reg_O_Loan__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The record will get submitted for Approval to the below levels&lt;/p&gt;&lt;p&gt;Level 1 - {!Approver1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Level 2 - {!Approver2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Level 3 - {!Approver3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Level 4 - &lt;/span&gt;Board of Directors&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please click on Next to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>auto_approval_display_screen_0</name>
        <label>auto approval display screen</label>
        <locationX>2404</locationX>
        <locationY>3662</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Fast_Track_flag_on_PP</targetReference>
        </connector>
        <fields>
            <name>Text2_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Facilities Amount = {!sumofLoanAmountAllLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Risk Rating = {!getPPrecord.LLC_BI__Risk_Rating__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Risk Grade Downgrades = {!HasRRDowngradedLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has New Money Loans = {!HasNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Reg O Loans = {!HasRegOCreditActionLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Override Fast Track Approval = {!Override_Fast_Track_Approval}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lender Acknowledges Fast-Track / 10% Rule Eligibility = {!Lender_Acknowledges_Fast_Track_10_Rule_Eligibility}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;This Product Package is eligible for &apos;Fast-Track&apos; Approval. Please click &apos;Submit&apos; to approve&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HasCreditLoans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NormalLoans</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Facilities Amount = &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!sumofLoanAmountAllLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total New Money = {!sumNewMoneyNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Risk Rating = {!getPPrecord.LLC_BI__Risk_Rating__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Risk Grade Downgrades = {!HasRRDowngradedNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has New Money Loans = {!HasNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Reg O Loans = {!HasRegONormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Override Fast Track Approval = {!Normal_Override_Fast_Track_Approval}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lender Acknowledges Fast-Track / 10% Rule Eligibility = {!Normal_Lender_Acknowledges_Fast_Track_10_Rule_Eligibility}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;This Product Package is eligible for &apos;Fast-Track&apos; Approval. Please click &apos;Submit&apos; to approve&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HasNormalLoans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreditLoan_Override_Fast_Track_Approval_Screen</name>
        <label>CreditLoan Override Fast-Track Approval Screen</label>
        <locationX>2624</locationX>
        <locationY>3422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PP_check_0</targetReference>
        </connector>
        <fields>
            <name>Text2_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Policy Exception Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Original Loan Name(s)&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; ----&amp;gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;No of Policy Exceptions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!displayParentLoanDetails}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Credit Actioned Loan Name(s)&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; ----&amp;gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;No of Policy Exceptions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!displayCreditLoanDetails}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please check one of the checkboxes as applicable&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Override_Fast_Track_Approval</name>
            <dataType>Boolean</dataType>
            <fieldText>Override Fast-Track Approval?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please check this box if you wish to submit to Credit&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lender_Acknowledges_Fast_Track_10_Rule_Eligibility</name>
            <dataType>Boolean</dataType>
            <fieldText>Lender Acknowledges Fast-Track / 10% Rule Eligibility</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;ul&gt;&lt;li&gt;In order to continue with Fast-Track this box must be checked&lt;/li&gt;&lt;li&gt;If the box is not checked then it will go to the regular approval&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2052</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CreditLoan_Override_Fast_Track_Approval_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Text2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 11, 11); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please check only one of the checkboxes in the previous screen&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Normal_approval_display_screen</name>
        <label>Normal approval display screen</label>
        <locationX>3196</locationX>
        <locationY>3662</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approver1Screen</targetReference>
        </connector>
        <fields>
            <name>Text2_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Facilities Amount = &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!sumofLoanAmountAllLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Risk Rating = {!getPPrecord.LLC_BI__Risk_Rating__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Risk Grade Downgrades = {!HasRRDowngradedLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has New Money Loans = {!HasNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Reg O Loans = {!HasRegOCreditActionLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Override Fast Track Approval = {!Override_Fast_Track_Approval}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Lender Acknowledges Fast-Track / 10% Rule Eligibility = {!Lender_Acknowledges_Fast_Track_10_Rule_Eligibility}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This Product Package is not eligible for &apos;Fast-Track&apos; Approval. Please click &apos;Submit&apos; to continue to the regular approval process.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HasCreditLoans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Normalloansscreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Facilities Amount = &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!sumofLoanAmountAllLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total New Money = {!sumNewMoneyNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Risk Rating = {!getPPrecord.LLC_BI__Risk_Rating__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Risk Grade Downgrades = {!HasRRDowngradedNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has New Money Loans = {!HasNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Reg O Loans = {!HasRegONormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Override Fast Track Approval = {!Normal_Override_Fast_Track_Approval}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Lender Acknowledges Fast-Track / 10% Rule Eligibility = {!Normal_Lender_Acknowledges_Fast_Track_10_Rule_Eligibility}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This Product Package is not eligible for &apos;Fast-Track&apos; Approval. Please click &apos;Submit&apos; to continue to the regular approval process.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HasNormalLoans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Normal_CO_approval_display_screen</name>
        <label>Normal CO approval display screen</label>
        <locationX>2932</locationX>
        <locationY>3662</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approver_1_PP_Credit_Officer</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Normalloansscreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Exposure = ${!getPPrecord.CF_Total_Aggregate_Exposure__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Facilities Amount = &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!sumofLoanAmountAllLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total New Money = {!sumNewMoneyNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Risk Rating = {!getPPrecord.LLC_BI__Risk_Rating__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Highest Policy Exception = {!getPPrecord.CF_Highest_Policy_Exception__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Risk Grade Downgrades = {!HasRRDowngradedNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has New Money Loans = {!HasNormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Has Reg O Loans = {!HasRegONormalLoans}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Override Fast Track Approval = {!Normal_Override_Fast_Track_Approval}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Lender Acknowledges Fast-Track / 10% Rule Eligibility = {!Normal_Lender_Acknowledges_Fast_Track_10_Rule_Eligibility}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;This Product Package is not eligible for &apos;Fast-Track&apos; Approval. Please click &apos;Submit&apos; to send approval to Credit Officer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HasNormalLoans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NormalLoan_Override_Fast_Track_Approval_Screen</name>
        <label>NormalLoan Override Fast-Track Approval Screen</label>
        <locationX>3460</locationX>
        <locationY>3422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PP_check_0</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Text2_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please check one of the checkboxes as applicable&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Normal_Override_Fast_Track_Approval</name>
            <dataType>Boolean</dataType>
            <fieldText>Override Fast-Track Approval?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please check this box if you wish to submit to Credit&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Normal_Lender_Acknowledges_Fast_Track_10_Rule_Eligibility</name>
            <dataType>Boolean</dataType>
            <fieldText>Lender Acknowledges Fast-Track / 10% Rule Eligibility</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;ul&gt;&lt;li&gt;In order to continue with Fast-Track this box must be checked&lt;/li&gt;&lt;li&gt;If the box is not checked then it will go to the regular approval&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ValidateScreen1_0</name>
        <label>ValidateScreen1</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidateText1_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Product Package should be in Credit Underwriting in order to Submit for Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ValidateScreen2</name>
        <label>ValidateScreen2</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidateText1_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Exposure is not performed on this Product Package. Please add exposure and proceed for approval submission.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ValidateScreen3</name>
        <label>ValidateScreen3</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidateText1_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The associated loans are not ready to get submitted for approval. Please select &quot;Is Review Ready&quot; on Loan (Loan Details--&amp;gt;Final Review) and proceed with approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ValidateScreen3_0</name>
        <label>ValidateScreen3</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidateText1_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The Product Package is already submitted for approval. Please either Reject/Recall when you want to edit and re-submit for approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1552</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPPrecord</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>creditLoanTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!loopParentLoans.LLC_BI__RenewalLoanId__r.Name} ----&amp;gt; {!CreditActionPECount}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>parentLoanTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!loopParentLoans.LLC_BI__ParentLoanId__r.Name} ----&amp;gt; {!OriginalPECount}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Approver1_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver1_SA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Approver2_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver2_SA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Approver3_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver3_SA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ChiefBankingOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChiefCreditOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChiefExecutiveOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditActionedLoanIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditActionPECount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>displayCreditLoanDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayParentLoanDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasCreditLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasNormalLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRegOCreditActionLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRegONormalLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRRDowngradedLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRRDowngradedNormalLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstUpdateLoan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>OriginalPECount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionalCreditOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sumNewMoneyNormalLoans</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumofLoanAmountAllLoans</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
