flows/PP_Approver_Selection_Screen_Flow_R2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fast_Track_approval</name>
        <label>Fast Track approval</label>
        <locationX>2558</locationX>
        <locationY>3038</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>LooploansforApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Product_Package_Auto_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_PP_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Loan_Approvals</name>
        <label>Loan Approvals</label>
        <locationX>2646</locationX>
        <locationY>3254</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>LooploansforApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>LooploansforApproval.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Loan_Auto_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PP_Submit_for_Standard_Approval</name>
        <label>PP Submit for Standard Approval</label>
        <locationX>4142</locationX>
        <locationY>2246</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Product_Package_Approval_Process_R2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_PP_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Approval_Path_On_PP</name>
        <label>Assign Approval Path On PP</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 1 - Auto Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Auto_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_Approval_Queue_Field_on_Individual_Loan</name>
        <label>Assign Approver Approval Queue Field on Individual Loan</label>
        <locationX>4362</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>IndividualLoanVariable.CF_PP_Approver_Approval_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PP_Record.CF_Approver_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualLoanVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Credit_Underwriting_loans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Individual_Record_Value_To_Loan_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Record_Value_To_Loan_Collection_Variable</name>
        <label>Assign Individual Record Value To Loan Collection Variable</label>
        <locationX>4362</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfLoanVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualLoanVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Credit_Underwriting_loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fast_Approval_Assign_Approval_Path_On_PP</name>
        <label>Fast Approval Assign Approval Path On PP</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fast Track Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Fast_Track_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoNewFinancialInfoNeeded_Fast_Approval_Assign_Approval_Path_On_PP</name>
        <label>NoNewFinancialInfoNeeded Fast Approval Assign Approval Path On PP</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fast Track Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Fast_Track_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_10_Assign_Approval_Path_On_PP</name>
        <label>Path 10 Assign Approval Path On PP</label>
        <locationX>4538</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 10 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal and Director Loan Committee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_11_Assign_Approval_Path_On_PP</name>
        <label>Path 11 Assign Approval Path On PP</label>
        <locationX>4802</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 11 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal and Director Loan Committee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_12_Assign_Approval_Path_On_PP</name>
        <label>Path 12 Assign Approval Path On PP</label>
        <locationX>5066</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 12 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal and Director Loan Committee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_13_Assign_Approval_Path_On_PP</name>
        <label>Path 13 Assign Approval Path On PP</label>
        <locationX>5330</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 13 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Board Of Directors</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_14_Assign_Approval_Path_On_PP</name>
        <label>Path 14 Assign Approval Path On PP</label>
        <locationX>5594</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 14 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CEO CCO CBO Role Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_15_Assign_Approval_Path_On_PP</name>
        <label>Path 15 Assign Approval Path On PP</label>
        <locationX>5858</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 15 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal and Director Loan Committee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_2_Assign_Approval_Path_On_PP</name>
        <label>Path 2 Assign Approval Path On PP</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 2 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CBP RBP RCO Role Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_3_Assign_Approval_Path_On_PP</name>
        <label>Path 3 Assign Approval Path On PP</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 3 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RBP RCO Role Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_4_Assign_Approval_Path_On_PP</name>
        <label>Path 4 Assign Approval Path On PP</label>
        <locationX>2954</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 4 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RCO Executive Team Role Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_5_Assign_Approval_Path_On_PP</name>
        <label>Path 5 Assign Approval Path On PP</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 5 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CEO CCO CBO Role Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_6_Assign_Approval_Path_On_PP</name>
        <label>Path 6 Assign Approval Path On PP</label>
        <locationX>3482</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 6 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal and Director Loan Committee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_7_Assign_Approval_Path_On_PP</name>
        <label>Path 7 Assign Approval Path On PP</label>
        <locationX>3746</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 7 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Board Of Directors</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_8_Assign_Approval_Path_On_PP</name>
        <label>Path 8 Assign Approval Path On PP</label>
        <locationX>4010</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 8 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RCO Executive Team Role Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Path_9_Assign_Approval_Path_On_PP</name>
        <label>Path 9 Assign Approval Path On PP</label>
        <locationX>4274</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approval_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Path 9 - Standard Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PP_Record.CF_Approver_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CEO CCO CBO Role Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_Record_For_Normal_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approver_Queue_Assignment</name>
        <label>Approver Queue Assignment</label>
        <locationX>4274</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Approval_Path_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Path_2</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 OR 8) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoggedInUserApprovalAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_2_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 2</label>
        </rules>
        <rules>
            <name>Approval_Path_3</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 10) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoggedInUserApprovalAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>750000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_3_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 3</label>
        </rules>
        <rules>
            <name>Approval_Path_4</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 10) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>750000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoggedInUserApprovalAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_4_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 4</label>
        </rules>
        <rules>
            <name>Approval_Path_5</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 10 OR 11) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoggedInUserApprovalAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_5_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 5</label>
        </rules>
        <rules>
            <name>Approval_Path_6</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 9 OR 10 OR 11) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoggedInUserApprovalAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_6_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 6</label>
        </rules>
        <rules>
            <name>Approval_Path_7</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9) AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoggedInUserApprovalAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_7_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 7</label>
        </rules>
        <rules>
            <name>Approval_Path_8</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_8_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 8</label>
        </rules>
        <rules>
            <name>Approval_Path_9</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_9_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 9</label>
        </rules>
        <rules>
            <name>Approval_Path_10</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_10_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 10</label>
        </rules>
        <rules>
            <name>Approval_Path_11</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_11_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 11</label>
        </rules>
        <rules>
            <name>Approval_Path_12</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_12_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 12</label>
        </rules>
        <rules>
            <name>Approval_Path_13</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND (5 OR 6 OR 7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_13_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 13</label>
        </rules>
        <rules>
            <name>Approval_Path_14</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_14_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 14</label>
        </rules>
        <rules>
            <name>Approval_Path_15</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Path_15_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Approval Path 15</label>
        </rules>
    </decisions>
    <decisions>
        <name>PP_Check</name>
        <label>PP Check</label>
        <locationX>2558</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Normal_Approval_Process_PP_Fields_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Approval</defaultConnectorLabel>
        <rules>
            <name>Auto_Approval_Exposure_Amount_is_less_than_RM_s_Approval_Authority</name>
            <conditionLogic>((1 OR 2 OR 3 OR 4) AND 5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoggedInUserApprovalAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Structure_Loans__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoMainLoanToMainFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approval_Process_PP_Fields_Information</targetReference>
            </connector>
            <label>Auto Approval Exposure Amount is less than RM&apos;s Approval Authority</label>
        </rules>
        <rules>
            <name>PP_Fast_Track_Approval_Criteria</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4 OR 5 OR 6) AND 7 AND 18) OR ((1 AND 2) AND (3 OR 4 OR 5 OR 6) AND 8 AND 9 AND 10 AND 11 AND 17 AND 18) OR ((1 AND 2) AND (3 OR 4 OR 5 OR 6) AND 8 AND 12 AND 11  AND 13 AND 14 AND 18) OR ((1 AND 2) AND (3 OR 4 OR 5 OR 6) AND 8 AND 12 AND 15 AND 16 AND 13 AND 14 AND 18)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Reg_O_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Structure_Loans__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Is_Fully_Cash_Secured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Is_Fully_Cash_Secured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_New_Money_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Highest_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Total_Loan_Facilities_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_New_Money_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Recent_Risk_Grade_Downgrade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_New_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Total_Loan_Facilities_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Loan_Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoNewFinancialInfoNeededMainFlowCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Approval_Process_PP_Fields_Information</targetReference>
            </connector>
            <label>PP Fast Track Approval Criteria</label>
        </rules>
        <rules>
            <name>Check_NoNewFinancialInfoNeeded_Fast_Track_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoNewFinancialInfoNeededMainFlowCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoFinancialInfoNeeded_Fast_Approval_Process_PP_Fields_Information</targetReference>
            </connector>
            <label>Check NoNewFinancialInfoNeeded Fast Track Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>PP_Check_for_Fast_Track_Approval_Loans</name>
        <label>PP Check for Fast Track Approval Loans</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Normal_Approval_Process_PP_Fields_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Approval</defaultConnectorLabel>
        <rules>
            <name>Select_only_one</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Normal_Override_Fast_Track_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Normal_Lender_Acknowledges_Fast_Track_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Override_Fast_Track_Approval_Loan_Assistant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Select only one</label>
        </rules>
        <rules>
            <name>Fast_approval_criterias_Normal_Loans</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Normal_Override_Fast_Track_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Normal_Lender_Acknowledges_Fast_Track_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Override_Fast_Track_Approval_Loan_Assistant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoggedInUserRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Approval_Assign_Approval_Path_On_PP</targetReference>
            </connector>
            <label>Fast approval criterias - Normal Loans</label>
        </rules>
        <rules>
            <name>Loan_Assistant_logged_in_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoggedInUserRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Normal_Lender_Acknowledges_Fast_Track_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Assistant_Error_Screen</targetReference>
            </connector>
            <label>Loan Assistant logged in user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Auto_and_Fast_Track_PP_Approval</name>
        <label>Validate Auto and Fast Track PP Approval</label>
        <locationX>2558</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Approver_Auto_Approval_Process_PP_Fields_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto Approval</defaultConnectorLabel>
        <rules>
            <name>Fast_Track_PP_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Normal_Lender_Acknowledges_Fast_Track_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Track_approval</targetReference>
            </connector>
            <label>Fast Track PP Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Is_Review_Ready_Loans</name>
        <label>Validate Is Review Ready Loans</label>
        <locationX>4472</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Is_Review_Ready_Checkbox_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Is_Review_Ready_on_Main_Loans</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Loan_Facilities_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_PP_Record.LLC_BI__Reviewable_Loan_Facilities_Count__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Structure_Loans__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Has_Structure_Loans__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountNoOfChildLoansToMainFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountReviewReadyChildLoansToMainFlow</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Reviewable_Loan_Facilities_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountReviewReadyLoanUnderPP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PP</targetReference>
            </connector>
            <label>Check Is Review Ready on Main Loans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan_Collection_Variable_Is_Not_Null</name>
        <label>Validate Loan Collection Variable Is Not Null</label>
        <locationX>4274</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Approval_Path_PP_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Collection_Variable_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfLoanVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Underwriting_Loan_Under_PP</targetReference>
            </connector>
            <label>Check Loan Collection Variable Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>2261</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Populate_Checkbox_Fields_on_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>Stage Check</label>
        </rules>
        <rules>
            <name>Exposure_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>Exposure Check</label>
        </rules>
        <rules>
            <name>PP_Already_in_Approval_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decisioning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PP_Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3</targetReference>
            </connector>
            <label>PP Already in Approval Check</label>
        </rules>
    </decisions>
    <description>Updated  the Label for &quot;Lender Acknowledges Fast-Track Eligibility&quot; checkbox to say &quot;Lender Acknowledges Fast-Track / Small Loan Eligibility&quot; per story 1805</description>
    <dynamicChoiceSets>
        <name>RMApproverAuthorityLimit</name>
        <dataType>String</dataType>
        <displayField>CF_User_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Approver1_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Approver1_ApprovalAuthority</assignToReference>
            <field>LLC_BI__Secured_Individual_Lending_Authority__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>LoggedInUserApprovalAuthority</name>
        <dataType>Currency</dataType>
        <expression>{!$User.LLC_BI__Secured_Individual_Lending_Authority__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LoggedInUserRole</name>
        <dataType>Boolean</dataType>
        <expression>OR(
       {!$UserRole.Name} = &apos;Comm Loan Admin Assistant&apos;,
       {!$UserRole.Name} = &apos;SBA Loan Admin Assistant&apos;
)</expression>
    </formulas>
    <formulas>
        <name>PPRiskRating</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_PP_Record.LLC_BI__Risk_Rating__c})</expression>
    </formulas>
    <interviewLabel>PP Approver Selection Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP Approver Selection Screen Flow - R2</label>
    <loops>
        <name>Iterate_through_Credit_Underwriting_loans</name>
        <label>Iterate through Credit Underwriting loans</label>
        <locationX>4274</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Credit_Underwriting_Loans_Under_PP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver_Approval_Queue_Field_on_Individual_Loan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Loan_Collection_Variable_Is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LooploansforApproval</name>
        <label>LooploansforApproval</label>
        <locationX>2558</locationX>
        <locationY>3146</locationY>
        <collectionReference>CopyLoanCollectionFromSubFlow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loan_Approvals</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Credit_Underwriting_Loans_Under_PP</name>
        <label>Get Credit Underwriting Loans Under PP</label>
        <locationX>4274</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Credit_Underwriting_loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PP_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PP_Record</name>
        <label>Get PP Record</label>
        <locationX>2261</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credit_Underwriting_Loan_Under_PP</name>
        <label>Update Credit Underwriting Loan Under PP</label>
        <locationX>4142</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>PP_Submit_for_Standard_Approval</targetReference>
        </connector>
        <inputReference>CollectionOfLoanVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP</name>
        <label>Update PP</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>PP_Check</targetReference>
        </connector>
        <inputReference>Get_PP_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_Record_For_Normal_Approval</name>
        <label>Update PP Record For Normal Approval</label>
        <locationX>4274</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Normal_Submit_For_Approval_Process_PP_Fields_Information</targetReference>
        </connector>
        <inputReference>Get_PP_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_Records</name>
        <label>Update PP Records</label>
        <locationX>2558</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Validate_Auto_and_Fast_Track_PP_Approval</targetReference>
        </connector>
        <inputReference>Get_PP_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Approval_Path_Error_Screen</name>
        <label>Approval Path Error Screen</label>
        <locationX>6122</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approval_Path_Message</name>
            <fieldText>&lt;p&gt;Product Package is not satisfying any of configured approval path. Please Navigate to product package/loan record. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Path_PP_Error_Screen</name>
        <label>Approval Path PP Error Screen</label>
        <locationX>4406</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Approval_Path_Message</name>
            <fieldText>&lt;p&gt;Product Package is not satisfying any of configured approval path. Please Navigate to product package/loan record. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_Auto_Approval_Process_PP_Fields_Information</name>
        <label>Approver Auto Approval Process PP Fields Information</label>
        <locationX>2646</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fast_Track_approval</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_Copy_1_of_Display_1</name>
            <fieldText>&lt;p&gt;Total Exposure = ${!Get_PP_Record.CF_Total_Aggregate_Exposure__c}&lt;/p&gt;&lt;p&gt;Highest Policy Exception ={!Get_PP_Record.CF_Highest_Policy_Exception__c}&lt;/p&gt;&lt;p&gt;Risk Rating = {!Get_PP_Record.LLC_BI__Risk_Rating__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Reg O Loan = &lt;/span&gt;{!Get_PP_Record.CF_Has_Reg_O_Loan__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Approver = {!Get_PP_Record.CF_Approver_1__r.FirstName} {!Get_PP_Record.CF_Approver_1__r.MiddleName}{!Get_PP_Record.CF_Approver_1__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Approval Path ={!Get_PP_Record.CF_Approval_Path__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on &apos;Next&apos; to submit for approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Auto_Approval_Process_PP_Fields_Information</name>
        <label>Auto Approval Process PP Fields Information</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Approval_Path_On_PP</targetReference>
        </connector>
        <fields>
            <name>Display_1</name>
            <fieldText>&lt;p&gt;Total Exposure = ${!Get_PP_Record.CF_Total_Aggregate_Exposure__c}&lt;/p&gt;&lt;p&gt;Total Facilities Amount = ${!Get_PP_Record.LLC_BI__Total_Loan_Facilities_Amount__c}&lt;/p&gt;&lt;p&gt;Total New Money = &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!TotalNewMoneyLoan}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Risk Rating = {!Get_PP_Record.LLC_BI__Risk_Rating__c}&lt;/p&gt;&lt;p&gt;Highest Policy Exception = {!Get_PP_Record.CF_Highest_Policy_Exception__c}&lt;/p&gt;&lt;p&gt;Recent Risk Grade Downgrades =&amp;nbsp;{!Get_PP_Record.CF_Recent_Risk_Grade_Downgrade__c}&lt;/p&gt;&lt;p&gt;New Policy Exception = {!Get_PP_Record.CF_New_Policy_Exception__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has New Money Loans = &lt;/span&gt;{!Get_PP_Record.CF_Has_New_Money_Loan__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has Reg O Loan =  &lt;/span&gt;{!Get_PP_Record.CF_Has_Reg_O_Loan__c}&lt;/p&gt;&lt;p&gt;Structured Loan = {!Get_PP_Record.CF_Has_Structure_Loans__c}&lt;/p&gt;&lt;p&gt;Fully Cash Secured = {!Get_PP_Record.CF_Is_Fully_Cash_Secured__c}&lt;/p&gt;&lt;p&gt;Loan Purpose = {!Get_PP_Record.CF_Loan_Purpose__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;This Product Package is eligible for &apos;Auto&apos; Approval. Please click &apos;Next&apos; to continue to the auto approval process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loan_Override_Fast_Track_Approval_Screen</targetReference>
        </connector>
        <fields>
            <name>Error_Screen_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 11, 11); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please check only one of the checkboxes in the previous screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fast_Approval_Process_PP_Fields_Information</name>
        <label>Fast Approval Process PP Fields Information</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Loan_Override_Fast_Track_Approval_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Display_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Exposure = ${!Get_PP_Record.CF_Total_Aggregate_Exposure__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Facilities Amount = ${!Get_PP_Record.LLC_BI__Total_Loan_Facilities_Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total New Money = {!TotalNewMoneyLoan}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Risk Rating = {!Get_PP_Record.LLC_BI__Risk_Rating__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Highest Policy Exception = {!Get_PP_Record.CF_Highest_Policy_Exception__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Has Risk Grade Downgrades =&amp;nbsp;{!Get_PP_Record.CF_Recent_Risk_Grade_Downgrade__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Has New Money Loans = &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_PP_Record.CF_Has_New_Money_Loan__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Has Reg O Loan = &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_PP_Record.CF_Has_Reg_O_Loan__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;This product package is eligible for &apos;Fast-Track&apos; approval. Please click &apos;Next&apos; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_Review_Ready_Checkbox_Error_Screen</name>
        <label>Is Review Ready Checkbox Error Screen</label>
        <locationX>6386</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Display_4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 6, 6);&quot;&gt;The associated pre-approval loans are not ready to get submitted for approval. Please select &quot;Is Review Ready&quot; field on loan(Loan Details--&amp;gt;Final Review) and proceed with approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loan_Assistant_Error_Screen</name>
        <label>Loan Assistant Error Screen</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PP_Records</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error_Screen_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(253, 11, 11);&quot;&gt;You do not have the required authority to approve fast track deals. Navigate back to &apos;Previous&apos; screen, select &apos;Override Fast Track Approval&apos; and click on &quot;Next&quot; button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loan_Override_Fast_Track_Approval_Screen</name>
        <label>Loan Override Fast Track Approval Screen</label>
        <locationX>1502</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PP_Check_for_Fast_Track_Approval_Loans</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Text2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Please check one of the checkboxes as applicable&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Normal_Override_Fast_Track_Approval</name>
            <dataType>Boolean</dataType>
            <fieldText>Override Fast-Track Approval?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Check this box to submit this product package through the standard approval process&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoggedInUserRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Override_Fast_Track_Approval_Loan_Assistant</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Override Fast-Track Approval?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoggedInUserRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Normal_Lender_Acknowledges_Fast_Track_Eligibility</name>
            <dataType>Boolean</dataType>
            <fieldText>Lender Acknowledges Fast-Track / Small Loan Eligibility</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please certify that this deal meets all other fast track eligibility criteria. If this box is not checked, then this product package will go through the standard approval process.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoFinancialInfoNeeded_Fast_Approval_Process_PP_Fields_Information</name>
        <label>NoFinancialInfoNeeded Fast Approval Process PP Fields Information</label>
        <locationX>2162</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>NoNewFinancialInfoNeeded_Fast_Approval_Assign_Approval_Path_On_PP</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Display_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Exposure = ${!Get_PP_Record.CF_Total_Aggregate_Exposure__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Facilities Amount = ${!Get_PP_Record.LLC_BI__Total_Loan_Facilities_Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total New Money = {!TotalNewMoneyLoan}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Highest Policy Exception = {!Get_PP_Record.CF_Highest_Policy_Exception__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Has Risk Grade Downgrades =&amp;nbsp;{!Get_PP_Record.CF_Recent_Risk_Grade_Downgrade__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Has New Money Loans = &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_PP_Record.CF_Has_New_Money_Loan__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Has Reg O Loan = &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_PP_Record.CF_Has_Reg_O_Loan__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;No New Financial Info Needed = {!NoNewFinancialInfoNeededMainFlowCheckbox}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;This product package is eligible for &apos;Fast-Track&apos; approval. Please click &apos;Next&apos; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Normal_Approval_Process_PP_Fields_Information</name>
        <label>Normal Approval Process PP Fields Information</label>
        <locationX>4274</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approver_Queue_Assignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Display_1</name>
            <fieldText>&lt;p&gt;Total Exposure = ${!Get_PP_Record.CF_Total_Aggregate_Exposure__c}&lt;/p&gt;&lt;p&gt;Total Facilities Amount = ${!Get_PP_Record.LLC_BI__Total_Loan_Facilities_Amount__c}&lt;/p&gt;&lt;p&gt;Total New Money = &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!TotalNewMoneyLoan}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Risk Rating = {!Get_PP_Record.LLC_BI__Risk_Rating__c}&lt;/p&gt;&lt;p&gt;Highest Policy Exception = {!Get_PP_Record.CF_Highest_Policy_Exception__c}&lt;/p&gt;&lt;p&gt;Recent Risk Grade Downgrades =&amp;nbsp;{!Get_PP_Record.CF_Recent_Risk_Grade_Downgrade__c}&lt;/p&gt;&lt;p&gt;New Policy Exception = {!Get_PP_Record.CF_New_Policy_Exception__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Has Credit Action Loans = {!HasCreditLoans}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Has New Money Loans = &lt;/span&gt;{!Get_PP_Record.CF_Has_New_Money_Loan__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Has Reg O Loan = &lt;/span&gt;{!Get_PP_Record.CF_Has_Reg_O_Loan__c}&lt;/p&gt;&lt;p&gt;Structured Loan = {!Get_PP_Record.CF_Has_Structure_Loans__c}&lt;/p&gt;&lt;p&gt;Fully Cash Secured = {!Get_PP_Record.CF_Is_Fully_Cash_Secured__c}&lt;/p&gt;&lt;p&gt;Loan Purpose = {!Get_PP_Record.CF_Loan_Purpose__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This Product Package is not eligible for &apos;Fast-Track&apos; Approval. Please click &apos;Next&apos; to continue to the regular approval process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Normal_Submit_For_Approval_Process_PP_Fields_Information</name>
        <label>Normal Submit For Approval Process PP Fields Information</label>
        <locationX>4274</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Credit_Underwriting_Loans_Under_PP</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_1_of_Display_1</name>
            <fieldText>&lt;p&gt;Total Exposure = ${!Get_PP_Record.CF_Total_Aggregate_Exposure__c}&lt;/p&gt;&lt;p&gt;Highest Policy Exception = {!Get_PP_Record.CF_Highest_Policy_Exception__c}&lt;/p&gt;&lt;p&gt;Risk Rating = {!Get_PP_Record.LLC_BI__Risk_Rating__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Reg O Loan = &lt;/span&gt;{!Get_PP_Record.CF_Has_Reg_O_Loan__c}&lt;/p&gt;&lt;p&gt;Approval Path = {!Get_PP_Record.CF_Approval_Path__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Approver = {!Get_PP_Record.CF_Approver_Queue__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Please click &apos;Next&apos; to submit for approval&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validation_Error_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Product Package should be in Credit Underwriting in order to Submit for Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validation_Error_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Exposure is not performed on this Product Package. Please add exposure and proceed for approval submission.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validation_Error_3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Product Package is already submitted for approval. Please either Reject/Recall when you want to edit and re-submit for approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2135</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PP_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Populate_Checkbox_Fields_on_PP</name>
        <label>Populate Checkbox Fields on PP</label>
        <locationX>4472</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Validate_Is_Review_Ready_Loans</targetReference>
        </connector>
        <flowName>PP_Approver_Selection_Auto_Launched_Loan_Sub_Flow</flowName>
        <inputAssignments>
            <name>GetPPRecordFromMainFlow</name>
            <value>
                <elementReference>Get_PP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Count_of_Fully_Cash_Secured_Loans</assignToReference>
            <name>Count_of_Fully_Cash_Secured_Loans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CountNoOfChildLoansToMainFlow</assignToReference>
            <name>CountNoOfChildLoansFromSubFlow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CountReviewReadyChildLoansToMainFlow</assignToReference>
            <name>CountReviewReadyChildLoansFromSubFlow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CountReviewReadyLoanUnderPP</assignToReference>
            <name>CountReviewReadyLoanUnderPP</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Get_PP_Record</assignToReference>
            <name>GetPPRecordFromMainFlow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasCreditLoans</assignToReference>
            <name>HasCreditLoans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasNormalLoans</assignToReference>
            <name>HasNormalLoans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoMainLoanToMainFlow</assignToReference>
            <name>NoMainLoanFromSubFlow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoNewFinancialInfoNeededMainFlowCheckbox</assignToReference>
            <name>NoNewFinancialInfoNeededSubFlowCheckbox</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CopyLoanCollectionFromSubFlow</assignToReference>
            <name>SendCollectionOfLoansToMainFlow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalNewMoneyLoan</assignToReference>
            <name>TotalNewMoneyLoan</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Approver1_ApprovalAuthority</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Approver1_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignGetPPRecordToSendToSubFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfLoanVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>CopyLoanCollectionFromSubFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Count_of_Fully_Cash_Secured_Loans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountLoanPurposeWorkingCapitalLoan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountNoOfChildLoansToMainFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountReviewReadyChildLoansToMainFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountReviewReadyLoanUnderPP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HasCreditLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasNormalLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRegOCreditActionLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRegONormalLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRRDowngradedCreditActionLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasRRDowngradedNormalLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IndividualLoanVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoggedInUserRoleVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewMoneyLoanField</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NoMainLoanToMainFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoNewFinancialInfoNeededMainFlowCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalNewMoneyLoan</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
