flows/PP_Approver_Selection_Auto_Launched_Loan_Sub_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Count_ReviewReadyLoan</name>
        <label>Assign Count ReviewReadyLoan</label>
        <locationX>402</locationX>
        <locationY>3458</locationY>
        <assignmentItems>
            <assignToReference>CountReviewReadyLoanUnderPP</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoMainLoanFromSubFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number_Of_Limit_And_Sublimit_loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Has_Credit_Action_Loans</name>
        <label>Assign Has Credit Action Loans</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>HasCreditLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Structured_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Purpose_Field_On_PP</name>
        <label>Assign Loan Purpose Field On PP</label>
        <locationX>402</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Loan_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountLoanPurposeWorkingCapitalLoan</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_New_Money_On_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Records_to_Collection_Variable</name>
        <label>Assign Loan Records to Collection Variable</label>
        <locationX>50</locationX>
        <locationY>5042</locationY>
        <assignmentItems>
            <assignToReference>SendCollectionOfLoansToMainFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Money_to_Loan</name>
        <label>Assign New Money to Loan</label>
        <locationX>402</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>NewMoneyLoanField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Amount_New_Money__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalNewMoneyLoan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewMoneyLoanField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Is_Review_Ready_Checkbox_on_loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_New_Financial_Info_Needed_Variable</name>
        <label>Assign No New Financial Info Needed Variable</label>
        <locationX>402</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>NoNewFinancialInfoNeededSubFlowCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Recent_Risk_Grade_Downgrade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Child_loans</name>
        <label>Assign Number of Child loans</label>
        <locationX>402</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>CountNoOfChildLoansFromSubFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Review_Ready_child_loans_under_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Review_Ready_Child_loans</name>
        <label>Assign Number of Review Ready Child loans</label>
        <locationX>402</locationX>
        <locationY>4058</locationY>
        <assignmentItems>
            <assignToReference>CountReviewReadyChildLoansFromSubFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Is_Review_Ready_Checkbox_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Fully_Cash_Secured_Loans</name>
        <label>Assignment for Fully Cash Secured Loans</label>
        <locationX>402</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Count_of_Fully_Cash_Secured_Loans</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_New_Money_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_New_Money_Loans</name>
        <label>Assignment for New Money Loans</label>
        <locationX>402</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Has_New_Money_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Money_Loans_for_Credit_Action_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_New_Policy_Exception_Check</name>
        <label>Assignment for New Policy Exception Check</label>
        <locationX>402</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_New_Policy_Exception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_for_loan_purpose_field_on_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Recent_Risk_Grade_Downgrade</name>
        <label>Assignment for Recent Risk Grade Downgrade</label>
        <locationX>402</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Recent_Risk_Grade_Downgrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_New_Policy_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Structured_Loans</name>
        <label>Assignment for Structured Loans</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Has_Structure_Loans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Fully_Cash_Secured_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_HasNormalLoans</name>
        <label>Assignment HasNormalLoans</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>HasNormalLoans</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Structured_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Has_New_Money_Field_on_PP</name>
        <label>Check Has New Money Field on PP</label>
        <locationX>534</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Has_New_Money_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_NoNewFinancialInfoNeededOnLoan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fully_Cash_Secured_Loan_False</name>
        <label>Fully Cash Secured Loan = False</label>
        <locationX>314</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Is_Fully_Cash_Secured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Working_Capital_Loan_Purpose_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fully_Cash_Secured_Loan_True</name>
        <label>Fully Cash Secured Loan = True</label>
        <locationX>50</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Is_Fully_Cash_Secured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Working_Capital_Loan_Purpose_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loan_Purpose_Loan_False</name>
        <label>Loan Purpose Loan = False</label>
        <locationX>50</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Loan_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Loan_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Has_New_Money_Field_on_PP</name>
        <label>Uncheck Has New Money Field on PP</label>
        <locationX>270</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>GetPPRecordFromMainFlow.CF_Has_New_Money_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_NoNewFinancialInfoNeededOnLoan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Fully_Cash_Secured_Loans</name>
        <label>Check for Fully Cash Secured Loans?</label>
        <locationX>534</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Check_for_New_Money_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Fully_Cash_Secured_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.CF_Loan_Fully_Cash_Secured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Fully_Cash_Secured_Loans</targetReference>
            </connector>
            <label>Has Fully Cash Secured Loans?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_Money_Loans</name>
        <label>Check for New Money Loans?</label>
        <locationX>534</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>New_Money_Loans_for_Credit_Action_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_New_Money_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasNormalLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Amount_New_Money__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_New_Money_Loans</targetReference>
            </connector>
            <label>Has New Money Loans?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_Policy_Exception</name>
        <label>Check for New Policy Exception</label>
        <locationX>534</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Validate_for_loan_purpose_field_on_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Policy_Exception_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.CF_New_Policy_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_New_Policy_Exception_Check</targetReference>
            </connector>
            <label>New Policy Exception Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Recent_Risk_Grade_Downgrade</name>
        <label>Check for Recent Risk Grade Downgrade</label>
        <locationX>534</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Check_for_New_Policy_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Risk_Grade_Downgrade_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.CF_Risk_Grade_Downgraded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Recent_Risk_Grade_Downgrade</targetReference>
            </connector>
            <label>Risk Grade Downgrade = Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Structured_Loans</name>
        <label>Check for Structured Loans</label>
        <locationX>534</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Check_for_Fully_Cash_Secured_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Structured_Loans</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub Limit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Structure_Hierarchy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Takedown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Structured_Loans</targetReference>
            </connector>
            <label>Has Structured Loans?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Loan_Records</name>
        <label>Check Number of Loan Records</label>
        <locationX>182</locationX>
        <locationY>4934</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Loan_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Records_to_Collection_Variable</targetReference>
            </connector>
            <label>Number of Loan Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Number_Of_Limit_And_Sublimit_loans</name>
        <label>Count Number Of Limit And Sublimit loans</label>
        <locationX>534</locationX>
        <locationY>3650</locationY>
        <defaultConnector>
            <targetReference>Count_Review_Ready_child_loans_under_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Limit_and_Sublimit_loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Highest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number_of_Child_loans</targetReference>
            </connector>
            <label>Check Limit and Sublimit loans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Fully_Secured_Loans</name>
        <label>Count of Fully Secured Loans</label>
        <locationX>182</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>Fully_Cash_Secured_Loan_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_No_of_Loan_Facilities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_of_Fully_Cash_Secured_Loans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetPPRecordFromMainFlow.LLC_BI__Loan_Facilities_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fully_Cash_Secured_Loan_True</targetReference>
            </connector>
            <label>Count = No of Loan Facilities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Working_Capital_Loan_Purpose_Field</name>
        <label>Count of Working Capital Loan Purpose Field</label>
        <locationX>182</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_Loan_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Count_of_Working_Capital_Loan_Purpose_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountLoanPurposeWorkingCapitalLoan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Purpose_Loan_False</targetReference>
            </connector>
            <label>Check Count of Working Capital Loan Purpose Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Review_Ready_child_loans_under_PP</name>
        <label>Count Review Ready child loans under PP</label>
        <locationX>534</locationX>
        <locationY>3950</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Is_Review_Ready_Checkbox_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Review_Ready_child_loans_under_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Highest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Is_Review_Ready__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number_of_Review_Ready_Child_loans</targetReference>
            </connector>
            <label>Check Review Ready child loans under PP</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Money_Loans_for_Credit_Action_Loans</name>
        <label>New Money Loans for Credit Action Loans</label>
        <locationX>534</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Validate_NoNewFinancialInfoNeededOnLoan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_New_Money_Loans_for_Credit_Action_loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Net_New_Funds__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Has_New_Money_Field_on_PP</targetReference>
            </connector>
            <label>Check New Money Loans for Credit Action loans</label>
        </rules>
        <rules>
            <name>Check_Net_New_Funds_for_Credit_Action_loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Net_New_Funds__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Has_New_Money_Field_on_PP</targetReference>
            </connector>
            <label>Check Net New Funds for Credit Action loans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_for_loan_purpose_field_on_PP</name>
        <label>Validate for loan purpose field on PP</label>
        <locationX>534</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Validate_New_Money_On_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_loan_purpose_field_on_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.CF_Loan_Purpose__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.CF_Loan_Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>18</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Purpose_Field_On_PP</targetReference>
            </connector>
            <label>Check for loan purpose field on PP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Is_Review_Ready_Checkbox_on_loan</name>
        <label>Validate Is Review Ready Checkbox on loan</label>
        <locationX>534</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>Count_Number_Of_Limit_And_Sublimit_loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Is_Review_Ready_Checkbox_on_loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Highest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_ReviewReadyLoan</targetReference>
            </connector>
            <label>Check Is Review Ready Checkbox on loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_New_Money_On_Loan</name>
        <label>Validate New Money On Loan</label>
        <locationX>534</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Validate_Is_Review_Ready_Checkbox_on_loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_New_Money_On_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Amount_New_Money__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Money_to_Loan</targetReference>
            </connector>
            <label>Check New Money On Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_NoNewFinancialInfoNeededOnLoan</name>
        <label>Validate NoNewFinancialInfoNeededOnLoan</label>
        <locationX>534</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Check_for_Recent_Risk_Grade_Downgrade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_NoNewFinancialInfoNeededOnLoan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCreditLoans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.CF_No_New_Financial_Info_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_No_New_Financial_Info_Needed_Variable</targetReference>
            </connector>
            <label>Check NoNewFinancialInfoNeededOnLoan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Loans</name>
        <label>Verify Loans</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_for_Structured_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Normal_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_HasNormalLoans</targetReference>
            </connector>
            <label>Has Normal Loans</label>
        </rules>
        <rules>
            <name>Has_Credit_Action_Loans</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Is_Review_Ready_Checkbox_Loans.LLC_BI__Is_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Has_Credit_Action_Loans</targetReference>
            </connector>
            <label>Has Credit Action Loans</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PP Approver Auto Launched  Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP Approver Selection Auto Launched Loan Sub Flow</label>
    <loops>
        <name>Iterate_through_Is_Review_Ready_Checkbox_Loans</name>
        <label>Iterate through Is Review Ready Checkbox Loans</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Loan_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Loans</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_of_Fully_Secured_Loans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Records</name>
        <label>Get Loan Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Is_Review_Ready_Checkbox_Loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPPRecordFromMainFlow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_of_Fully_Cash_Secured_Loans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountLoanPurposeWorkingCapitalLoan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountNoOfChildLoansFromSubFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountReviewReadyChildLoansFromSubFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountReviewReadyLoanUnderPP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>GetPPRecordFromMainFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
    <variables>
        <name>HasCreditLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasNormalLoans</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewMoneyLoanField</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NoMainLoanFromSubFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoNewFinancialInfoNeededSubFlowCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendCollectionOfLoansToMainFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>TotalNewMoneyLoan</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
