flows/PP_Product_Package_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Recipients</name>
        <label>Notify Recipients</label>
        <locationX>523</locationX>
        <locationY>4979</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>If_PP_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notifications.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Product Package Approver Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PP_Approved_Alert_to_RM_LA</name>
        <label>PP Approved Alert to RM &amp; LA</label>
        <locationX>523</locationX>
        <locationY>6287</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Assignment_to_collection_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Product_Package_Approved_Bell_Notification_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>IsApprovedNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>IsApprovedNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RM_LA_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Approver_1_Field_on_PP</name>
        <label>Assign Approver 1 Field on PP</label>
        <locationX>655</locationX>
        <locationY>5363</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification_Type_Id_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LA_to_Collection_List</name>
        <label>Assign LA to Collection List</label>
        <locationX>523</locationX>
        <locationY>5987</locationY>
        <assignmentItems>
            <assignToReference>RM_LA_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CF_Loan_Assistant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RM_LA_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LOS_Default_App</name>
        <label>Assign LOS Default App</label>
        <locationX>545</locationX>
        <locationY>3947</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Default_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pp-details-tbom.pp-details-tbom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_nCino_PP_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_and_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PP_Stage</name>
        <label>Assign PP Stage</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_PP_Stage_Is_In_Application_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PP_Stage_0</name>
        <label>Assign PP Stage</label>
        <locationX>974</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_PP_Stage_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RM_to_Collection_List</name>
        <label>Assign RM to Collection List</label>
        <locationX>523</locationX>
        <locationY>5687</locationY>
        <assignmentItems>
            <assignToReference>RM_LA_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CF_Relationship_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_LA_Field_is_Not_Blank_On_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TM_Default_App</name>
        <label>Assign TM Default App</label>
        <locationX>809</locationX>
        <locationY>3947</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Default_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pp-treasury-ui-tbom.pp-details-parent-treasury-tbom</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_and_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Aggregate_Exp_to_Loan</name>
        <label>Assign Total Aggregate Exp to Loan</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.CF_Total_Aggregate_Exposure_Check_On_PP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Loan_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Loan_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Aggregate_Exp_to_Loan_2</name>
        <label>Assign Total Aggregate Exp to Loan</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.CF_Total_Aggregate_Exposure_Check_On_PP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Loan_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Loan_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Aggregate_Exp_to_Loan_3</name>
        <label>Assign Total Aggregate Exp to Loan</label>
        <locationX>1458</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.CF_Total_Aggregate_Exposure_Check_On_PP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Loan_for_Aggregate_Exposure.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Loan_for_Aggregate_Exposure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Aggregate_Exp_to_Loan_New</name>
        <label>Assign Total Aggregate Exp to Loan</label>
        <locationX>1194</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.CF_Total_Aggregate_Exposure_Check_On_PP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Loan_for_Aggregate_Exposure.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Loan_for_Aggregate_Exposure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Individual_Record_Variable</name>
        <label>Assign Value To Individual Record Variable</label>
        <locationX>1040</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>IndividualLoanRecordVariable.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualLoanRecordVariable.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualLoanRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteratethrougheachloanrecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfLoanRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualLoanRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Loan_Stage_Is_Equal_To_Qualification_Proposal_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Individual_Record_Variable_0</name>
        <label>Assign Value To Individual Record Variable</label>
        <locationX>1040</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>IndividualLoanRecordVariable.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualLoanRecordVariable.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualLoanRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteratethrougheachloanrecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfLoanRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualLoanRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iteratethrougheachloanrecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Recipients_From_Queue</name>
        <label>Assigning Recipients From Queue</label>
        <locationX>611</locationX>
        <locationY>4787</locationY>
        <assignmentItems>
            <assignToReference>RecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_Queue_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_Queue_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_collection_variable</name>
        <label>Assignment to collection variable</label>
        <locationX>809</locationX>
        <locationY>6563</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfPPRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_PP_and_Loan_Collection_variable</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IsApprovedNotificationTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Package Approved</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Approver_Null_Check</name>
        <label>Approver Null Check</label>
        <locationX>655</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>If_PP_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Approver_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Approver Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Collection_Var_is_not_NULL</name>
        <label>Check if Collection Var is not NULL</label>
        <locationX>1106</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Get_nCino_PP_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_Collection_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Records_1</targetReference>
            </connector>
            <label>If Loan Collection is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Collection_Var_is_not_NULL_1</name>
        <label>Check if Collection Var is not NULL</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Get_nCino_PP_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_Collection_is_not_null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Records</targetReference>
            </connector>
            <label>If Loan Collection is not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>As part of story 1521</description>
        <name>Check_Loan_Facilities</name>
        <label>Check Loan Facilities</label>
        <locationX>809</locationX>
        <locationY>3839</locationY>
        <defaultConnector>
            <targetReference>Stage_and_Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Facilities_gt_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Facilities_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Converted_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LOS_Default_App</targetReference>
            </connector>
            <label>Loan Facilities &gt; 0</label>
        </rules>
        <rules>
            <name>Is_TS_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_nCino_TS_PP_Record_Type_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TM_Default_App</targetReference>
            </connector>
            <label>Is TS record type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_user_has_flow_permission_or_not</name>
        <label>Checking user has flow permission or not</label>
        <locationX>833</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Treasury_Maintenance_Product_Package</targetReference>
            </connector>
            <label>Checking no workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PP_Approved</name>
        <label>If PP Approved</label>
        <locationX>809</locationX>
        <locationY>5255</locationY>
        <defaultConnector>
            <targetReference>Assignment_to_collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Bell_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_1_Field_on_PP</targetReference>
            </connector>
            <label>Send Bell Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PPs_Total_Aggregate_Exp_fields_are_updated_new</name>
        <label>If PPs Total Aggregate Exp fields are updated new</label>
        <locationX>1458</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Loan_for_Aggregate_Exposure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_PPs_Total_Aggregate_Exp_fields_are_updated_new</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Total_Direct_Exposure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Total_Indirect_Exposure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Total_Affiliated_Exposure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Aggregate_Exp_to_Loan_New</targetReference>
            </connector>
            <label>Check If PPs Total Aggregate Exp fields are updated new</label>
        </rules>
        <rules>
            <name>Check_If_PP_s_Total_Aggregate_is_250000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Aggregate_Exp_to_Loan_3</targetReference>
            </connector>
            <label>Check If PP&apos;s Total Aggregate is &lt; 250000</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PPs_Total_Aggregate_Exp_is_greater_than_250000</name>
        <label>If PPs Total Aggregate Exp is greater than 250000</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Loan_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_PPs_Total_Aggregate_Exp_is_250000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Aggregate_Exp_to_Loan</targetReference>
            </connector>
            <label>If PPs Total Aggregate Exp is &gt; 250000</label>
        </rules>
        <rules>
            <name>If_PP_s_Total_Aggregate_is_250000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Total_Aggregate_Exposure__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Aggregate_Exp_to_Loan_2</targetReference>
            </connector>
            <label>If PP&apos;s Total Aggregate is &lt; 250000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Treasury_Maintenance_Product_Package</name>
        <label>Is Treasury Maintenance Product Package?</label>
        <locationX>55</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Validate_New_PP_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury Maintenance</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RM_LA_Exist</name>
        <label>RM &amp; LA Exist ?</label>
        <locationX>655</locationX>
        <locationY>6179</locationY>
        <defaultConnector>
            <targetReference>Assignment_to_collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Relationship_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Loan_Assistant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PP_Approved_Alert_to_RM_LA</targetReference>
            </connector>
            <label>Either one Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_and_Status_Check</name>
        <label>Stage and Status Check</label>
        <locationX>809</locationX>
        <locationY>4139</locationY>
        <defaultConnector>
            <targetReference>If_PP_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_and_Status_Check_for_Assignemnt</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decisioning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifications</targetReference>
            </connector>
            <label>Stage and Status Check for Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_LA_Field_is_Not_Blank_On_PP</name>
        <label>Validate LA Field is Not Blank On PP</label>
        <locationX>655</locationX>
        <locationY>5879</locationY>
        <defaultConnector>
            <targetReference>RM_LA_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_LA_field_is_not_null_on_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Loan_Assistant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LA_to_Collection_List</targetReference>
            </connector>
            <label>Check LA field is not null on PP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan_Collection_Variable_Is_Not_Null</name>
        <label>Validate Loan Collection Variable Is Not Null</label>
        <locationX>952</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Get_Loans_Under_PP_For_Total_Aggregate_Exposure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Collection_Variable_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfLoanRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Records_Under_PP</targetReference>
            </connector>
            <label>Check Loan Collection Variable Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan_Stage_Is_Equal_To_Qualification_Proposal</name>
        <label>Validate Loan Stage Is Equal To Qualification/Proposal</label>
        <locationX>1172</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Validate_Loan_Stage_Is_Equal_To_Qualification_Proposal_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Stage_Is_Equal_To_Qualification_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iteratethrougheachloanrecord.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Individual_Record_Variable</targetReference>
            </connector>
            <label>Check Loan Stage Is Equal To Qualification/Proposal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan_Stage_Is_Equal_To_Qualification_Proposal_0</name>
        <label>Validate Loan Stage Is Equal To Qualification/Proposal</label>
        <locationX>1172</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Iteratethrougheachloanrecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Stage_Is_Equal_To_Application_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iteratethrougheachloanrecord.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Individual_Record_Variable_0</targetReference>
            </connector>
            <label>Check Loan Stage Is Equal To Application Processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_New_PP_Record</name>
        <label>Validate New PP Record</label>
        <locationX>809</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_nCino_PP_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_New_PP_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_associated_Loan_records</targetReference>
            </connector>
            <label>Check New PP Record</label>
        </rules>
        <rules>
            <name>Check_For_PP_Record_Already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_PP_Stage_Is_In_Qualification_Proposal</targetReference>
            </connector>
            <label>Check For PP Record Already Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_PP_and_Loan_Collection_variable</name>
        <label>Validate PP Collection variable</label>
        <locationX>809</locationX>
        <locationY>6671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PP_Collection_variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfPPRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PP_Record</targetReference>
            </connector>
            <label>Check PP  Collection variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_PP_Stage_Changed</name>
        <label>Validate PP Stage Changed</label>
        <locationX>1106</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Get_Loans_Under_PP_For_Total_Aggregate_Exposure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_PP_Status_Changed_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllLoanRecordsUnderThisPP</targetReference>
            </connector>
            <label>Validate PP Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_PP_Stage_Is_In_Application_Processing</name>
        <label>Validate PP Stage Is In Application Processing</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Validate_PP_Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PP_Stage_Is_In_Application_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PP_Stage_0</targetReference>
            </connector>
            <label>Check PP Stage Is In Application Processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_PP_Stage_Is_In_Qualification_Proposal</name>
        <label>Validate PP Stage Is In Qualification/Proposal</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Validate_PP_Stage_Is_In_Application_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PP_Stage_Is_In_Qualification_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PP_Stage</targetReference>
            </connector>
            <label>Check PP Stage Is In Qualification/Proposal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_RM_Field_is_Not_Blank</name>
        <label>Validate RM Field is Not Blank</label>
        <locationX>655</locationX>
        <locationY>5579</locationY>
        <defaultConnector>
            <targetReference>Validate_LA_Field_is_Not_Blank_On_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_RM_field_is_not_null_on_PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Relationship_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RM_to_Collection_List</targetReference>
            </connector>
            <label>Check RM field is not null on PP</label>
        </rules>
    </decisions>
    <description>This flow has been used for PP automation requirement</description>
    <environments>Default</environments>
    <formulas>
        <name>GetQueueName</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.CF_Approver_4__c},
&quot;Internal Loan Committee&quot;, &quot;QU_Internal_Loan_Committee&quot;,
&quot;Director Loan Committee&quot;, &quot;QU_Director_Loan_Committee&quot;,
&quot;Board Of Directors&quot;, &quot;QU_Board_Of_Directors&quot;,
null)</expression>
    </formulas>
    <formulas>
        <name>IsApprovedNotificationBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&apos;product package has been approved and is ready for further review.&apos;</expression>
    </formulas>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LOSRecordTypeBoolean</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.RecordType.Name} = &apos;nCino Product Package&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;You have been assigned as an approver for this product package &quot;&amp;{!$Record.Name}&amp;&quot;. Please click here for details.&quot;</expression>
    </formulas>
    <interviewLabel>PP_Product Package Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP_Product Package Flow</label>
    <loops>
        <name>Iterate_through_Loan_for_Aggregate_Exposure</name>
        <label>Iterate through Loan for Aggregate Exposure</label>
        <locationX>1106</locationX>
        <locationY>2747</locationY>
        <collectionReference>Get_Loans_Under_PP_For_Total_Aggregate_Exposure</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_PPs_Total_Aggregate_Exp_fields_are_updated_new</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Collection_Var_is_not_NULL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iteratethrougheachloanrecord</name>
        <label>Iteratethrougheachloanrecord</label>
        <locationX>952</locationX>
        <locationY>1463</locationY>
        <collectionReference>GetAllLoanRecordsUnderThisPP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Loan_Stage_Is_Equal_To_Qualification_Proposal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Loan_Collection_Variable_Is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_Queue_Members</name>
        <label>Iterating Queue Members</label>
        <locationX>523</locationX>
        <locationY>4679</locationY>
        <collectionReference>Get_Queue_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Recipients_From_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notify_Recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Loan_Records</name>
        <label>Loop Over Loan Records</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_all_associated_Loan_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_PPs_Total_Aggregate_Exp_is_greater_than_250000</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Collection_Var_is_not_NULL_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_associated_Loan_records</name>
        <label>Get all associated Loan records</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Loan_Records</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification / Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Processing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loans_Under_PP_For_Total_Aggregate_Exposure</name>
        <label>Get Loans Under PP For Total Aggregate Exposure</label>
        <locationX>1106</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Loan_for_Aggregate_Exposure</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification / Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_nCino_PP_Record_Type_Id</name>
        <label>Get nCino PP Record Type Id</label>
        <locationX>809</locationX>
        <locationY>3623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_nCino_TS_PP_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>nCino Product Package</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_nCino_TS_PP_Record_Type_Id</name>
        <label>Get nCino TS PP Record Type Id</label>
        <locationX>809</locationX>
        <locationY>3731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Loan_Facilities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>nCino TS Product Package</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type_Id_PP</name>
        <label>Get Notification Type Id PP</label>
        <locationX>655</locationX>
        <locationY>5471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_RM_Field_is_Not_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Product_Package_Approved_Bell_Notification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>Product_Package_Approved_Bell_Notification_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>523</locationX>
        <locationY>4463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Members</name>
        <label>Get Queue Members</label>
        <locationX>523</locationX>
        <locationY>4571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_Queue_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllLoanRecordsUnderThisPP</name>
        <label>GetAllLoanRecordsUnderThisPP</label>
        <locationX>952</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iteratethrougheachloanrecord</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification / Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Processing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notifications</name>
        <label>Notifications</label>
        <locationX>655</locationX>
        <locationY>4247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_PP_Approver_Assignment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Records</name>
        <label>Update Loan Records</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_nCino_PP_Record_Type_Id</targetReference>
        </connector>
        <inputReference>LoanRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Records_1</name>
        <label>Update Loan Records</label>
        <locationX>974</locationX>
        <locationY>3347</locationY>
        <connector>
            <targetReference>Get_nCino_PP_Record_Type_Id</targetReference>
        </connector>
        <inputReference>LoanRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Records_Under_PP</name>
        <label>Update Loan Records Under PP</label>
        <locationX>820</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Get_Loans_Under_PP_For_Total_Aggregate_Exposure</targetReference>
        </connector>
        <inputReference>CollectionOfLoanRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_Record</name>
        <label>Update PP Record</label>
        <locationX>677</locationX>
        <locationY>6779</locationY>
        <inputReference>CollectionOfPPRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>707</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_user_has_flow_permission_or_not</targetReference>
        </connector>
        <object>LLC_BI__Product_Package__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfLoanRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfPPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
    <variables>
        <name>ConvertedOpportunityFieldCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualLoanRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanAssistant_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>My_PP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
    <variables>
        <name>Product_Package_Approved_Bell_Notification_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RM_LA_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalAggregateExpCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
