flows/PPTM_CREATE_UPDATE_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_Assigned_Role</name>
        <label>Check for Assigned Role</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Role_is_Credit_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lookup_CO</targetReference>
            </connector>
            <label>If User Role is Credit Officer</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Treasury</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookup_Treasury</targetReference>
            </connector>
            <label>If User Role is Treasury</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Loan_Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lookup_LA</targetReference>
            </connector>
            <label>If User Role is Loan Assistant</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Credit_Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookup_Credit_Analyst</targetReference>
            </connector>
            <label>If User Role is Credit Analyst</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Processor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookup_Processor</targetReference>
            </connector>
            <label>If User Role is Processor</label>
        </rules>
        <rules>
            <name>If_User_Role_is_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookup_RM</targetReference>
            </connector>
            <label>If User Role is RM</label>
        </rules>
        <rules>
            <name>If_User_Role_is_Secondary_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookup_Secondary_RM</targetReference>
            </connector>
            <label>If User Role is Secondary RM</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking user has flow permission or not</description>
        <name>Checking_user_has_flow_permission_or_not</name>
        <label>Checking user has flow permission or not</label>
        <locationX>1568</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Created_From_Loan_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Assigned_Role</targetReference>
            </connector>
            <label>Checking no workflow</label>
        </rules>
    </decisions>
    <description>To update the Deal Team on Product Package when a Product Package Team Member is updated.</description>
    <environments>Default</environments>
    <interviewLabel>PPTM_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PPTM_CREATE_UPDATE_RR_FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_lookup_CO</name>
        <label>Update lookup CO</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Credit_Officer__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup_Credit_Analyst</name>
        <label>Update Lookup Credit Analyst</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Credit_Analyst__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lookup_LA</name>
        <label>Update lookup LA</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Loan_Assistant__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup_Processor</name>
        <label>Update Lookup Processor</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Processor__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup_RM</name>
        <label>Update Lookup RM</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Relationship_Manager__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup_Secondary_RM</name>
        <label>Update Lookup Secondary RM</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Secondary_Relationship_Manager__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup_Treasury</name>
        <label>Update Lookup Treasury</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Treasury__c</field>
            <value>
                <elementReference>$Record.LLC_BI__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_user_has_flow_permission_or_not</targetReference>
        </connector>
        <object>LLC_BI__Product_Package_Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
