flows/PRO_ProductPackage_FF_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assignment_of_PP_UI</name>
        <label>Assignment of PP UI</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Default_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pp-details-tbom.pp-details-tbom</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Open</name>
        <label>Update Status to Open</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_New_TM_Product_Package</name>
        <label>Check New TM Product Package</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_TM_Product_Package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewPP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductPackageTM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Open</targetReference>
            </connector>
            <label>Is New TM Product Package</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewPP</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PRO_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRO_ProductPackage_FF_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_New_TM_Product_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PP_nCino_TS_Product_Package</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ProductPackageTM_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_of_PP_UI</targetReference>
        </connector>
        <object>LLC_BI__Product_Package__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductPackageTM_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
