flows/REQ_Requirement_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Checking context type</description>
        <name>Checking_context_type</name>
        <label>Checking context type</label>
        <locationX>1172</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Checklist__r.LLC_BI__Context_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LLC_BI__Loan__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_whether_status_was_changed_or_not</targetReference>
            </connector>
            <label>Checking for loan</label>
        </rules>
        <rules>
            <name>Checking_for_product_package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Checklist__r.LLC_BI__Context_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LLC_BI__Product_Package__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_whether_status_was_changed_or_not_0</targetReference>
            </connector>
            <label>Checking for product package</label>
        </rules>
        <rules>
            <name>Checking_for_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Checklist__r.LLC_BI__Context_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_whether_status_was_changed_or_not_0_0</targetReference>
            </connector>
            <label>Checking for account</label>
        </rules>
        <rules>
            <name>Checking_for_collater_management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Checklist__r.LLC_BI__Context_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LLC_BI__Collateral__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_whether_status_was_changed_or_not_0_0_0</targetReference>
            </connector>
            <label>Checking for collater management</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking whether status was changed or not</description>
        <name>Checking_whether_status_was_changed_or_not</name>
        <label>Checking whether status was changed or not</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Updating_the_current_record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_current_record</targetReference>
            </connector>
            <label>Checking for status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking whether status was changed or not</description>
        <name>Checking_whether_status_was_changed_or_not_0</name>
        <label>Checking whether status was changed or not</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Updating_the_current_record_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_status_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_current_record_0_0</targetReference>
            </connector>
            <label>Checking for status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking whether status was changed or not</description>
        <name>Checking_whether_status_was_changed_or_not_0_0</name>
        <label>Checking whether status was changed or not</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Updating_the_current_record_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_status_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_current_record_0_0_0_0</targetReference>
            </connector>
            <label>Checking for status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking whether status was changed or not</description>
        <name>Checking_whether_status_was_changed_or_not_0_0_0</name>
        <label>Checking whether status was changed or not</label>
        <locationX>1766</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Updating_the_current_record_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_status_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_current_record_0_0_0_0_0</targetReference>
            </connector>
            <label>Checking for status</label>
        </rules>
    </decisions>
    <description>It has all the customizations related to requirement object.</description>
    <formulas>
        <description>checking requirement new or not</description>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <description>Previous value of status</description>
        <name>Prevvalue_of_status</name>
        <dataType>String</dataType>
        <expression>TEXT(PRIORVALUE({!$Record.LLC_BI__Status__c}))</expression>
    </formulas>
    <interviewLabel>Requirement_Create_Update_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Requirement_Create_Update_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record</name>
        <label>Updating the current record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Loan__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Original_Value__c</field>
            <value>
                <elementReference>Prevvalue_of_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_User__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record_0</name>
        <label>Updating the current record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Loan__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record_0_0</name>
        <label>Updating the current record</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Original_Value__c</field>
            <value>
                <elementReference>Prevvalue_of_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Product_Package__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_User__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record_0_0_0</name>
        <label>Updating the current record</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Product_Package__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record_0_0_0_0</name>
        <label>Updating the current record</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Account__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Original_Value__c</field>
            <value>
                <elementReference>Prevvalue_of_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_User__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record_0_0_0_0_0</name>
        <label>Updating the current record</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Collateral_Mgmt__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Original_Value__c</field>
            <value>
                <elementReference>Prevvalue_of_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_User__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record_0_0_0_0_0_0</name>
        <label>Updating the current record</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Account__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the current record</description>
        <name>Updating_the_current_record_0_0_0_0_0_0_0</name>
        <label>Updating the current record</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Context_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Collateral_Mgmt__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_context_type</targetReference>
        </connector>
        <object>LLC_BI__Requirement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
