flows/REVIEW_CREATE_UPDATE_Action_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Annual_Review_Type</name>
        <label>Assign Annual Review Type</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeId_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Review_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Override_Auto_Approval_Checkbox_field</name>
        <label>Assign Override Auto Approval Checkbox field</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Override_Auto_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Review_Type_and_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Watch_List_Record_Type</name>
        <label>Assign Watch List Record Type</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeId_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Watch_List_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analysis In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Review_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Watchlist_Review_Type_Complete</name>
        <label>Assign Watchlist Review Type Complete</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeId_4_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_Type_To_Watch_List_Review_Complete_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Review_Type_and_Status</name>
        <label>Check Review Type and Status</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_Review_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Type_AdHoc_or_Annual_and_Status_Not_Approved</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdHoc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeId_1</targetReference>
            </connector>
            <label>Review Type AdHoc or Annual and Status Not Approved</label>
        </rules>
        <rules>
            <name>Review_Type_WatchList_and_Status_Not_Approved</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Watch List</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeId_3</targetReference>
            </connector>
            <label>Review Type WatchList and Status Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Type_Check</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Record_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Watch_List_Review_Type</targetReference>
            </connector>
            <label>Record Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Workflow</name>
        <label>No Workflow</label>
        <locationX>1238</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_has_Flow_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>User has Flow Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_Approved_0</name>
        <label>Review Approved</label>
        <locationX>974</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Review_Approved_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Risk_Rating_Review_record_update</targetReference>
            </connector>
            <label>Is Review Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for review type</description>
        <name>Review_Type_Check</name>
        <label>Review Type Check</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_Review_Type_and_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Ad_Hoc_Review_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdHoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Override_Auto_Approval_Checkbox_field</targetReference>
            </connector>
            <label>Check for Ad Hoc Review Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Watch_List_Review_Type</name>
        <label>Validate Watch List Review Type</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Review_Approved_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Watch_List_Review_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Watch List</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeId_4_0</targetReference>
            </connector>
            <label>Check Watch List Review Type</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>REV_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REVIEW_CREATE_UPDATE_Action_RR_FLOW</label>
    <loops>
        <name>Iterating_Risk_Rating_Reviews</name>
        <label>Iterating Risk Rating Reviews</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_Risk_Rating_Review_record_update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updating_Risk_Rating_Review_Update_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_ID_Update</name>
        <label>Get Record Type ID Update</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_Risk_Rating_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Annual_Review__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AR_Approved_Annual_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Rating_Review_record_update</name>
        <label>Get Risk Rating Review record update</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_ID_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Annual_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId_1</name>
        <label>getRecordTypeId_1</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Annual_Review_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Review_In_Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId_3</name>
        <label>getRecordTypeId_3</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Watch_List_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REV_Watch_List_In_Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId_4_0</name>
        <label>getRecordTypeId_4</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Watchlist_Review_Type_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REV_Watch_List_Review_Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Type_To_Watch_List_Review_Complete_0</name>
        <label>Update Record Type To Watch List Review Complete</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Review_Approved_0</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeId_4_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Record</name>
        <label>Update Review Record</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Risk_Rating_Review_Update_0</name>
        <label>Updating Risk Rating Review Update</label>
        <locationX>930</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Iterating_Risk_Rating_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterating_Risk_Rating_Reviews.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Approved_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Annual_Review__c</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Workflow</targetReference>
        </connector>
        <object>LLC_BI__Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
