flows/RIS_RiskRatingReview_DELETE_Action_RR_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Donwgrade_assignmnet</name>
        <label>Donwgrade assignmnet</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>downgradevalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_loan_risk_grade_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Donwgrade_assignmnet_0</name>
        <label>Donwgrade assignmnet</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>downgradevalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_loan_risk_grade_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking final risk grade value was there on loan</description>
        <name>Checking_final_risk_grade_value_was_there_on_loan</name>
        <label>Checking final risk grade value was there on loan</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_final_risk_grade_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Risk_Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Riskgradefromloan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_latest_risk_rating_record</targetReference>
            </connector>
            <label>Checking final risk grade value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_loans_risk_grade_0</name>
        <label>Checking loans risk grade</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Checking_final_risk_grade_value_was_there_on_loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_risk_grade_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Risk_Grade__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Riskgradefromloan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_loan_downgrade_value_0</targetReference>
            </connector>
            <label>Checking risk grade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_loans_risk_grade_0_0</name>
        <label>Checking loans risk grade</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Donwgrade_assignmnet_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_risk_grade_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Risk_Grade__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Getting_latest_risk_rating_record.LLC_BI__Final_Risk_Grade__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donwgrade_assignmnet</targetReference>
            </connector>
            <label>Checking risk grade</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking product package is null or not for the loan</description>
        <name>Checking_product_package_is_null_or_not_for_the_loan</name>
        <label>Checking product package is null or not for the loan</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checking_pp_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_loan_having_high_risk_grade</targetReference>
            </connector>
            <label>checking pp id</label>
        </rules>
    </decisions>
    <description>It will fire when delete operation was done on risk rating review.</description>
    <formulas>
        <description>Current records risk rating</description>
        <name>Currentrecordsriskrating</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.LLC_BI__Final_Risk_Grade__c})</expression>
    </formulas>
    <formulas>
        <name>Riskgradefromloan</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record.LLC_BI__Loan__r.LLC_BI__Risk_Grade__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Risk grade of loan</description>
        <name>Riskgradeofloan</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.LLC_BI__Loan__r.LLC_BI__Risk_Grade__c})</expression>
    </formulas>
    <interviewLabel>RIS_RiskRatingReview_DELETE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RIS_RiskRatingReview_DELETE_Action_RR_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Getting latest risk rating record</description>
        <name>Getting_latest_risk_rating_record</name>
        <label>Getting latest risk rating record</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_loans_risk_grade_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Final_Risk_Grade__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Annual_Review__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_loan_having_high_risk_grade</name>
        <label>Getting loan having high risk grade</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_pp_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <sortField>LLC_BI__Risk_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_loan_risk_grade_0_0</name>
        <label>Updating loan risk grade and downgrade</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>Checking_product_package_is_null_or_not_for_the_loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Risk_Grade_Downgraded__c</field>
            <value>
                <elementReference>downgradevalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Risk_Grade__c</field>
            <value>
                <elementReference>Getting_latest_risk_rating_record.LLC_BI__Final_Risk_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating pp record</description>
        <name>Updating_pp_record</name>
        <label>Updating pp record</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Risk_Rating__c</field>
            <value>
                <elementReference>Getting_loan_having_high_risk_grade.LLC_BI__Risk_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_the_loan_downgrade_value_0</name>
        <label>Updating the loan downgrade value</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Checking_final_risk_grade_value_was_there_on_loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Risk_Grade_Downgraded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_loans_risk_grade_0</targetReference>
        </connector>
        <object>LLC_BI__Annual_Review__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>downgradevalue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
