flows/RIS_RiskRating_CREATE_UPDATE_Action_RR_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assigning_downgrade_to_true</name>
        <label>Assigning downgrade to true</label>
        <locationX>644</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Downgradeflag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_final_risk_grade_was_null_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_downgrade_to_true_0</name>
        <label>Assigning downgrade to true</label>
        <locationX>908</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Downgradeflag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_final_risk_grade_was_null_or_not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking final risk grade was null or not</description>
        <name>Checking_final_risk_grade_was_null_or_not</name>
        <label>Checking final risk grade was null or not</label>
        <locationX>776</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Risk_Rating_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_final_risk_grade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Risk_Grade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Risk_Grade__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_loan_s_risk_grade_value</targetReference>
            </connector>
            <label>Checking final risk grade</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking product package is null or not</description>
        <name>Checking_product_package_is_null_or_not</name>
        <label>Checking product package is null or not</label>
        <locationX>622</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Risk_Rating_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comparing_risk_grade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_loan_record_related_to_current_records_loan_pp</targetReference>
            </connector>
            <label>Comparing risk grade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_record_was_attached_to_a_review</name>
        <label>Checking record was attached to a review</label>
        <locationX>776</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Checking_the_risk_rating_risk_grade_with_the_loan_s_risk_grade_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Review__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Risk_Grade__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_the_risk_rating_records_attached_to_a_particular_review</targetReference>
            </connector>
            <label>Checking review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_record_was_attached_to_a_review_0</name>
        <label>Checking record was attached to a review</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Risk_Rating_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_review_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Review__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_risk_rating_available_on_review_0</targetReference>
            </connector>
            <label>Checking review</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking the risk rating risk grade with the loan&apos;s risk grade</description>
        <name>Checking_the_risk_rating_risk_grade_with_the_loan_s_risk_grade_0</name>
        <label>Checking the risk rating risk grade with the loan&apos;s risk grade</label>
        <locationX>776</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Assigning_downgrade_to_true_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_risk_grade_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Final_Risk_Grade__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Riskgradefromloan</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Loan__r.LLC_BI__Risk_Grade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_downgrade_to_true</targetReference>
            </connector>
            <label>Checking risk grade</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking user has flow permission</description>
        <name>Checking_user_has_flow_permission</name>
        <label>Checking user has flow permission</label>
        <locationX>825</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Record_Condition</targetReference>
            </connector>
            <label>Checking no flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record_Condition</name>
        <label>Is New Record?</label>
        <locationX>479</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Checking_record_was_attached_to_a_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_record_was_attached_to_a_review_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_Rating_Approved</name>
        <label>Risk Rating Approved</label>
        <locationX>479</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Risk_Rating_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID</targetReference>
            </connector>
            <label>Is Risk Rating Approved</label>
        </rules>
    </decisions>
    <description>It has all customizations related to risk rating review</description>
    <formulas>
        <name>Is_New_Record</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Productpackageriskrating</name>
        <dataType>Number</dataType>
        <expression>Value(Text({!$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__r.LLC_BI__Risk_Rating__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Riskgradefromloan</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record__Prior.LLC_BI__Loan__r.LLC_BI__Risk_Grade__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>RIS_RiskRating_CREATE_UPDATE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RIS_RiskRatingReview_CREATE_UPDATE_Action_RR_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>347</locationX>
        <locationY>2375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_Risk_Rating_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Annual_Review__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AR_Approved_Annual_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_loan_record_related_to_current_records_loan_pp</name>
        <label>Getting loan record related to current records loan pp</label>
        <locationX>490</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_product_package_risk_rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <sortField>LLC_BI__Risk_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_the_risk_rating_records_attached_to_a_particular_review</name>
        <label>Getting the risk rating records attached to a particular review</label>
        <locationX>644</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_associated_review_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Review__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Annual_Review__c</object>
        <sortField>LLC_BI__Final_Risk_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_associated_review_record</name>
        <label>Updating associated review record</label>
        <locationX>644</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Checking_the_risk_rating_risk_grade_with_the_loan_s_risk_grade_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Review__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Risk_Grade__c</field>
            <value>
                <elementReference>Getting_the_risk_rating_records_attached_to_a_particular_review.LLC_BI__Final_Risk_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating loan&apos;s risk grade value</description>
        <name>Updating_loan_s_risk_grade_value</name>
        <label>Updating loan&apos;s risk grade value</label>
        <locationX>622</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Checking_product_package_is_null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Risk_Grade_Downgraded__c</field>
            <value>
                <elementReference>Downgradeflag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Risk_Grade__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Final_Risk_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating product package risk rating</description>
        <name>Updating_product_package_risk_rating</name>
        <label>Updating product package risk rating</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Risk_Rating_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Risk_Rating__c</field>
            <value>
                <elementReference>Getting_loan_record_related_to_current_records_loan_pp.LLC_BI__Risk_Grade__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_risk_rating_available_on_review_0</name>
        <label>Updating risk rating available on review</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Risk_Rating_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Review__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Risk_Rating_Review_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Risk_Rating_Review</name>
        <label>Updating Risk Rating Review</label>
        <locationX>347</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>CF_Approved_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_user_has_flow_permission</targetReference>
        </connector>
        <object>LLC_BI__Annual_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Downgradeflag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
