flows/SCIT_ScenarioItemAutomation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Fee_Including_Discounts_Less_Than_Cost</name>
        <label>Fee Including Discounts Less Than Cost?</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Change to Exception Price</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fee_Including_Discounts_cm__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fee_Including_Discounts_cm__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.LLC_BI__Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fee_Including_Discounts_Less_Than_Costs_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fee_Including_Discounts_cm__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fee_Including_Discounts_cm__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LLC_BI__Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fee_Including_Discounts_Less_Than_Costs_to_No</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Workflow_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_Including_Discounts_Less_Than_Cost</targetReference>
            </connector>
            <label>No Workflow = false</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SCIT_ScenarioItemAutomation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCIT_ScenarioItemAutomation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Fee_Including_Discounts_Less_Than_Costs_to_No</name>
        <label>Set Fee Including Discounts Less Than Costs = No</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Fee_Including_Discounts_Less_Than_Costs__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fee_Including_Discounts_Less_Than_Costs_Yes</name>
        <label>Set Fee Including Discounts Less Than Costs = Yes</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Fee_Including_Discounts_Less_Than_Costs__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Check</targetReference>
        </connector>
        <object>LLC_BI__Scenario_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExceptionPricingAndCostCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
