flows/SCIT_ScenarioItem_Create_Update_Action_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_true_to_ExceptionPricingAndCostCheckbox</name>
        <label>Assign true to ExceptionPricingAndCostCheckbox</label>
        <locationX>930</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ExceptionPricingAndCostCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_scenario_item_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>story-1274</description>
        <name>Check_Exception_Price_and_Cost</name>
        <label>Check Exception Price and Cost</label>
        <locationX>1040</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exception_Price_and_Cost_are_populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Exception_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Volumes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scenario_Item_Records_Associated_to_this_Scenario</targetReference>
            </connector>
            <label>Exception Price and Cost are populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>story 1274</description>
        <name>Check_Is_New_Record</name>
        <label>Check Is New Record</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Exception_Price_and_Cost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Default_Volume_field_set_on_the_Bill_point</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Exception_Price_and_Cost_field_values_for_Scenario_Item</name>
        <label>Compare Exception Price and Cost field values for Scenario Item</label>
        <locationX>1062</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_through_scenario_item_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Exception_Price_and_Cost_field_values_for_Scenario_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Exception_Price__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.LLC_BI__Cost__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Exception_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_true_to_ExceptionPricingAndCostCheckbox</targetReference>
            </connector>
            <label>Check Exception Price and Cost field values  for Scenario Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Default_Volume_field_set_on_the_Bill_point</name>
        <label>Is the Default Volume field set on the Bill point?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_def_vol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Bill_Point__r.Override_Default_Volume__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Default_Volume_on_the_Scenario_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>1056</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Workflow_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_New_Record</targetReference>
            </connector>
            <label>No Workflow = false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ExceptionPricingAndCostCheckbox_is_true</name>
        <label>Validate ExceptionPricingAndCostCheckbox is true</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_field_on_Scenario_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ExceptionPricingAndCostCheckbox_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionPricingAndCostCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_field_on_Scenario</targetReference>
            </connector>
            <label>Check ExceptionPricingAndCostCheckbox is true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SCIT_ScenarioItem_Update_RR_FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCIT_ScenarioItem_Create_Update_Action_RR_FLOW</label>
    <loops>
        <name>Loop_through_scenario_item_records</name>
        <label>Loop through scenario item records</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Scenario_Item_Records_Associated_to_this_Scenario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Exception_Price_and_Cost_field_values_for_Scenario_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_ExceptionPricingAndCostCheckbox_is_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Scenario_Item_Records_Associated_to_this_Scenario</name>
        <label>Get Scenario Item Records Associated to this Scenario</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_scenario_item_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Scenario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Scenario__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Scenario_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_the_Default_Volume_on_the_Scenario_Item</name>
        <label>Set the Default Volume on the Scenario Item</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>LLC_BI__Volumes__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Bill_Point__r.Override_Default_Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_field_on_Scenario</name>
        <label>Update field on Scenario</label>
        <locationX>710</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Scenario__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Exception_Price_less_than_Cost__c</field>
            <value>
                <elementReference>ExceptionPricingAndCostCheckbox</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Scenario__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_field_on_Scenario_to_FALSE</name>
        <label>Update field on Scenario to FALSE</label>
        <locationX>974</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Scenario__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Exception_Price_less_than_Cost__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Scenario__c</object>
    </recordUpdates>
    <start>
        <locationX>930</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Check</targetReference>
        </connector>
        <object>LLC_BI__Scenario_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExceptionPricingAndCostCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
