flows/SCN_SCENARIO_CREATE_UPDATE_FF_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Scenario_Name_Field_On_Scenario_Record</name>
        <label>Assign Scenario Name Field On Scenario Record</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScenarioName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scenario_Name_Field_On_Scenario_Records</name>
        <label>Assign Scenario Name Field On Scenario Records</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScenarioName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Number_Of_Scenario_Records_Associated_To_Opportunity</name>
        <label>Assign Total Number Of Scenario Records Associated To Opportunity</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberOfScenarioObjectRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_The_Scenario_Records_associated_to_this_opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Scenario_Name_Field_On_Scenario_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Number_Of_Scenario_Records_Associated_To_Opportunity_New</name>
        <label>Assign Total Number Of Scenario Records Associated To Opportunity New</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberOfScenarioObjectRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_The_Scenario_Records_associated_to_assigned_opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Scenario_Name_Field_On_Scenario_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>If_updated_value_0</name>
        <label>If updated value 0</label>
        <locationX>1282</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Reserve_Requirement_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Scenario_is_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>If_value_0</name>
        <label>If value 0</label>
        <locationX>578</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Reserve_Requirement_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opportunity_Lookup_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Opportunity_field_from_Converted_Form_Field</name>
        <label>Populate Opportunity field from Converted Form Field</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Conversion_Object__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_The_Scenario_Records_associated_to_assigned_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Opportunity_field_from_Converted_Form_Fields</name>
        <label>Populate Opportunity field from Converted Form Fields</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Conversion_Object__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Approver_field</name>
        <label>Update Approver field</label>
        <locationX>1018</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_LLC_BI_Reserve_Requirement_Rate</name>
        <label>Update LLC_BI__Reserve Requirement Rate</label>
        <locationX>314</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Reserve_Requirement_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opportunity_Lookup_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_LLC_BI_Reserve_Requirement_Ratess</name>
        <label>Update LLC_BI__Reserve Requirement Ratess</label>
        <locationX>1018</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Reserve_Requirement_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Scenario_is_Approved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>When I submit scenario record for approval and it got approved then I should be populated as Approver  [STY-1274.4 and DF-01261]</description>
        <name>Check_if_Scenario_is_Approved</name>
        <label>Check if Scenario is Approved</label>
        <locationX>1150</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_field</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Lookup_populated</name>
        <label>Is Opportunity Lookup populated?</label>
        <locationX>446</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_check</name>
        <label>Record check</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>If_value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CF_Reserve_Requirement_Rate_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Reserve_Requirement_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LLC_BI_Reserve_Requirement_Rate</targetReference>
            </connector>
            <label>CF_Reserve Requirement Rate Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_update_check</name>
        <label>Record update check</label>
        <locationX>1150</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>If_updated_value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CF_Reserve_Requirement_Rate_Updateds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Reserve_Requirement_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LLC_BI_Reserve_Requirement_Ratess</targetReference>
            </connector>
            <label>CF_Reserve Requirement Rate Updateds</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>1172</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_New_Scenario_Record</targetReference>
            </connector>
            <label>No Workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_New_Scenario_Record</name>
        <label>Validate New Scenario Record</label>
        <locationX>798</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Record_update_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_New_Scenario_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Scenario_Name_Field_Is_Blank</targetReference>
            </connector>
            <label>Check New Scenario Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Scenario_Name_Field_Is_Blank</name>
        <label>Validate Scenario Name Field Is Blank</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Record_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Scenario_Name_Field_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_The_Scenario_Records_associated_to_this_opportunity</targetReference>
            </connector>
            <label>Check Scenario Name Field Is Blank</label>
        </rules>
        <rules>
            <name>Check_Scenario_Name_and_Opportunity_Field_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Opportunity_field_from_Converted_Form_Field</targetReference>
            </connector>
            <label>Check Scenario Name and Opportunity Field Is Blank</label>
        </rules>
        <rules>
            <name>Check_Opportunity_Field_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Opportunity_field_from_Converted_Form_Fields</targetReference>
            </connector>
            <label>Check Opportunity Field Is Blank</label>
        </rules>
    </decisions>
    <description>Add a check at the end of the flow to populate the Opportunity lookup if it is blank</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ScenarioName</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Account__r.Name} &amp; &apos;-&apos; &amp; TEXT({!$Record.CF_Deposit_Account_Type__c}) &amp; &apos;-&apos; &amp; &quot;Scenario &quot; &amp; TEXT( {!TotalNumberOfScenarioObjectRecords}+1)</expression>
    </formulas>
    <interviewLabel>SCN_Scenario_Create_Update_FF_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCN_SCENARIO_CREATE_UPDATE_FF_FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_The_Scenario_Records_associated_to_assigned_opportunity</name>
        <label>Get All The Scenario Records associated to assigned opportunity</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Number_Of_Scenario_Records_Associated_To_Opportunity_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Scenario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_The_Scenario_Records_associated_to_this_opportunity</name>
        <label>Get All The Scenario Records associated to this opportunity</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Number_Of_Scenario_Records_Associated_To_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Scenario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Opportunity_Lookup</name>
        <label>Set Opportunity Lookup</label>
        <locationX>578</locationX>
        <locationY>1535</locationY>
        <inputAssignments>
            <field>LLC_BI__Opportunity__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Conversion_Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Check</targetReference>
        </connector>
        <object>LLC_BI__Scenario__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Casey_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalNumberOfScenarioObjectRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
