flows/SLA_Solution_On_Hold_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>New_Record</name>
        <label>New Record</label>
        <locationX>1049</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Stage1_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0</targetReference>
            </connector>
            <label>Stage1 Start</label>
        </rules>
        <rules>
            <name>Stage2_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0</targetReference>
            </connector>
            <label>Stage2 Start</label>
        </rules>
        <rules>
            <name>Stage3_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2</targetReference>
            </connector>
            <label>Stage3 Start</label>
        </rules>
        <rules>
            <name>Stage4_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0</targetReference>
            </connector>
            <label>Stage4 Start</label>
        </rules>
        <rules>
            <name>Stage5_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0</targetReference>
            </connector>
            <label>Stage5 Start</label>
        </rules>
        <rules>
            <name>Stage6_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage6 Start</label>
        </rules>
        <rules>
            <name>Stage7_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage7 Start</label>
        </rules>
        <rules>
            <name>Stage8_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage8</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage8 Start</label>
        </rules>
        <rules>
            <name>Stage9_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage9</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage9 Start</label>
        </rules>
        <rules>
            <name>Stage10_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage10</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_2_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Stage10 Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Record_Created</name>
        <label>New Record Created</label>
        <locationX>595</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Update_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UPDATE</defaultConnectorLabel>
        <rules>
            <name>ISNEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Equals_On_Hold</targetReference>
            </connector>
            <label>ISNEW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Equals_On_Hold</name>
        <label>Status Equals On Hold</label>
        <locationX>820</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_On_Hold</targetReference>
            </connector>
            <label>On Hold?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Action</name>
        <label>Update Action</label>
        <locationX>597</locationX>
        <locationY>851</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_1_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage1_On_Hold_Duration</targetReference>
            </connector>
            <label>Stage 1 update</label>
        </rules>
        <rules>
            <name>Stage_2_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage2_On_Hold_Duration</targetReference>
            </connector>
            <label>Stage 2 update</label>
        </rules>
        <rules>
            <name>Stage_3_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage3_On_Hold_Duration</targetReference>
            </connector>
            <label>Stage 3 update</label>
        </rules>
        <rules>
            <name>Stage_4_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage4_On_Hold_Duartion</targetReference>
            </connector>
            <label>Stage 4 Update</label>
        </rules>
        <rules>
            <name>Stage_5_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage5_On_Hold_Duartion</targetReference>
            </connector>
            <label>Stage 5 Update</label>
        </rules>
        <rules>
            <name>Stage_6_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage6_On_Hold_Duartion</targetReference>
            </connector>
            <label>Stage 6 Update</label>
        </rules>
        <rules>
            <name>Stage_7_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage7_On_Hold_Duartion</targetReference>
            </connector>
            <label>Stage 7 Update</label>
        </rules>
        <rules>
            <name>Stage_8_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage8</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage8_On_Hold_Duartion</targetReference>
            </connector>
            <label>Stage 8 Update</label>
        </rules>
        <rules>
            <name>Stage_9_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage9</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage9_On_Hold_Duartion</targetReference>
            </connector>
            <label>Stage 9 Update</label>
        </rules>
        <rules>
            <name>Stage_10_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Stage10</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__StatusName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage10_On_Hold_Duartion</targetReference>
            </connector>
            <label>Stage 10 Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Bypass</name>
        <label>User Bypass</label>
        <locationX>188</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_SLA_for_a_particular_Loan</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Stage10OnHoldSum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage10_On_Hold_Duration__c}+ {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage1_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.Stage1_Count__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage1_OnHold_Sum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage1_On_Hold_Duration__c} + {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>STage1SumMinutes</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Total_Stage1_Duration_Minutes__c} +{!$Record.LLC_BI__Total_Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage2_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.Stage2_Count__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>stage2_OnHold_Sum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage2_On_Hold_Duration__c} + {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage3_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.Stage3_COunt__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage3_OnHold_Sum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage3_On_Hold_Duration__c} + {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage4_Count</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage4_Count__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage4_OnHold_Sum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage4_On_Hold_Duration__c} + {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage5OnHoldSum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage5_On_Hold_Duration__c} + {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage6OnHoldSum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage6_On_Hold_Duration__c}+ {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage7OnHoldSum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage7_On_Hold_Duration__c}+ {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage8OnHoldSum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage8_On_Hold_Duration__c}+ {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stage9OnHoldSum</name>
        <dataType>Number</dataType>
        <expression>{!SingleSLARec.CF_Stage9_On_Hold_Duration__c}+ {!$Record.LLC_BI__Stage_Duration_Minutes__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity History On Hold Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLA Solution On Hold Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_SLA_for_a_particular_Loan</name>
        <label>Get Existing SLA for a particular Loan</label>
        <locationX>403</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Record_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SLA_Solution__c</object>
        <outputReference>SingleSLARec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage2_Count__c</queriedFields>
        <queriedFields>Stage1_Count__c</queriedFields>
        <queriedFields>Stage3_COunt__c</queriedFields>
        <queriedFields>CF_Stage4_Count__c</queriedFields>
        <queriedFields>CF_Total_Stage1_Duration_Minutes__c</queriedFields>
        <queriedFields>CF_Stage1_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage2_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage3_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage4_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage5_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage6_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage7_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage8_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage9_On_Hold_Duration__c</queriedFields>
        <queriedFields>CF_Stage10_On_Hold_Duration__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Check_On_Hold</name>
        <label>Check On Hold</label>
        <locationX>831</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2</name>
        <label>Update SLA</label>
        <locationX>1710</locationX>
        <locationY>263</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage3_End_Time__c</field>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0</name>
        <label>Update SLA</label>
        <locationX>1803</locationX>
        <locationY>191</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage2_End_Time__c</field>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0</name>
        <label>Update SLA</label>
        <locationX>1632</locationX>
        <locationY>331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage4_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1917</locationX>
        <locationY>115</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage1_End_Time__c</field>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1531</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage5_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1525</locationX>
        <locationY>536</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage6_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1628</locationX>
        <locationY>622</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage7_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1748</locationX>
        <locationY>699</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage8_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1855</locationX>
        <locationY>759</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage9_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_2_0_0_0_0_0_0_0_0_0</name>
        <label>Update SLA</label>
        <locationX>1968</locationX>
        <locationY>794</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Stage10_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage_Status_change_start_time__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage10_On_Hold_Duartion</name>
        <label>Update Stage10 On Hold Duartion</label>
        <locationX>1214</locationX>
        <locationY>1101</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage10_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage10OnHoldSum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage1_On_Hold_Duration</name>
        <label>Update Stage1 On Hold Duration</label>
        <locationX>50</locationX>
        <locationY>1083</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage1_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage1_OnHold_Sum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage2_On_Hold_Duration</name>
        <label>Update Stage2 On Hold Duration</label>
        <locationX>191</locationX>
        <locationY>1092</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage2_On_Hold_Duration__c</field>
            <value>
                <elementReference>stage2_OnHold_Sum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage3_On_Hold_Duration</name>
        <label>Update Stage3 On Hold Duration</label>
        <locationX>329</locationX>
        <locationY>1093</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage3_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage3_OnHold_Sum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage4_On_Hold_Duartion</name>
        <label>Update Stage4 On Hold Duartion</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage4_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage4_OnHold_Sum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage5_On_Hold_Duartion</name>
        <label>Update Stage5 On Hold Duartion</label>
        <locationX>566</locationX>
        <locationY>1096</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage5_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage5OnHoldSum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage6_On_Hold_Duartion</name>
        <label>Update Stage6 On Hold Duartion</label>
        <locationX>690</locationX>
        <locationY>1089</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage6_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage6OnHoldSum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage7_On_Hold_Duartion</name>
        <label>Update Stage7 On Hold Duartion</label>
        <locationX>810</locationX>
        <locationY>1095</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage7_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage7OnHoldSum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage8_On_Hold_Duartion</name>
        <label>Update Stage8 On Hold Duartion</label>
        <locationX>937</locationX>
        <locationY>1093</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage8_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage8OnHoldSum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage9_On_Hold_Duartion</name>
        <label>Update Stage9 On Hold Duartion</label>
        <locationX>1073</locationX>
        <locationY>1098</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_On_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Stage9_On_Hold_Duration__c</field>
            <value>
                <elementReference>Stage9OnHoldSum</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Solution__c</object>
    </recordUpdates>
    <start>
        <locationX>219</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Bypass</targetReference>
        </connector>
        <object>LLC_BI__Opportunity_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingSLARec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SLA_Solution__c</objectType>
    </variables>
    <variables>
        <name>SingleSLARec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SLA_Solution__c</objectType>
    </variables>
</Flow>
