flows/SLA_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_SLA_Fields</name>
        <label>Assign SLA Fields</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>getSLA.CF_LoanHoldEndTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA.CF_LoanHoldStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentLoan.LLC_BI__Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA.CF_LoanHoldStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA.CF_LoanHoldCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loanHoldCumulativeDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA.CF_LoanHoldStageDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanHoldStageDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLA_Fields_0</name>
        <label>Assign SLA Fields</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>getSLA_0.CF_LoanHoldEndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA_0.CF_LoanHoldStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentLoan.LLC_BI__Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA_0.CF_LoanHoldStageDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanHoldDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA_0.CF_CumulativeHold_Qualification_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HoldQualificationProposalFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA_0.CF_CumulativeHold_Application_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HoldApplicationProcessingFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSLA_0.CF_CumulativeHold_Credit_Underwriting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HoldCreditUnderwritingFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLA_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAction</name>
        <label>checkAction</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewRec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SLA</targetReference>
            </connector>
            <label>isNew</label>
        </rules>
        <rules>
            <name>isUpdateStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>updatedStageRec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_Records</targetReference>
            </connector>
            <label>isUpdateStage</label>
        </rules>
        <rules>
            <name>isHoldStatusStart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnHoldStatusStart</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSLA</targetReference>
            </connector>
            <label>isHoldStatusStart</label>
        </rules>
        <rules>
            <name>isHoldStatusEnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnHoldStatusEnd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSLA_0</targetReference>
            </connector>
            <label>isHoldStatusEnd</label>
        </rules>
    </decisions>
    <formulas>
        <name>HoldApplicationProcessingFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!getSLA_0.CF_LoanHoldStage__c} = &apos;Application Processing&apos;,
{!loanHoldDays},{!getSLA_0.CF_CumulativeHold_Application_Processing__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HoldCreditUnderwritingFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!getSLA_0.CF_LoanHoldStage__c} = &apos;Credit Underwriting&apos;,
{!loanHoldDays},{!getSLA_0.CF_CumulativeHold_Credit_Underwriting__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HoldQualificationProposalFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!getSLA_0.CF_LoanHoldStage__c} = &apos;Qualification / Proposal&apos;,
{!loanHoldDays},{!getSLA_0.CF_CumulativeHold_Qualification_Proposal__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loanHoldCumulativeDays</name>
        <dataType>Number</dataType>
        <expression>IF({!getSLA.CF_LoanHoldStage__c} &lt;&gt; TEXT({!CurrentLoan.LLC_BI__Stage__c}),
{!getSLA.CF_LoanHoldStageDays__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loanHoldDays</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!getSLA_0.CF_LoanHoldStageDays__c}), ({!$Flow.CurrentDateTime} - {!getSLA_0.CF_LoanHoldStartTime__c}),
{!getSLA_0.CF_LoanHoldStageDays__c} + ({!$Flow.CurrentDateTime} - {!getSLA_0.CF_LoanHoldStartTime__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loanHoldStageDays</name>
        <dataType>Number</dataType>
        <expression>IF({!getSLA.CF_LoanHoldStage__c} &lt;&gt; TEXT({!CurrentLoan.LLC_BI__Stage__c}),
0,
{!getSLA.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loanHoldStageFormula</name>
        <dataType>String</dataType>
        <expression>IF({!getSLA.CF_LoanHoldStage__c} &lt;&gt; TEXT({!CurrentLoan.LLC_BI__Stage__c}),
&apos;&apos;,{!getSLA.CF_LoanHoldStage__c})</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>pauseformula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (5/(24*60*60))</expression>
    </formulas>
    <interviewLabel>SLA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLA Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SLA</name>
        <label>Create SLA</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>update_Loan</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Loan__c</field>
            <value>
                <elementReference>CurrentLoan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Product_Package__c</field>
            <value>
                <elementReference>CurrentLoan.LLC_BI__Product_Package__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CurrentLoan.Name</elementReference>
            </value>
        </inputAssignments>
        <object>SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getSLA</name>
        <label>getSLA</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SLA_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLoan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSLA_0</name>
        <label>getSLA</label>
        <locationX>754</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SLA_Fields_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLoan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Loan</name>
        <label>update Loan</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_SLA_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLoan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_SLA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_SLA__c</field>
            <value>
                <elementReference>Create_SLA</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA</name>
        <label>Update SLA</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <inputReference>getSLA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_0</name>
        <label>Update SLA</label>
        <locationX>754</locationX>
        <locationY>518</locationY>
        <inputReference>getSLA_0</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_SLA_Records</name>
        <label>Update SLA Stage Dates</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <flowName>Update_SLA_Records</flowName>
        <inputAssignments>
            <name>in_LoanStage</name>
            <value>
                <elementReference>CurrentLoan.LLC_BI__Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_LoanId</name>
            <value>
                <elementReference>CurrentLoan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_PriorStageValue</name>
            <value>
                <elementReference>prior_LoanStage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentLoan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>prior_LoanStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
