flows/SM_CREATE_UPDATE_Action_RR_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Recipients</name>
        <label>Notify Recipients</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notifications.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appraisal Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Relationship_Manager</name>
        <label>Add Relationship Manager</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelationshipManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Assistant_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Officer</name>
        <label>Assign Credit Officer</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreditOfficer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Processor_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Assistant</name>
        <label>Assign Loan Assistant</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoanAssistant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Officer_Null_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Processor</name>
        <label>Assign Processor</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>Recipient_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Processor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForRecipients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForRecipients</name>
        <label>checkForRecipients</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_for_Recipients_Existence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recipient_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Recipients</targetReference>
            </connector>
            <label>Checking for Recipients Existence</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking user has flow permission or not</description>
        <name>Checking_user_has_flow_permission_or_not</name>
        <label>Checking user has flow permission or not</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Management_Status_Check</targetReference>
            </connector>
            <label>Checking no workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Officer_Null_check</name>
        <label>Credit Officer Null check</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Processor_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Officer_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.CF_Credit_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Officer</targetReference>
            </connector>
            <label>Credit Officer Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Assistant_Null_Check</name>
        <label>Loan Assistant Null Check</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Credit_Officer_Null_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Assistant_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.cm_Loan_Assistant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Assistant</targetReference>
            </connector>
            <label>Loan Assistant Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processor_Null_Check</name>
        <label>Processor Null Check</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>checkForRecipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processor_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Processor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Processor</targetReference>
            </connector>
            <label>Processor Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RM_Null_Check</name>
        <label>RM Null Check</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loan_Assistant_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Relationship_Manager</targetReference>
            </connector>
            <label>RM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Management_Status_Check</name>
        <label>Service Management Status Check</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Service_Management_Status_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appraiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifications</targetReference>
            </connector>
            <label>Is Service Management Status Complete</label>
        </rules>
    </decisions>
    <description>Flow on Service Management object</description>
    <formulas>
        <name>CreditOfficer</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.CF_Credit_Officer__r.Id}</expression>
    </formulas>
    <formulas>
        <name>LoanAssistant</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.cm_Loan_Assistant__r.Id}</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Appraisal for &quot;&amp;{!$Record.LLC_BI__Loan__r.Name} &amp;&quot; has been completed. You may click on this notification to get to the Service Management record. &quot;</expression>
    </formulas>
    <formulas>
        <name>Processor</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.LLC_BI__Processor_Name__r.Id}</expression>
    </formulas>
    <formulas>
        <name>RelationshipManager</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__r.Id}</expression>
    </formulas>
    <interviewLabel>SM_CREATE_UPDATE_Action_RR_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM_CREATE_UPDATE_Action_RR_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Notifications</name>
        <label>Notifications</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RM_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_SM_Appraisal_Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_user_has_flow_permission_or_not</targetReference>
        </connector>
        <object>LLC_BI__Service_Mgmt__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Recipient_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
