flows/TEM_SCHEDULE_TRIGGERED_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Temp_Limit_Expired</name>
        <label>Temp Limit Expired?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Limit_Change_Expiration__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Expired</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <description>Scheduled flow to update the Status on Expired Temporary Limit records. This should run at 11 pm EST everyday. It has to get executed before 12 so that the current day is not over.</description>
    <environments>Default</environments>
    <interviewLabel>TEM_SCHEDULED_FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEM_SCHEDULE_TRIGGERED_FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_to_Expired</name>
        <label>Update to Expired</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>CF_Status__c</field>
            <value>
                <stringValue>Change Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Temp_Limit_Expired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Limit_Change_Expiration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Change Expired</stringValue>
            </value>
        </filters>
        <object>CO_Temporary_Limit_Changes__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-24</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
