flows/TEM_CREATE_UPDATE_FF_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Limit_Change_exp_blank</name>
        <label>Limit Change exp blank ?</label>
        <locationX>374</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Date_of_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Limit_Change_Expiration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Date_of_Request__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CF_Date_of_Request__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Temporary_Permanent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exp_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Flow_User</name>
        <label>No Flow User ?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Limit_Change_exp_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoWorkflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoWorkflow</label>
        </rules>
    </decisions>
    <description>Automation on CO_Temporary_Limit_Changes__c object.</description>
    <environments>Default</environments>
    <formulas>
        <name>ReqDatePlus1</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CF_Date_of_Request__c} + 1</expression>
    </formulas>
    <interviewLabel>TEM_CREATE_UPDATE_FF_FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEM_CREATE_UPDATE_FF_FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Exp_date</name>
        <label>Update Exp date</label>
        <locationX>242</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>CF_Limit_Change_Expiration__c</field>
            <value>
                <elementReference>ReqDatePlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>No_Flow_User</targetReference>
        </connector>
        <object>CO_Temporary_Limit_Changes__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
