flows/Temporary_Limit_Changes_Approval_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fast_Track_Approval</name>
        <label>Fast Track Approval</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Flow_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Temporary_Limit_Changes_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Temporary_Limit_Changes_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TLC_Standard_Approval</name>
        <label>TLC Standard Approval</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Flow_Success_Screen_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Temporary_Limit_Changes_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Temporary_Limit_Changes_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Validation_Of_Temporary_Limit_Change_Record</name>
        <label>Validation Of Temporary Limit Change Record</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Approval_Flow_Success_Screen_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Wire_Transmission_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Wire_Client_Authorization_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wire Transmission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Requested_Temporary_Limit__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wire_Transmission_Error</targetReference>
            </connector>
            <label>For Wire Transmission Product</label>
        </rules>
        <rules>
            <name>For_ACH_Portal_Products_VR1</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_ACH_Client_Authorization_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACH_Credit_Origination_Error</targetReference>
            </connector>
            <label>For ACH &amp; Portal Products - VR1</label>
        </rules>
        <rules>
            <name>For_ACH_Products_Portal_Products_VR2</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Temporary_Permanent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diff_btw_2_Dates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACH_Credit_Origination_Error_2</targetReference>
            </connector>
            <label>For ACH Products &amp; Portal Products - VR2</label>
        </rules>
        <rules>
            <name>Requires_Full_Approval_False</name>
            <conditionLogic>((1 AND (2 OR 3) AND (4 OR 5)) OR ((1 OR 18) AND (2 OR 3) AND (6 OR 7 OR 8 OR 9 OR 10) AND 11 AND 17) OR (1 AND (2 OR 3) AND (12 OR 13 OR 14 OR 15 OR 16)) OR (19 AND 1 AND 11 AND (6 OR 7 OR 8 OR 9 OR 10)))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Requires_Full_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Wire_Client_Authorization_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wire Transmission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_ACH_Client_Authorization_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Temporary_Permanent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Requires_Full_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Temporary_Permanent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Submitter</targetReference>
            </connector>
            <label>Requires Full Approval False</label>
        </rules>
        <rules>
            <name>TLC_Records_Submitted_For_Approval_or_Already_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Ready for Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TLC_Record_Approval_Error</targetReference>
            </connector>
            <label>TLC Records Submitted For Approval or Already Approved</label>
        </rules>
        <rules>
            <name>TLC_Standard_Approval_Process</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Requires_Full_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Temporary_Limit_Changes_Record.CF_ACH_Client_Authorization_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Submitter_1</targetReference>
            </connector>
            <label>TLC Standard Approval Process</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Diff_btw_2_Dates</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!Get_Temporary_Limit_Changes_Record.CF_Last_Treasury_Review_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Temporary Limit Changes Approval Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Temporary Limit Changes Approval Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Temporary_Limit_Changes_Record</name>
        <label>Get Temporary Limit Changes Record</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Of_Temporary_Limit_Change_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CO_Temporary_Limit_Changes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Initial_Submitter</name>
        <label>Update Initial Submitter</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Fast_Track_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Initial_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CO_Temporary_Limit_Changes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Submitter_1</name>
        <label>Update Initial Submitter</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>TLC_Standard_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Initial_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CO_Temporary_Limit_Changes__c</object>
    </recordUpdates>
    <screens>
        <name>ACH_Credit_Origination_Error</name>
        <label>ACH Credit Origination Error</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationError1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(244, 5, 5);&quot;&gt;Client Approval for ACH limit modifications must be received prior to submitting for approval.&lt;/span&gt;&lt;span style=&quot;color: rgb(253, 3, 3); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ACH_Credit_Origination_Error_2</name>
        <label>ACH Credit Origination Error 2</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationError2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Permanent limit increases require a new Treasury Review be completed on the account to be approved.&lt;/span&gt;&lt;span style=&quot;color: rgb(228, 3, 3); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(253, 3, 3); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Flow_Success_Screen</name>
        <label>Approval Flow Success Screen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TLC_Approval_Process_Success_Message</name>
            <fieldText>&lt;p&gt;Please click on finish button to navigate back to Limit Change record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Flow_Success_Screen_1</name>
        <label>Approval Flow Success Screen</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_TLC_Approval_Process_Success_Message</name>
            <fieldText>&lt;p&gt;Please click on finish button to navigate back to Limit Change record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Flow_Success_Screen_3</name>
        <label>Approval Flow Error Screen</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_TLC_Approval_Process_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Limit Change &lt;/span&gt;Record is not satisfying any approval condition. Please click on finish button to navigate back to Limit Change record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TLC_Record_Approval_Error</name>
        <label>TLC Record Approval Error</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationError3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 3, 3); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Limit Change record already approved or already Submitted for Approval. Please click on Finish button to navigate back to record.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Wire_Transmission_Error</name>
        <label>Wire Transmission Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(250, 5, 5);&quot;&gt;Client Approval for wires over $1,000,000 must be received prior to submitting for approval.&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(253, 3, 3);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Temporary_Limit_Changes_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
