flows/TEMPORARY_LIMIT_CHANGES_CREATE_UPDATE_Action_RR_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Validate_Temporary_Limit_Changes_Collection_Variable_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Treasury_Limit_Changes_Approval_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Treasury Limit Changes has been Approved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Approved_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Approver_field_on_TLC</name>
        <label>Assign Approver field on TLC</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfTemporaryLimitChangeRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Treasury_Limit_Changes_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CF_Initial_Submitter__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relationship_Field</name>
        <label>Assign Relationship Field</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Relationship_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Relationship__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service_Name__r.CF_Relationship_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_ACH_Credit_Origination_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_collection_variable</name>
        <label>Assignment to collection variable</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfTemporaryLimitChangeRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Temporary_Limit_Changes_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>check_Required_for_Approval_checkbox_2</name>
        <label>check Required for Approval checkbox</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Requires_Full_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfTemporaryLimitChangeRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Temporary_Limit_Changes_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Required_for_Approval_checkbox_1</name>
        <label>Uncheck Required for Approval checkbox</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Requires_Full_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfTemporaryLimitChangeRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Temporary_Limit_Changes_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Required_for_Approval_checkbox_2</name>
        <label>Uncheck Required for Approval checkbox</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Requires_Full_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfTemporaryLimitChangeRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Temporary_Limit_Changes_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Initial_Submitter_is_Not_Null</name>
        <label>Check if Initial Submitter is Not Null</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Validate_Temporary_Limit_Changes_Collection_Variable_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Initial_Submitter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Bell_Notification</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_user_has_flow_permission_or_not</name>
        <label>Checking user has flow permission or not</label>
        <locationX>1584</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_no_workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Is_New_Record</targetReference>
            </connector>
            <label>Checking no workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ACH_Credit_Origination_Product</name>
        <label>Validate ACH Credit Origination Product</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assignment_to_collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ACH_Credit_Origination_Product</name>
            <conditionLogic>(((1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 8) OR ((1 OR 2 OR 3 OR 4 OR 5) AND 8 AND 9 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_ACH_Limit_Change__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Next_Treasury_Review_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentDateVariable</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_ACH_Limit_Change__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Required_for_Approval_checkbox_2</targetReference>
            </connector>
            <label>Check ACH Credit Origination Product</label>
        </rules>
        <rules>
            <name>Check_Product_Not_Equal_ACH_Credit_Origination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Required_for_Approval_checkbox_1</targetReference>
            </connector>
            <label>Check Product Not Equal ACH Credit Origination</label>
        </rules>
        <rules>
            <name>Check_Required_for_Approval_Checkbox</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service_Name__r.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Risk_Rating__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Next_Treasury_Review_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CurrentDateVariable</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_ACH_Limit_Change__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Required_for_Approval_checkbox_2</targetReference>
            </connector>
            <label>Check Required for Approval Checkbox</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Approved_Ready_for_Setup_Status</name>
        <label>Validate Approved, Ready for Setup Status</label>
        <locationX>1392</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Validate_Temporary_Limit_Changes_Collection_Variable_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Approved_Ready_for_Setup_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Ready for Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_field_on_TLC</targetReference>
            </connector>
            <label>Check Approved, Ready for Setup Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Is_New_Record</name>
        <label>Validate Is New Record</label>
        <locationX>1117</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relationship_Field</targetReference>
            </connector>
            <label>Check Is New Record</label>
        </rules>
        <rules>
            <name>Check_Update_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Approved_Ready_for_Setup_Status</targetReference>
            </connector>
            <label>Check Update Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Temporary_Limit_Changes_Collection_Variable</name>
        <label>Validate Temporary Limit Changes Collection Variable</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Temporary_Limit_Changes_Collection_Variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfTemporaryLimitChangeRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Temporary_Limit_Changes_Record</targetReference>
            </connector>
            <label>Check Temporary Limit Changes Collection Variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Temporary_Limit_Changes_Collection_Variable_1</name>
        <label>Validate Temporary Limit Changes Collection Variable</label>
        <locationX>1392</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Temporary_Limit_Changes_Collection_Variable_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfTemporaryLimitChangeRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Temporary_Limit_Changes_Record_1</targetReference>
            </connector>
            <label>Check Temporary Limit Changes Collection Variable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Approved_Notification_Body</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; has been Approved.&quot;</expression>
    </formulas>
    <formulas>
        <name>CurrentDateVariable</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>TEMPORARY_LIMIT_CHANGES_CREATE_UPDATE_RR_FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMPORARY_LIMIT_CHANGES_CREATE_UPDATE_Action_RR_FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Initial_Submitter_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_TLC_Approval_Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Temporary_Limit_Changes_Record</name>
        <label>Update Temporary Limit Changes Record</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputReference>CollectionOfTemporaryLimitChangeRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Temporary_Limit_Changes_Record_1</name>
        <label>Update Temporary Limit Changes Record</label>
        <locationX>1260</locationX>
        <locationY>1355</locationY>
        <inputReference>CollectionOfTemporaryLimitChangeRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1458</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_user_has_flow_permission_or_not</targetReference>
        </connector>
        <object>CO_Temporary_Limit_Changes__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfTemporaryLimitChangeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CO_Temporary_Limit_Changes__c</objectType>
    </variables>
    <variables>
        <name>Treasury_Limit_Changes_Approval_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
