flows/TM_Decreased_Treasury_Goal_Products_Sold.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_Treasury_Goal_Products_Sold</name>
        <label>Assignment Treasury Goal Products Sold</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Get_Treasury_Goal_Record.TM_New_Core_Treasury_Products_Sold_Till__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCoreTreasuryProductsSold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Treasury_Goal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Core_Treasury_Products_Sold_1</name>
        <label>New Core Treasury Products Sold - 1</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>NewCoreTreasuryProductsSold</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Treasury_Goal_Products_Sold</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Owner_is_Relationship_Manager</name>
        <label>Check if Owner is Relationship Manager</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_TSO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury Sales Officer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Track Treasury Products Sold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Treasury_Goal_Record</targetReference>
            </connector>
            <label>Owner is TSO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Treasury_Goal_is_found</name>
        <label>Check if Treasury Goal is found?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treasury_Goal_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Treasury_Goal_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Core_Treasury_Products_Sold_1</targetReference>
            </connector>
            <label>Treasury Goal is found</label>
        </rules>
    </decisions>
    <formulas>
        <name>FiscalYear</name>
        <dataType>String</dataType>
        <expression>Text(Year({!$Record.Opportunity.CloseDate}))</expression>
    </formulas>
    <interviewLabel>Decreased Treasury Goal Products Sold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Decreased Treasury Goal Products Sold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Treasury_Goal_Record</name>
        <label>Get Treasury Goal Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Treasury_Goal_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TM_Treasury_Solutions_Officer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TM_Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FiscalYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>TM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treasury_Goals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Treasury_Goal</name>
        <label>Update Treasury Goal</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputReference>Get_Treasury_Goal_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Owner_is_Relationship_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TM_Core_Treasury_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCoreTreasuryProductsSold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Treasury_Goal_Record.TM_New_Core_Treasury_Products_Sold_Till__c</elementReference>
        </value>
    </variables>
</Flow>
