flows/TM_Opportunity_Deposit_Empty_Amount_NBA_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Amount.TM_Anticipated_Deposit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Amount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recommendation_Accepted</name>
        <label>Recommendation Accepted</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Update_Opportunity_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecommendationAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Screen</targetReference>
            </connector>
            <label>Update Opportunity Amount</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RatingPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Opportunity Deposit Empty Amount NBA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Deposit Empty Amount NBA Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Amount</name>
        <label>Get Opportunity Amount</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recommendation_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Recommendation</name>
        <label>Load Recommendation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Deposit Empty Amount NBA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amount</name>
        <label>Update Amount</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Opportunity_Amount</inputReference>
    </recordUpdates>
    <screens>
        <name>Accept_Screen</name>
        <label>Accept Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Amount</targetReference>
        </connector>
        <fields>
            <name>promptmsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This deposit opportunity&apos;s &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Anticipated Deposit Amount &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;is empty, please update the amount in the box below. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Anticipated Deposit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Recommendation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Recommendation accepted or not.</description>
        <name>isRecommendationAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
