flows/TM_Update_Treasury_Goal_New_Money_Till_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Increase_New_Money</name>
        <label>Add Increase New Money</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>New_MoneyTill_Date</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Increased_New_Money</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_New_MoneyTill_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_New_MoneyTill_Date</name>
        <label>Assignment New MoneyTill Date</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Get_Treasury_Goal_Record.TM_New_Money_Till_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_MoneyTill_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Treasury_Goal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Decrease_New_Money</name>
        <label>Subtract Decrease New Money</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>New_MoneyTill_Date</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Reduced_New_Money</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_New_MoneyTill_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amount_Increase_or_Decrease</name>
        <label>Check Amount Increase or Decrease</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Subtract_Decrease_New_Money</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_New_Money_is_Increase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorNewMoney</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.TM_New_Money__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Increase_New_Money</targetReference>
            </connector>
            <label>Check New Money is Increase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Treasury_Goal_is_found_0</name>
        <label>Check if Treasury Goal is found?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treasury_Goal_is_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Treasury_Goal_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Amount_Increase_or_Decrease</targetReference>
            </connector>
            <label>Treasury Goal is found</label>
        </rules>
    </decisions>
    <formulas>
        <name>FiscalYear</name>
        <dataType>String</dataType>
        <expression>Text(Year(DATEVALUE({!Get_Opportunity.CreatedDate})))</expression>
    </formulas>
    <formulas>
        <name>Increased_New_Money</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Opportunity.TM_New_Money__c}-{!PriorNewMoney}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Reduced_New_Money</name>
        <dataType>Currency</dataType>
        <expression>{!PriorNewMoney}-{!Get_Opportunity.TM_New_Money__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Treasury Goal New Money Till Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Treasury Goal New Money Till Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Treasury_Goal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Treasury_Goal_Record</name>
        <label>Get Treasury Goal Record</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Treasury_Goal_is_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TM_Treasury_Solutions_Officer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TM_Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FiscalYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treasury_Goals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Treasury_Goal</name>
        <label>Update Treasury Goal</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <inputReference>Get_Treasury_Goal_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>New_MoneyTill_Date</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Treasury_Goal_Record.TM_New_Money_Till_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriorNewMoney</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
