flows/TM_Update_Treasury_Goal_Commercial_Relationships.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_New_Commercial_Relationships</name>
        <label>Assignment New Commercial Relationships</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Get_Treasury_Goal_Record.TM_New_Commercial_Relationships_Till__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCommercialRelationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Treasury_Goal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Commercial_Relationships_Decrease</name>
        <label>New Commercial Relationships - 1</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NewCommercialRelationships</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_New_Commercial_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Commercial_Relationships_Increase</name>
        <label>New Commercial Relationships + 1</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NewCommercialRelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_New_Commercial_Relationships</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CIF_Change</name>
        <label>Check CIF Change</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assignment_New_Commercial_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIF_Change_from_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CIF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CIF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Commercial_Relationships_Increase</targetReference>
            </connector>
            <label>CIF Change from null</label>
        </rules>
        <rules>
            <name>CIF_Change_from_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CIF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CIF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Commercial_Relationships_Decrease</targetReference>
            </connector>
            <label>CIF Change from not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Owner_is_Relationship_Manager</name>
        <label>Check if Owner is Relationship Manager</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Relationship_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship Manager &amp; Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Treasury_Goal_Record</targetReference>
            </connector>
            <label>Owner is Relationship Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Treasury_Goal_is_found</name>
        <label>Check if Treasury Goal is found?</label>
        <locationX>534</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treasury_Goal_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Treasury_Goal_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_CIF_Change</targetReference>
            </connector>
            <label>Treasury Goal is found</label>
        </rules>
    </decisions>
    <formulas>
        <name>FiscalYear</name>
        <dataType>String</dataType>
        <expression>Text(Year(DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <interviewLabel>Update Treasury Goal Commercial Relationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Treasury Goal Commercial Relationships</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Treasury_Goal_Record</name>
        <label>Get Treasury Goal Record</label>
        <locationX>534</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Treasury_Goal_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TM_Treasury_Solutions_Officer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TM_Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FiscalYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treasury_Goals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Treasury_Goal</name>
        <label>Update Treasury Goal</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <inputReference>Get_Treasury_Goal_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Owner_is_Relationship_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIF__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCommercialRelationships</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Treasury_Goal_Record.TM_New_Commercial_Relationships_Till__c</elementReference>
        </value>
    </variables>
</Flow>
