flows/TP_ACH_BEFORE_Delete_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Count_of_ACH_records</name>
        <label>Assign Count of ACH records</label>
        <locationX>270</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>ACH_Rec_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ACH_Company_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Record_Count</name>
        <label>Check the Record Count</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Update_TS_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Count = 1</defaultConnectorLabel>
        <rules>
            <name>Is_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACH_Rec_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TS</targetReference>
            </connector>
            <label>Is Count &gt; 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TP ACH BEFORE Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TP ACH BEFORE Delete Flow</label>
    <loops>
        <name>Loop_through_ACH_Company_records</name>
        <label>Loop through ACH Company records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_associated_ACH_Company_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count_of_ACH_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_the_Record_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_associated_ACH_Company_Records</name>
        <label>Get All associated ACH Company Records</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ACH_Company_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Treasury_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TM_Treasury_Product_ACH_Companies__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TS</name>
        <label>Update TS</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Is_ACH_Company_Rec_Exists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Treasury_Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TS_1</name>
        <label>Update TS</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Is_ACH_Company_Rec_Exists__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Treasury_Service__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_associated_ACH_Company_Records</targetReference>
        </connector>
        <object>TM_Treasury_Product_ACH_Companies__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACH_Rec_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TM_Treasury_Product_ACH_Companies__c</objectType>
    </variables>
</Flow>
