flows/TP_Scanner_Information_AFTER_Update_Create_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Is_Scanner_In_Stock_on_TS</name>
        <label>Assign &apos;Is Scanner In Stock&apos; on TS</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>My_TS.CF_Is_Scanner_in_Stock_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TS_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_Scanner_Rec_Exists_on_TS</name>
        <label>Assign &apos;Is Scanner Rec Exists&apos; on TS</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>My_TS.CF_Is_Scanner_Info_Rec_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Is_Scanner_in_Stock_is_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TS_Record_ID</name>
        <label>Assign TS Record ID</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>My_TS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Is_Scanner_in_Stock_is_populated</name>
        <label>Check if &apos;Is Scanner in Stock&apos; is populated</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_TS_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Is_Scanner_in_Stock__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Scanner_In_Stock_on_TS</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Is_Scanner_in_Stock_isUpdated</name>
        <label>Check if &apos;Is Scanner in Stock&apos; isUpdated</label>
        <locationX>886</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Is_Scanner_in_Stock__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service__r.CF_Is_Scanner_in_Stock_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TS_1</targetReference>
            </connector>
            <label>IsUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DataLoad_User</name>
        <label>Is DataLoad User?</label>
        <locationX>198</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Validate_ISNEW_or_ISUPDATE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TS_Id_Exists</name>
        <label>TS Id Exists?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Scanner_Rec_Exists_on_TS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ISNEW_or_ISUPDATE</name>
        <label>Validate ISNEW or ISUPDATE</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_if_Is_Scanner_in_Stock_isUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsUpdate</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TS_Id_Exists</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>TP Scanner Infor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TP Scanner Information AFTER Update/Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_TS</name>
        <label>Update TS</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <inputReference>My_TS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TS_1</name>
        <label>Update TS</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Is_Scanner_in_Stock_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Treasury_Service__c</object>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DataLoad_User</targetReference>
        </connector>
        <object>CO_Treasury_Product_RDC_Lockbox__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>My_TS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
</Flow>
