flows/TR_AFTER_Update_Create_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>930</locationX>
        <locationY>1679</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Assign_Review_Approver</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Approved_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Treasury Review has been Approved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Treasury_Review_Approval_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Bell_Notification_1</name>
        <label>Send Bell Notification</label>
        <locationX>490</locationX>
        <locationY>1571</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Account_Updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id_1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>In_Approval_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Treasury Review record has been submitted for Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Treasury_Review_Approval_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Recipients</name>
        <label>Add Recipients</label>
        <locationX>1062</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Treasury_Review_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Review_Completed_By__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Treasury_Review_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Recipients_is_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipients_1</name>
        <label>Add Recipients</label>
        <locationX>622</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Treasury_Review_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Recipients_is_Not_Null_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RM_as_Recipients</name>
        <label>Add RM as Recipients</label>
        <locationX>930</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Treasury_Review_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Relationship_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RM_as_Recipients_1</name>
        <label>Add RM as Recipients</label>
        <locationX>490</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Treasury_Review_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Relationship_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recipients_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TO_as_Recipients</name>
        <label>Add TO as Recipients</label>
        <locationX>930</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Treasury_Review_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.TM_Treasury_Officer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_RM_is_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TO_as_Recipients_1</name>
        <label>Add TO as Recipients</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Treasury_Review_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.TM_Treasury_Officer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_RM_is_Not_Null_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>589</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>My_TR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Treasury_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Approver</name>
        <label>Assign Review Approver</label>
        <locationX>1062</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>My_TR.CF_Review_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Account_Fields</name>
        <label>Map Account Fields</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>My_TR.CF_Total_ACH_Credit_Exposure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Total_ACH_Credit_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Total_ACH_Debit_Exposure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Total_ACH_Debit_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Total_ACH_Exposure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Total_ACH_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Total_RDC_Exposure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Total_RDC_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Total_Combined_Exposure_LOS_TM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Total_Combined_Exposure_LOS_TM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Total_Aggregate_Loan_Exposure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Total_Aggregate_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Total_Treasury_Exposure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_Total_Treasury_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_TM_Deposit_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_TM_Deposit_Only__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Account_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Credit_Rating_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Rating_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.Lending_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lending_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Is_Restricted_NAICS_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Restricted_NAICS_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Deposit_only</name>
        <label>Update Deposit only</label>
        <locationX>864</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>My_TR.CF_TM_Deposit_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.CF_TM_Deposit_Only__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>My_TR.CF_Account_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Id_Exists</name>
        <label>Account Id Exists?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cm_Relationship__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Account_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Updated</name>
        <label>Account Updated ?</label>
        <locationX>996</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cm_Relationship__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deposit_only</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Recipients_is_Not_Null</name>
        <label>Check if Recipients is Not Null</label>
        <locationX>1062</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Assign_Review_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Treasury_Review_Approval_Recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Bell_Notification</targetReference>
            </connector>
            <label>NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Recipients_is_Not_Null_1</name>
        <label>Check if Recipients is Not Null</label>
        <locationX>622</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Account_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Treasury_Review_Approval_Recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Bell_Notification_1</targetReference>
            </connector>
            <label>Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_RM_is_Not_Null</name>
        <label>Check if RM is Not Null</label>
        <locationX>1062</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Add_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cm_Relationship__r.CF_Relationship_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RM_as_Recipients</targetReference>
            </connector>
            <label>RM is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_RM_is_Not_Null_1</name>
        <label>Check if RM is Not Null</label>
        <locationX>622</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Add_Recipients_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_is_Not_Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cm_Relationship__r.CF_Relationship_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RM_as_Recipients_1</targetReference>
            </connector>
            <label>RM is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_Is_Changed</name>
        <label>Check if Status Is Changed</label>
        <locationX>996</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Account_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_In_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Id_1</targetReference>
            </connector>
            <label>Status = In Approval</label>
        </rules>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Fields</targetReference>
            </connector>
            <label>Status = Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Treasury_Officer_is_Not_Null</name>
        <label>Check if Treasury Officer is Not Null</label>
        <locationX>1062</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_if_RM_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treasury_officer_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cm_Relationship__r.Treasury_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TO_as_Recipients</targetReference>
            </connector>
            <label>Treasury officer is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Treasury_Officer_is_Not_Null_1</name>
        <label>Check if Treasury Officer is Not Null</label>
        <locationX>622</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_if_RM_is_Not_Null_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treasury_officer_is_Not_Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cm_Relationship__r.Treasury_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TO_as_Recipients_1</targetReference>
            </connector>
            <label>Treasury officer is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DataLoad_User</name>
        <label>Is DataLoad User?</label>
        <locationX>187</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Validate_new_TR_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_new_TR_record</name>
        <label>Validate new TR record</label>
        <locationX>589</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_if_Status_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsUpdate</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Id_Exists</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Approved_Notification_Body</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; has been Approved.&quot;</expression>
    </formulas>
    <formulas>
        <name>Credit_Rating_Code</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.cm_Relationship__r.LLC_BI__Highest_Risk_Grade__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>In_Approval_Notification_Body</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; has been submitted for Approved.&quot;</expression>
    </formulas>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Lending_Relationship</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.cm_Relationship__r.LLC_BI__Total_Direct_Exposure__c} = 0, &apos;No&apos;,
IF( {!$Record.cm_Relationship__r.LLC_BI__Total_Direct_Exposure__c}&gt; 0, &apos;Yes&apos;,
&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Restricted_NAICS_Code</name>
        <dataType>String</dataType>
        <expression>IF(
({!$Record.cm_Relationship__r.Is_ACH_Restricted_Industry__c}) = true || ({!$Record.cm_Relationship__r.Is_RDC_Restricted_Industry__c}) = true, &apos;Yes&apos;,
&apos;No&apos;)</expression>
    </formulas>
    <interviewLabel>TR AFTER Update/Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TR AFTER Update/Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>1062</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Treasury_Officer_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_TR_Submitted_for_Approval_Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Id_1</name>
        <label>Get Custom Notification Id</label>
        <locationX>622</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Treasury_Officer_is_Not_Null_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_TR_Submitted_for_Approval_Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Fields</name>
        <label>Update Account Fields</label>
        <locationX>1062</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cm_Relationship__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Last_Treasury_Review_Date__c</field>
            <value>
                <elementReference>$Record.Date_Review_Completed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Treasury_Risk_Rating__c</field>
            <value>
                <elementReference>$Record.CF_Treasury_Risk_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Treasury_Review</name>
        <label>Update Treasury Review</label>
        <locationX>589</locationX>
        <locationY>2555</locationY>
        <inputReference>My_TR</inputReference>
    </recordUpdates>
    <start>
        <locationX>61</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DataLoad_User</targetReference>
        </connector>
        <object>cm_Treasury_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>My_TR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cm_Treasury_Review__c</objectType>
    </variables>
    <variables>
        <name>Treasury_Review_Approval_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
