flows/TR_Recalculate_Exposure_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>TR Recalculate Exposure Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TR Recalculate Exposure Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_TR_Record</name>
        <label>Get TR Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Exposure_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cm_Treasury_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Exposure_Values</name>
        <label>Update Exposure Values</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Credit_Exposure__c</field>
            <value>
                <elementReference>Get_TR_Record.cm_Relationship__r.CF_Total_ACH_Credit_Exposure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_ACH_Debit_Exposure__c</field>
            <value>
                <elementReference>Get_TR_Record.cm_Relationship__r.CF_Total_ACH_Debit_Exposure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_ACH_Exposure__c</field>
            <value>
                <elementReference>Get_TR_Record.cm_Relationship__r.CF_Total_ACH_Exposure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Aggregate_Loan_Exposure__c</field>
            <value>
                <elementReference>Get_TR_Record.cm_Relationship__r.CF_Total_Aggregate_Exposure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Combined_Exposure_LOS_TM__c</field>
            <value>
                <elementReference>Get_TR_Record.cm_Relationship__r.CF_Total_Combined_Exposure_LOS_TM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>Get_TR_Record.cm_Relationship__r.CF_Total_RDC_Exposure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_Treasury_Exposure__c</field>
            <value>
                <elementReference>Get_TR_Record.cm_Relationship__r.CF_Total_Treasury_Exposure__c</elementReference>
            </value>
        </inputAssignments>
        <object>cm_Treasury_Review__c</object>
    </recordUpdates>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 129, 72);&quot;&gt;Exposure values are updated successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TR_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
