flows/TS_AFTER_Update_Create_TS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_ACH_Credit_Corporation_Product_Corporate_ACH_Exposure_Value</name>
        <label>Assign ACH Credit Corporation Product Corporate ACH Exposure Value</label>
        <locationX>3174</locationX>
        <locationY>3029</locationY>
        <assignmentItems>
            <assignToReference>CorporateACHExposureValueForACHCreditOrigination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.CF_Corporate_ACH_Exposure_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Corporate_ACH_Exposure_Value_For_ACH_Credit_Origination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ACH_Debit_Exposure_Value</name>
        <label>Assign ACH Debit Exposure Value</label>
        <locationX>5154</locationX>
        <locationY>3029</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalACHDebitExposure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_UpayPortal_TS_Records.CF_Corporate_ACH_Exposure_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_ACH_Debit_Exposure1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Analysis_Type</name>
        <label>Assign Analysis Type</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MyTS.CF_Analysis_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>O4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Id_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Analysis_Type_1</name>
        <label>Assign Analysis Type</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MyTS.CF_Analysis_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Id_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_TS_Records_Associated</name>
        <label>Assign Count of TS Records Associated</label>
        <locationX>5286</locationX>
        <locationY>5321</locationY>
        <assignmentItems>
            <assignToReference>TSCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_each_TS_Stage_is_Servicing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_Deposit_Amount_Individual_TS_Records</name>
        <label>Assign Daily Deposit Amount Individual TS Records</label>
        <locationX>2382</locationX>
        <locationY>3029</locationY>
        <assignmentItems>
            <assignToReference>DailyDepositAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Daily_Deposit_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_High_Speed_Limit</name>
        <label>Assign High Speed Limit</label>
        <locationX>1986</locationX>
        <locationY>3437</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_High_Speed_RDC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Low_Speed_RDC_Limit</name>
        <label>Assign Low Speed RDC Limit</label>
        <locationX>2514</locationX>
        <locationY>3437</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Low_Speed_RDC_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile_RDC_Limit</name>
        <label>Assign Mobile RDC Limit</label>
        <locationX>2250</locationX>
        <locationY>3437</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Mobile_RDC_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oppty_Stage_and_Probability</name>
        <label>Assign Oppty Stage and Probability</label>
        <locationX>182</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>OpptyStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Install</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpptyProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_and_Probability_on_Oppty_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Fields</name>
        <label>Assign Product Fields</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>MyTS.CF_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MyTS.CF_Install_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Deposit_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>MyTS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relationship_Manager_to_TLC</name>
        <label>Assign Relationship Manager to TLC</label>
        <locationX>5154</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>IndividualTLCRecord.CF_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CF_Relationship_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualTLCRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_TLC_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfTLCRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualTLCRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_TLC_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remote_Retail_Lockbox_Limit</name>
        <label>Assign Remote / Retail Lockbox Limit</label>
        <locationX>2778</locationX>
        <locationY>3437</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Remote_Retail_RDC_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RM</name>
        <label>Assign RM</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>MyTS.CF_Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_Member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Opp_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_ACH_Credit_Exposure_From_Account</name>
        <label>Assign Total ACH Credit Exposure From Account</label>
        <locationX>3966</locationX>
        <locationY>2705</locationY>
        <assignmentItems>
            <assignToReference>TotalACHCreditExposureFromAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.CF_Total_ACH_Credit_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_Corporate_ACH_Exposure_Value_From_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_ACH_Debit_Exposure1</name>
        <label>Assign Total ACH Debit Exposure1</label>
        <locationX>5154</locationX>
        <locationY>3137</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalTotalACHDebitExposure</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UPayPortalACHDebitExposure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_ACH_Debit_Exposure_for_Upay_portal</name>
        <label>Assign Total ACH Debit Exposure for Upay portal</label>
        <locationX>5550</locationX>
        <locationY>3137</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalTotalACHDebitExposure</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UPayPortalACHDebitExposure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Product_is_U_Pay_Portal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_ACH_Debit_Exposure_From_Account</name>
        <label>Assign Total ACH Debit Exposure From Account</label>
        <locationX>5770</locationX>
        <locationY>2705</locationY>
        <assignmentItems>
            <assignToReference>TotalACHDebitExposureFromAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.CF_Total_ACH_Debit_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_TS_Product_Upay_Portal_and_ACH_Debit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Corporate_ACH_Exposure_Value_For_ACH_Credit_Origination</name>
        <label>Assign Total Corporate ACH Exposure Value For ACH Credit Origination</label>
        <locationX>3174</locationX>
        <locationY>3137</locationY>
        <assignmentItems>
            <assignToReference>TotalCorporateACHExposureValueForACHCreditOrigination</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CorporateACHExposureValueForACHCreditOrigination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Daily_Deposit_Amount</name>
        <label>Assign Total Daily Deposit Amount</label>
        <locationX>2382</locationX>
        <locationY>3137</locationY>
        <assignmentItems>
            <assignToReference>TotalDailyDepositAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DailyDepositAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Treasury_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_High_Speed_RDC</name>
        <label>Assign Total High Speed RDC</label>
        <locationX>1986</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Total_High_Speed_RDC_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Low_Speed_RDC_Limit</name>
        <label>Assign Total Low Speed RDC Limit</label>
        <locationX>2514</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Total_Low_Speed_RDC_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Mobile_RDC_Limit</name>
        <label>Assign Total Mobile RDC Limit</label>
        <locationX>2250</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Total_Mobile_RDC_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_RDC_Exposure_From_Account</name>
        <label>Assign Total RDC Exposure From Account</label>
        <locationX>3526</locationX>
        <locationY>2705</locationY>
        <assignmentItems>
            <assignToReference>TotalRDCExposureAmountFromAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.CF_Total_RDC_Exposure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_Daily_Deposit_Amount_From_Total_RDC_Exposure_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Remote_Retail_RDC_Limit</name>
        <label>Assign Total Remote/Retail RDC Limit</label>
        <locationX>2778</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Total_Retail_Remote_Lockbox_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_U_Pay_Portal_Limit</name>
        <label>Assign Total U-Pay Portal Limit</label>
        <locationX>5418</locationX>
        <locationY>3461</locationY>
        <assignmentItems>
            <assignToReference>Total_U_Pay_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Requested_ACH_Limit_U_Pay_Portal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Treasury_Support_Specialist</name>
        <label>Assign Treasury Support Specialist</label>
        <locationX>1062</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>MyTS.CF_Treasury_Support_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_Member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Opp_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TS_Specialist</name>
        <label>Assign TS Specialist</label>
        <locationX>798</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>MyTS.CF_Treasury_Sales_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_Member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Opp_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TSO</name>
        <label>Assign TSO</label>
        <locationX>534</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>MyTS.CF_Treasury_Sales_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Opp_Team_Member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Opp_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_U_Pay_Portal_Limit</name>
        <label>Assign U-Pay Portal Limit</label>
        <locationX>5418</locationX>
        <locationY>3353</locationY>
        <assignmentItems>
            <assignToReference>Requested_ACH_Limit_U_Pay_Portal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_UpayPortal_TS_Records.CF_Requested_ACH_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_U_Pay_Portal_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UPayPortalACHExposure</name>
        <label>Assign UPayPortalACHExposure</label>
        <locationX>5550</locationX>
        <locationY>3029</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalACHDebitExposure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaUPayPortalCorporateACHExposureValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_ACH_Debit_Exposure_for_Upay_portal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_TS_records</name>
        <label>Count TS records</label>
        <locationX>5176</locationX>
        <locationY>4613</locationY>
        <assignmentItems>
            <assignToReference>CountofTSRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_all_the_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Stage_Counter</name>
        <label>Increment Stage Counter</label>
        <locationX>5154</locationX>
        <locationY>5537</locationY>
        <assignmentItems>
            <assignToReference>StageCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_TS_Records_associated_to_the_fetched_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Corporate_ACH_Exposure_Value_From_Account</name>
        <label>Subtract Corporate ACH Exposure Value From Account</label>
        <locationX>3966</locationX>
        <locationY>2813</locationY>
        <assignmentItems>
            <assignToReference>TotalACHCreditExposureFromAccount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.CF_Corporate_ACH_Exposure_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Total_ACH_Exposure_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Daily_Deposit_Amount_From_Total_RDC_Exposure_Account</name>
        <label>Subtract Daily Deposit Amount From Total RDC Exposure Account</label>
        <locationX>3526</locationX>
        <locationY>2813</locationY>
        <assignmentItems>
            <assignToReference>TotalRDCExposureAmountFromAccount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Total_Daily_Deposit_Amount_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Total_ACH_Debit_Exposure_From_Account</name>
        <label>Subtract Total ACH Debit Exposure From Account</label>
        <locationX>5506</locationX>
        <locationY>2921</locationY>
        <assignmentItems>
            <assignToReference>TotalACHDebitExposureFromAccount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.CF_Corporate_ACH_Exposure_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Total_ACH_Debit_Exposure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Total_Debit_Exposure_From_Account</name>
        <label>Subtract Total Debit Exposure From Account</label>
        <locationX>5770</locationX>
        <locationY>2921</locationY>
        <assignmentItems>
            <assignToReference>TotalACHDebitExposureFromAccount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.CF_Corporate_ACH_Exposure_Value_UPayPrtl__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Total_ACH_Debit_Exposure</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Account</name>
        <label>Business Account &amp; Deposit only false?</label>
        <locationX>314</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Update_Treasury_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndustriesBusiness</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__r.CF_TM_Deposit_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Loans_on_Account</targetReference>
            </connector>
            <label>Yes Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Oppty_Stage</name>
        <label>Check for Oppty Stage</label>
        <locationX>314</locationX>
        <locationY>2747</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Oppty_Stage_is_Identify_Proposal_Negotiation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal / Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppty_Stage_and_Probability</targetReference>
            </connector>
            <label>If Oppty Stage is Identify OR Proposal/Negotiation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_All_the_TS_records_have_the_Stage_as_Servicing</name>
        <label>Check if All the TS records have the Stage as Servicing</label>
        <locationX>5066</locationX>
        <locationY>5813</locationY>
        <defaultConnector>
            <targetReference>Install_DateTime_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_TS_Stage_Counter_is_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StageCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty_fields_Stages_Probability</targetReference>
            </connector>
            <label>If TS Stage Counter is same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_each_TS_Stage_is_Servicing</name>
        <label>Check if each TS Stage is Servicing</label>
        <locationX>5286</locationX>
        <locationY>5429</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_TS_Records_associated_to_the_fetched_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Each_TS_Stage_is_Servicing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_TS_Records_associated_to_the_fetched_Oppty.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Stage_Counter</targetReference>
            </connector>
            <label>IF Each TS Stage is Servicing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Product_is_U_Pay_Portal</name>
        <label>Check if Product is U-Pay Portal</label>
        <locationX>5550</locationX>
        <locationY>3245</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_U_Pay_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_U_Pay_Portal_Limit</targetReference>
            </connector>
            <label>Prod = U-Pay Portal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_TS_Stage_is_Servicing</name>
        <label>Check If TS Stage is Servicing</label>
        <locationX>5220</locationX>
        <locationY>4997</locationY>
        <defaultConnector>
            <targetReference>Install_DateTime_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Stage_is_Servicing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_TS_records_associated</targetReference>
            </connector>
            <label>If Stage is Servicing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role_of_assigned_Opp_Team_Member</name>
        <label>Check Role of assigned Opp Team Member</label>
        <locationX>798</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Loop_each_Opp_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Role_is_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RM</targetReference>
            </connector>
            <label>If Role is RM</label>
        </rules>
        <rules>
            <name>If_Role_is_TS_Officer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury Sales Officer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TSO</targetReference>
            </connector>
            <label>If Role is TS Officer</label>
        </rules>
        <rules>
            <name>If_Role_is_TS_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury Sales Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TS_Specialist</targetReference>
            </connector>
            <label>If Role is TS Specialist</label>
        </rules>
        <rules>
            <name>If_Role_is_Treasury_Support_Specialisy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Opp_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treasury Support Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Treasury_Support_Specialist</targetReference>
            </connector>
            <label>If Role is Treasury Support Specialisy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_and_Status</name>
        <label>Check Stage and Status</label>
        <locationX>5264</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Validate_change_in_status_and_amount_fields_on_TS_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Fulfillment_and_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_TS_records.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_TS_records.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_TS_records</targetReference>
            </connector>
            <label>IS Fulfillment and Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TS_is_under_Maintenance</name>
        <label>Check TS is under Maintenance</label>
        <locationX>5220</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>TS_Stage_and_Status_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_under_Maintenance_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Under_Maintenance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Under_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Request_Type_Modify</targetReference>
            </connector>
            <label>Is under Maintenance = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deposit_Exists</name>
        <label>Deposit Exists</label>
        <locationX>237</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Update_Treasury_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Deposit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountDepositName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deposit_Only_Flag</targetReference>
            </connector>
            <label>Yes Deposit Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Install_DateTime_Updated</name>
        <label>Install DateTime Updated</label>
        <locationX>5220</locationX>
        <locationY>6197</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Install_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TS_records</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_exists_on_Rlshp</name>
        <label>Loan exists on Rlshp</label>
        <locationX>83</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Query_Deposits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountLoanName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Treasury_Service</targetReference>
            </connector>
            <label>Loan exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Id_exists</name>
        <label>Opp Id exists?</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Team_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Package_NULL_check</name>
        <label>Product Package NULL check</label>
        <locationX>5220</locationX>
        <locationY>4289</locationY>
        <defaultConnector>
            <targetReference>Check_If_TS_Stage_is_Servicing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PP_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Product_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_TS_records_of_same_PP</targetReference>
            </connector>
            <label>PP not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Treasury_Product_Check</name>
        <label>Treasury Product Check</label>
        <locationX>1898</locationX>
        <locationY>3821</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_High_Speed_Limit_On_Account</targetReference>
            </connector>
            <label>High Speed RDC</label>
        </rules>
        <rules>
            <name>Mobile_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mobile_RDC_Limit_On_Account</targetReference>
            </connector>
            <label>Mobile RDC</label>
        </rules>
        <rules>
            <name>Low_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Low_Speed_RDC_Limit_On_Account</targetReference>
            </connector>
            <label>Low Speed RDC</label>
        </rules>
        <rules>
            <name>Remote_Retail_Lockbox</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lockbox_Limit_On_Account</targetReference>
            </connector>
            <label>Remote / Retail Lockbox</label>
        </rules>
        <rules>
            <name>Check_Total_Daily_Deposit_Amount_field_is_not_blank_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_RDC_Exposure_Field_On_Account</targetReference>
            </connector>
            <label>Check Total Daily Deposit Amount field is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>As part of Story 1521.2
Move Product Package Stage and Status to Complete when all it&apos;s Treasury Service records are moved to Fulfillment</description>
        <name>TS_Stage_and_Status_check</name>
        <label>TS Stage and Status check</label>
        <locationX>5220</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Validate_change_in_status_and_amount_fields_on_TS_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TS_is_Fulfillment_and_Open1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TS_records_of_same_PP</targetReference>
            </connector>
            <label>TS is Fulfillment and Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ACH_Credit_Origination_for_TS_Record</name>
        <label>Validate ACH Credit Origination for TS Record</label>
        <locationX>3306</locationX>
        <locationY>2921</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ACH_Credit_Origination_for_TS_Record</name>
            <conditionLogic>(1 OR 5) AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ACH_Credit_Corporation_Product_Corporate_ACH_Exposure_Value</targetReference>
            </connector>
            <label>Check ACH Credit Origination for TS Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ACH_Debit_Exposure_Is_not_Blank</name>
        <label>Validate ACH Debit Exposure Is not Blank</label>
        <locationX>5066</locationX>
        <locationY>3821</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_U_Pay_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UPayPortalTotalACHDebitExposure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_U_Pay_Limit_on_Account</targetReference>
            </connector>
            <label>Product = U-Pay Portal</label>
        </rules>
        <rules>
            <name>Check_ACH_Debit_Exposure_Is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UPayPortalTotalACHDebitExposure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_ACH_Debit_Exposure_Field_and_Update_Field_On_Account</targetReference>
            </connector>
            <label>Check ACH Debit Exposure Is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_change_in_status_and_amount_fields_on_TS_record</name>
        <label>Validate change in status and amount fields on TS record</label>
        <locationX>5220</locationX>
        <locationY>2489</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_change_in_status_and_amount_fields_on_TS_record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Daily_Deposit_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Corporate_ACH_Exposure_Value__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Requested_ACH_Limit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Product_Value_on_TS_record</targetReference>
            </connector>
            <label>Check change in status and amount fields on TS record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Collection_of_TLC_record_is_not_blank</name>
        <label>Validate Collection of TLC record is not blank</label>
        <locationX>5066</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_TS_is_under_Maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Collection_of_TLC_record_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfTLCRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TLC_Record</targetReference>
            </connector>
            <label>Check Collection of TLC record is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Corporate_ACH_Exposure_Value_Is_not_null</name>
        <label>Validate Corporate ACH Exposure Value Is not null</label>
        <locationX>3086</locationX>
        <locationY>3413</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Corporate_ACH_Exposure_Value_Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCorporateACHExposureValueForACHCreditOrigination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_ACH_Credit_Exposure_Field_on_Account</targetReference>
            </connector>
            <label>Check Corporate ACH Exposure Value Is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Deposit_Products</name>
        <label>Validate Deposit Products</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Opp_Id_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_A_Commercial_Ckg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A/A-Commercial Ckg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Analysis_Type</targetReference>
            </connector>
            <label>A/A-Commercial Ckg</label>
        </rules>
        <rules>
            <name>A_A_Community_OR_Small_Business_Ckg_OR_A_A_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A/A-Community Ckg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A/A-Small Business Ckg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A/A-Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Analysis_Type_1</targetReference>
            </connector>
            <label>A/A- Community OR Small Business Ckg OR A/A-Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_new_TS_record</name>
        <label>Validate new TS record</label>
        <locationX>2767</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Validate_Relationship_Manager_Updated_On_TS_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsUpdate</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Fields</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Product_Value_on_TS_record</name>
        <label>Validate Product Value on TS record</label>
        <locationX>4054</locationX>
        <locationY>2597</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Daily_Deposit_Amount_Value_on_TS_record_for_Low_Speed_RDC_product_and_Stat</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6) AND 7 AND 8 AND (9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_All_the_TS_records_associated_to_Account</targetReference>
            </connector>
            <label>Check Daily Deposit Amount Value on TS record for Low Speed RDC product and Status value equal to Open or On Hold</label>
        </rules>
        <rules>
            <name>Check_Product_Value_on_TS_record_for_ACH_Credit_and_Status_value_equal_to_Open_o</name>
            <conditionLogic>1 AND 2 AND (3 OR 8) AND 4 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_All_TS_ACH_Credit_Origination_Product_records_Associated_to_Account</targetReference>
            </connector>
            <label>Check Product Value on TS record for ACH Credit and Status value equal to Open or Hold</label>
        </rules>
        <rules>
            <name>Subtract_Check_Daily_Deposit_Amount_Value_on_TS_record_for_Low_Speed_RDC_product</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_RDC_Exposure_From_Account</targetReference>
            </connector>
            <label>Subtract Check Daily Deposit Amount Value on TS record for Low Speed RDC product and Status value equal to Rejected or Withdrawn</label>
        </rules>
        <rules>
            <name>Subtract_Account_Total_ACH_Exposure_for_ACH_Credit_and_Status_value_equal_to_Rej</name>
            <conditionLogic>1 AND 2 AND (3 OR 6) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_ACH_Credit_Exposure_From_Account</targetReference>
            </connector>
            <label>Subtract Account Total ACH Exposure for ACH Credit and Status value equal to Rejected or Withdrawn</label>
        </rules>
        <rules>
            <name>Check_Corporate_ACH_Exposure_Value_on_TS_record_for_U_Pay_Portal_OR_I_Collect_Po</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND 7 AND (8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_U_Pay_Portal_Product_TS_Associated_to_Account</targetReference>
            </connector>
            <label>Check Corporate ACH Exposure Value on TS record for U Pay Portal OR I Collect Portal Product</label>
        </rules>
        <rules>
            <name>Subtract_Corporate_ACH_Exposure_Value_on_TS_record_for_U_Pay_Portal_OR_I_Collect</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_ACH_Debit_Exposure_From_Account</targetReference>
            </connector>
            <label>Subtract Corporate ACH Exposure Value on TS record for U Pay Portal OR I Collect Portal Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Relationship_Manager_Updated_On_TS_Record</name>
        <label>Validate Relationship Manager Updated On TS Record</label>
        <locationX>5220</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_TS_is_under_Maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Relationship_Manager_Updated_On_TS_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Relationship_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Temporary_Limit_Change_Records_Under_TS</targetReference>
            </connector>
            <label>Check Relationship Manager Updated On TS Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Total_ACH_Debit_Exposure</name>
        <label>Validate Total ACH Debit Exposure</label>
        <locationX>5770</locationX>
        <locationY>3113</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Total_ACH_Debit_Exposure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalACHDebitExposureFromAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_ACH_Debit_Exposure_Field_On_Account</targetReference>
            </connector>
            <label>Check Total ACH Debit Exposure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Total_ACH_Exposure_on_Account</name>
        <label>Validate Total ACH Exposure on Account</label>
        <locationX>3966</locationX>
        <locationY>2921</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Total_ACH_Exposure_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalACHCreditExposureFromAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Total_ACH_Credit_Exposure_Field_and_Update_Field_On_Account</targetReference>
            </connector>
            <label>Check Total ACH Exposure on Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Total_Daily_Deposit_Amount_value</name>
        <label>Validate Total Daily Deposit Amount value</label>
        <locationX>3526</locationX>
        <locationY>2921</locationY>
        <defaultConnector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Total_Daily_Deposit_Amount_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalRDCExposureAmountFromAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Total_RDC_Exposure_Field_and_Update_Field_On_Account</targetReference>
            </connector>
            <label>Check Total Daily Deposit Amount value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Treasury_Product</name>
        <label>Validate Treasury Product</label>
        <locationX>2514</locationX>
        <locationY>3329</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_High_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_High_Speed_Limit</targetReference>
            </connector>
            <label>Prod = High Speed RDC</label>
        </rules>
        <rules>
            <name>Prod_Mobile_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_RDC_Limit</targetReference>
            </connector>
            <label>Prod = Mobile RDC</label>
        </rules>
        <rules>
            <name>Prod_Low_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Low_Speed_RDC_Limit</targetReference>
            </connector>
            <label>Prod = Low Speed RDC</label>
        </rules>
        <rules>
            <name>Prod_Remote_Retail_Lockbox</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Remote_Retail_Lockbox_Limit</targetReference>
            </connector>
            <label>Prod = Remote / Retail Lockbox</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_TS_Product_Upay_Portal</name>
        <label>Validate TS Product Upay Portal</label>
        <locationX>5506</locationX>
        <locationY>2921</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_TS_ACH_Debit_Origination_Product</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ACH_Debit_Exposure_Value</targetReference>
            </connector>
            <label>Check TS ACH Debit Origination Product</label>
        </rules>
        <rules>
            <name>Check_TS_UPayPortal_Product</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UPayPortalACHExposure</targetReference>
            </connector>
            <label>Check TS UPayPortal Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_TS_Product_Upay_Portal_and_ACH_Debit</name>
        <label>Validate TS Product Upay Portal and ACH Debit</label>
        <locationX>5770</locationX>
        <locationY>2813</locationY>
        <defaultConnector>
            <targetReference>Validate_Total_ACH_Debit_Exposure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_TS_Product_ACH_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Total_ACH_Debit_Exposure_From_Account</targetReference>
            </connector>
            <label>Check TS Product  ACH Debit</label>
        </rules>
        <rules>
            <name>Check_TS_UPay_Portal_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Total_Debit_Exposure_From_Account</targetReference>
            </connector>
            <label>Check TS UPay Portal  Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_TS_Status</name>
        <label>Validate TS Status</label>
        <locationX>2514</locationX>
        <locationY>2921</locationY>
        <defaultConnector>
            <targetReference>Validate_Treasury_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_TS_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_Deposit_Amount_Individual_TS_Records</targetReference>
            </connector>
            <label>Check TS Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaUPayPortalCorporateACHExposureValue</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_through_UpayPortal_TS_Records.CF_Requested_ACH_Limit__c} * 3</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>High_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_High_Speed_RDC_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InstallDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.CloseDate}) + (15/24)</expression>
    </formulas>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Lockbox_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_Lockbox_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Low_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_Low_Speed_RDC_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Mobile_RDC_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_Mobile_RDC_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Wire_Transfer_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Corporate_Daily_Wire_Limit__c} + {!$Record.LLC_BI__Relationship__r.CF_Wire_Transfer_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>TS AFTER Update/Create - TS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS AFTER Update/Create - TS</label>
    <loops>
        <name>Iterate_through_ACH_Credit_Origination_Product_TS_Records</name>
        <label>Iterate through ACH Credit Origination Product TS Records</label>
        <locationX>3086</locationX>
        <locationY>2813</locationY>
        <collectionReference>ACHCreditOriginationProductTSRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_ACH_Credit_Origination_for_TS_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Corporate_ACH_Exposure_Value_Is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_all_the_TS_records</name>
        <label>Iterate through all the TS records</label>
        <locationX>5088</locationX>
        <locationY>4505</locationY>
        <collectionReference>Get_all_TS_records_of_same_PP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_TS_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TS_records_count_on_PP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_every_TS_records</name>
        <label>Iterate through every TS records</label>
        <locationX>1898</locationX>
        <locationY>2813</locationY>
        <collectionReference>Query_All_the_TS_records_associated_to_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_TS_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Treasury_Product_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_TLC_records</name>
        <label>Iterate through TLC records</label>
        <locationX>5066</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_All_Temporary_Limit_Change_Records_Under_TS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Relationship_Manager_to_TLC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Collection_of_TLC_record_is_not_blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_TS_records</name>
        <label>Iterate through TS records</label>
        <locationX>5088</locationX>
        <locationY>1847</locationY>
        <collectionReference>Get_TS_records_of_same_PP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stage_and_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PP_Stage_and_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_UpayPortal_TS_Records</name>
        <label>Iterate through UpayPortal TS Records</label>
        <locationX>5066</locationX>
        <locationY>2813</locationY>
        <collectionReference>CollectionUPayPortalProductTSRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_TS_Product_Upay_Portal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_ACH_Debit_Exposure_Is_not_Blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_each_Opp_Team_Member</name>
        <label>Loop each Opp Team Member</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Opp_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Role_of_assigned_Opp_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Record_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_TS_Records_associated_to_the_fetched_Oppty</name>
        <label>Loop Over TS Records associated to the fetched Oppty</label>
        <locationX>5066</locationX>
        <locationY>5213</locationY>
        <collectionReference>Fetch_TS_records_associated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count_of_TS_Records_Associated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_All_the_TS_records_have_the_Stage_as_Servicing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_TS_records_associated</name>
        <label>Fetch TS records associated</label>
        <locationX>5066</locationX>
        <locationY>5105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_TS_Records_associated_to_the_fetched_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CF_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Treasury_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Temporary_Limit_Change_Records_Under_TS</name>
        <label>Get All Temporary Limit Change Records Under TS</label>
        <locationX>5066</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_TLC_records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CF_Treasury_Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>CF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CO_Temporary_Limit_Changes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the TS records of same PP and store the count of records in variable &apos;CountofTSRecords&apos; and update the Total Treasury Services field on PP with CountofTSRecords</description>
        <name>Get_all_TS_records_of_same_PP</name>
        <label>Get all TS records of same PP</label>
        <locationX>5088</locationX>
        <locationY>4397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_all_the_TS_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Treasury_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_U_Pay_Portal_Product_TS_Associated_to_Account</name>
        <label>Get All U-Pay Portal Product TS Associated to Account</label>
        <locationX>5066</locationX>
        <locationY>2705</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Treasury_Service__c</object>
        <outputReference>CollectionUPayPortalProductTSRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
        <queriedFields>LLC_BI__Relationship__c</queriedFields>
        <queriedFields>LLC_BI__Status__c</queriedFields>
        <queriedFields>CF_Corporate_ACH_Exposure_Value__c</queriedFields>
        <queriedFields>CF_Requested_ACH_Limit__c</queriedFields>
        <queriedFields>CF_Products__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Team_Members</name>
        <label>Get Opp Team Members</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_each_Opp_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TS_records_of_same_PP</name>
        <label>Get TS records of same PP</label>
        <locationX>5088</locationX>
        <locationY>1739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_TS_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Treasury_Service__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Stage__c</queriedFields>
        <queriedFields>LLC_BI__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_All_the_TS_records_associated_to_Account</name>
        <label>Query All the TS records associated to Account</label>
        <locationX>1898</locationX>
        <locationY>2705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Treasury_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_All_TS_ACH_Credit_Origination_Product_records_Associated_to_Account</name>
        <label>Query All TS ACH Credit Origination Product records Associated to Account</label>
        <locationX>3086</locationX>
        <locationY>2705</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Treasury_Service__c</object>
        <outputReference>ACHCreditOriginationProductTSRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Relationship__c</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
        <queriedFields>CF_Corporate_ACH_Exposure_Value__c</queriedFields>
        <queriedFields>LLC_BI__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Deposits</name>
        <label>Query Deposits</label>
        <locationX>237</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deposit_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.Id</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Deposit__c</object>
        <outputAssignments>
            <assignToReference>AccountDepositName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Loans_on_Account</name>
        <label>Query Loans on Account</label>
        <locationX>83</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_exists_on_Rlshp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.Id</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputAssignments>
            <assignToReference>AccountLoanName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Deposit_Only_Flag</name>
        <label>Set Deposit Only Flag</label>
        <locationX>105</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Update_Treasury_Service</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_TM_Deposit_Only__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.LLC_BI__Relationship__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Subtract_Total_ACH_Credit_Exposure_Field_and_Update_Field_On_Account</name>
        <label>Subtract Total ACH Credit Exposure Field and Update Field On Account</label>
        <locationX>3834</locationX>
        <locationY>3029</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Credit_Exposure__c</field>
            <value>
                <elementReference>TotalACHCreditExposureFromAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Subtract_Total_RDC_Exposure_Field_and_Update_Field_On_Account</name>
        <label>Subtract Total RDC Exposure Field and Update Field On Account</label>
        <locationX>3394</locationX>
        <locationY>3029</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalRDCExposureAmountFromAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Total_ACH_Debit_Exposure_Field_and_Update_Field_On_Account</name>
        <label>Total ACH Debit Exposure Field and Update Field On Account</label>
        <locationX>5066</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Debit_Exposure__c</field>
            <value>
                <elementReference>UPayPortalTotalACHDebitExposure</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Total_ACH_Debit_Exposure_Field_On_Account</name>
        <label>Total ACH Debit Exposure Field On Account</label>
        <locationX>5638</locationX>
        <locationY>3221</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Debit_Exposure__c</field>
            <value>
                <elementReference>TotalACHDebitExposureFromAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_High_Speed_Limit_On_Account</name>
        <label>Update High Speed Limit On Account</label>
        <locationX>1238</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_High_Speed_RDC_Limit__c</field>
            <value>
                <elementReference>Total_High_Speed_RDC_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lockbox_Limit_On_Account</name>
        <label>Update Lockbox Limit On Account</label>
        <locationX>2030</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Lockbox_Limit__c</field>
            <value>
                <elementReference>Total_Retail_Remote_Lockbox_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Low_Speed_RDC_Limit_On_Account</name>
        <label>Update Low Speed RDC Limit On Account</label>
        <locationX>1766</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Low_Speed_RDC_Limit__c</field>
            <value>
                <elementReference>Total_Low_Speed_RDC_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mobile_RDC_Limit_On_Account</name>
        <label>Update Mobile RDC Limit On Account</label>
        <locationX>1502</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Mobile_RDC_Limit__c</field>
            <value>
                <elementReference>Total_Mobile_RDC_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_fields_Stages_Probability</name>
        <label>Update Oppty fields Stages, Probability</label>
        <locationX>4934</locationX>
        <locationY>5921</locationY>
        <connector>
            <targetReference>Install_DateTime_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_Stage_and_Status</name>
        <label>Update PP Stage and Status</label>
        <locationX>5088</locationX>
        <locationY>2297</locationY>
        <connector>
            <targetReference>Validate_change_in_status_and_amount_fields_on_TS_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Stage__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Type_Modify</name>
        <label>Update Request Type = Modify</label>
        <locationX>5088</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>TS_Stage_and_Status_check</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Request_Type__c</field>
            <value>
                <stringValue>Modify</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_and_Probability_on_Oppty_Record</name>
        <label>Update Stage and Probability on Oppty Record</label>
        <locationX>182</locationX>
        <locationY>2963</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Install</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TLC_Record</name>
        <label>Update TLC Record</label>
        <locationX>4934</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_TS_is_under_Maintenance</targetReference>
        </connector>
        <inputReference>CollectionOfTLCRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_ACH_Credit_Exposure_Field_on_Account</name>
        <label>Update Total ACH Credit Exposure Field on Account</label>
        <locationX>2954</locationX>
        <locationY>3521</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Credit_Exposure__c</field>
            <value>
                <elementReference>TotalCorporateACHExposureValueForACHCreditOrigination</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_RDC_Exposure_Field_On_Account</name>
        <label>Update Total RDC Exposure Field On Account</label>
        <locationX>2294</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Treasury_Service</name>
        <label>Update Treasury Service</label>
        <locationX>314</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Check_for_Oppty_Stage</targetReference>
        </connector>
        <inputReference>MyTS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TS_records</name>
        <label>Update TS records</label>
        <locationX>5088</locationX>
        <locationY>6305</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Servicing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Install_Date_Time__c</field>
            <value>
                <elementReference>$Record.CF_Install_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Treasury_Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TS_records_count_on_PP</name>
        <label>Update TS records count on PP</label>
        <locationX>5088</locationX>
        <locationY>4805</locationY>
        <connector>
            <targetReference>Check_If_TS_Stage_is_Servicing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_Treasury_Services__c</field>
            <value>
                <elementReference>CountofTSRecords</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_U_Pay_Limit_on_Account</name>
        <label>Update U-Pay Limit on Account</label>
        <locationX>4802</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Product_Package_NULL_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Debit_Exposure__c</field>
            <value>
                <elementReference>UPayPortalTotalACHDebitExposure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_U_Pay_Limit__c</field>
            <value>
                <elementReference>Total_U_Pay_Limit</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>2641</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_new_TS_record</targetReference>
        </connector>
        <object>LLC_BI__Treasury_Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountDepositName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountLoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ACHCreditOriginationProductTSRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>AssignTotalACHCreditExposureFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CollectionOfTLCRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CO_Temporary_Limit_Changes__c</objectType>
    </variables>
    <variables>
        <name>CollectionUPayPortalProductTSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>CorporateACHExposureValueForACHCreditOrigination</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountofTSRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Daily_Deposit_Amount_RDC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DailyDepositAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IndividualTLCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CO_Temporary_Limit_Changes__c</objectType>
    </variables>
    <variables>
        <name>LowSpeedRDCProductTSRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>MyTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>OpptyProbability</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpptyStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Requested_ACH_Limit_U_Pay_Portal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StageCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_High_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Low_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Mobile_RDC_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Retail_Remote_Lockbox_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_U_Pay_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalACHCreditExposureFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalACHDebitExposureFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalCorporateACHExposureValueForACHCreditOrigination</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalDailyDepositAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalRDCExposureAmountFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TSCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UPayPortalACHDebitExposure</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UPayPortalTotalACHDebitExposure</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
