flows/TS_BEFORE_Update_Create_TS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Stage_Fulfillment</name>
        <label>Assign Stage = Fulfillment</label>
        <locationX>1766</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sub_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Onboarding</name>
        <label>Assign Stage = Onboarding</label>
        <locationX>1502</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sub_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Servicing</name>
        <label>Assign Stage = Servicing</label>
        <locationX>2030</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servicing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sub_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_and_Request_Type</name>
        <label>Assign Status and Request Type</label>
        <locationX>1766</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servicing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Update the Compliance Required field based on BSA ACH value</description>
        <name>Update_Compliance_Required_ACH</name>
        <label>Update Compliance Required ACH</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Compliance_Review_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Reference__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Update the compliance required field based on BSA RDC value</description>
        <name>Update_Compliance_Required_RDC</name>
        <label>Update Compliance Required RDC</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Compliance_Review_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Reference__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Date_DocuSign_Returned</name>
        <label>Update Stage &amp; Date DocuSign Returned</label>
        <locationX>1898</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_DocuSign_Returned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_DocuSign_Sent_Sent_By</name>
        <label>Update Date DocuSign Sent/Sent By</label>
        <locationX>1634</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_DocuSign_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_DocuSign_Sent_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_of_Approval</name>
        <label>Update Date of Approval</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_of_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_of_Initial_Setup</name>
        <label>Update Date of Initial Setup</label>
        <locationX>2162</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_of_Initial_Setup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__TM_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_Order_Entry_Completed1</name>
        <label>Update Date Order Entry Completed</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_Order_Entry_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Order_Entry_Completed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_Quality_Control_Completed</name>
        <label>Update Date Quality Control Completed</label>
        <locationX>2690</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_Quality_Control_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_Submitted_for_Approval</name>
        <label>Update Date Submitted for Approval</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_Submitted_for_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the product picklist to conditionally  render the Error 1, 2 and 3 found values</description>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CF_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Reference__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Stage_servicing</name>
        <label>Update Stage servicing</label>
        <locationX>2426</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servicing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CF_Date_Post_Close_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateWhenSubStageUpdatedtoOrderReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Commercial_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>BSA ACH Restrictions are required on ACH, IPay, UPay,  Third Party Sender Services. Validate if the TS is part of these services</description>
        <name>Are_services_related_to_BSA_Restrictions</name>
        <label>Are services related to BSA Restrictions</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_BSA_ACH_Services</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__r.cm_Industry_Code__r.cm_Is_ACH_Prohibited_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__r.cm_Industry_Code__r.cm_Is_ACH_Restricted_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compliance_Required_ACH</targetReference>
            </connector>
            <label>Check BSA ACH Services</label>
        </rules>
        <rules>
            <name>Check_BSA_RDC_Services</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__r.cm_Industry_Code__r.cm_Is_RDC_Prohibited_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__r.cm_Industry_Code__r.cm_Is_RDC_Restricted_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compliance_Required_RDC</targetReference>
            </connector>
            <label>Check BSA RDC Services</label>
        </rules>
    </decisions>
    <decisions>
        <description>As part of DF-01217
If Compliance Review Status is updated as Rejected Then Update Stage to Servicing, Status to Complete and Request Type to Cancelled</description>
        <name>Check_Compliance_Review_Status</name>
        <label>Check Compliance Review Status</label>
        <locationX>1898</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Compliance_Review_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Compliance_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_and_Request_Type</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_IsChanged</name>
        <label>Check if Status IsChanged</label>
        <locationX>1898</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_Sub_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Onboarding</targetReference>
            </connector>
            <label>Sales Stage</label>
        </rules>
        <rules>
            <name>Onboarding_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Fulfillment</targetReference>
            </connector>
            <label>Onboarding Stage</label>
        </rules>
        <rules>
            <name>Fulfillment_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Servicing</targetReference>
            </connector>
            <label>Fulfillment Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sub_Stage</name>
        <label>Check Sub-Stage</label>
        <locationX>1898</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Check_Compliance_Review_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Order_Entry_Completed1</targetReference>
            </connector>
            <label>Order Review</label>
        </rules>
        <rules>
            <name>Submitted_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Submitted_for_Approval</targetReference>
            </connector>
            <label>Submitted for Approval</label>
        </rules>
        <rules>
            <name>Doc_Prep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Prep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Approval</targetReference>
            </connector>
            <label>Doc Prep</label>
        </rules>
        <rules>
            <name>Customer_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_DocuSign_Sent_Sent_By</targetReference>
            </connector>
            <label>Customer Signature</label>
        </rules>
        <rules>
            <name>Confirm_Schedule_Install_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Implementation / Confirm Install Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_DocuSign_Returned</targetReference>
            </connector>
            <label>Awaiting Implementation / Confirm Install Date</label>
        </rules>
        <rules>
            <name>Initial_Setup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Initial_Setup</targetReference>
            </connector>
            <label>Initial Setup</label>
        </rules>
        <rules>
            <name>Quality_Control</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_servicing</targetReference>
            </connector>
            <label>Quality Control</label>
        </rules>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Quality_Control_Completed</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DataLoad_User</name>
        <label>Is DataLoad User?</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Validate_new_TS_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_new_TS_record</name>
        <label>Validate new TS record</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_if_Status_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsUpdate</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_services_related_to_BSA_Restrictions</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <description>Added functionality to update the compliance review Required flag based on associated Account&apos;s -  BSA ACH/RDC values</description>
    <environments>Default</environments>
    <formulas>
        <name>DateValue_From_Install_DateTime</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CF_Install_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <description>Capture the Date/Time when Sub-Stage field is updated to Order Review</description>
        <name>DateWhenSubStageUpdatedtoOrderReview</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>TS BEFORE Update/Create - TS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS BEFORE Update/Create - TS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DataLoad_User</targetReference>
        </connector>
        <object>LLC_BI__Treasury_Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
