flows/TS_Daily_Scheduled_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Task1_Notification</name>
        <label>Task1 Notification</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Install_Date_Check2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_of_Task1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TreasurySalesOfficerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Task created from 7 days of Treasury Service Install Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Task2_Notification</name>
        <label>Task2 Notification</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_of_Task2.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TreasurySalesOfficerId2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Task created from 45 days of Treasury Service Install Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Notification_Recipient</name>
        <label>Notification Recipient</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>TreasurySalesOfficerID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Sales_Officer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification_of_Task1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notification_Recipient2</name>
        <label>Notification Recipient2</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>TreasurySalesOfficerId2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Sales_Officer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification_of_Task2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>When 1 week has passed from the Install Date on the Treasury Service, Then I will be notified and a task will be created</description>
        <name>Install_Date_Check</name>
        <label>Install Date Check</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Install_Date_Check2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Week_passed_from_Install_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OneWeekfromInstallDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Sales_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_post_1_week</targetReference>
            </connector>
            <label>1 Week passed from Install Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>When 45 days has passed from the Install Date on the Treasury Service, Then I will be notified and a task will be created</description>
        <name>Install_Date_Check2</name>
        <label>Install Date Check2</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X45_days_passed_from_Install_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FourtyFivedaysfromInstallDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Sales_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_task_post_45_days</targetReference>
            </connector>
            <label>45 days passed from Install Date</label>
        </rules>
    </decisions>
    <description>Send a notification on creation of Task post 1 week and post 45 days of Treasury Service Install Date</description>
    <environments>Default</environments>
    <formulas>
        <name>FourtyFivedaysfromInstallDate</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.CF_Install_Date__c}+45=TODAY()</expression>
    </formulas>
    <formulas>
        <name>OneWeekfromInstallDate</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.CF_Install_Date__c}+7=TODAY()</expression>
    </formulas>
    <formulas>
        <name>TaskReminder</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()+2)+&quot; &quot;+&apos;13:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>TaskReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!TwoDaysFromToday})</expression>
    </formulas>
    <formulas>
        <name>TwoDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <interviewLabel>TS_Daily_Scheduled_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS Daily Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_task_post_45_days</name>
        <label>Create a task post 45 days</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Notification_Recipient2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TwoDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CF_Treasury_Sales_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>TaskReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.CF_Account_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_post_1_week</name>
        <label>Create Task post 1 week</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Notification_Recipient</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TwoDaysFromToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CF_Treasury_Sales_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>TaskReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.CF_Account_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_of_Task1</name>
        <label>Get Notification of Task1</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task1_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Task_Created_post_7_days_from_TS_Install_Date</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_of_Task2</name>
        <label>Get Notification of Task2</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task2_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Task_Created_post_45_days_from_TS_Install_Date</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Install_Date_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Install_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Treasury_Service__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-01</startDate>
            <startTime>01:05:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TreasurySalesOfficerID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TreasurySalesOfficerId2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
