flows/TS_One_time_update_for_Day0.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_ACH_Company_Limit</name>
        <label>Add ACH Company Limit</label>
        <locationX>402</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Sum_of_ACH_Company_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ACH_records.CF_Requested_ACH_Company_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_of_Exposure_Value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ACH_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Treasury_Product</name>
        <label>Check Treasury Product</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_ACH_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACH_Credit_Limit_on_Account</targetReference>
            </connector>
            <label>Prod = ACH Credit</label>
        </rules>
        <rules>
            <name>Prod_ACH_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACH_Debit_Limit_on_Account</targetReference>
            </connector>
            <label>Prod = ACH Debit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaVariable</name>
        <dataType>Currency</dataType>
        <expression>IF (ISPICKVAL({!Loop_through_ACH_records.TM_Frequency__c} ,&apos;Daily&apos;), 3 * {!Loop_through_ACH_records.CF_Requested_ACH_Company_Limit__c},
IF (ISPICKVAL({!Loop_through_ACH_records.TM_Frequency__c} ,&apos;Weekly/bi-weekly&apos;), 2 * {!Loop_through_ACH_records.CF_Requested_ACH_Company_Limit__c},
IF (ISPICKVAL({!Loop_through_ACH_records.TM_Frequency__c} ,&apos;Monthly/bi-monthly&apos;), 1.5 * {!Loop_through_ACH_records.CF_Requested_ACH_Company_Limit__c},
IF (ISPICKVAL({!Loop_through_ACH_records.TM_Frequency__c} ,&apos;Quarterly/annually&apos;), 1.25 * {!Loop_through_ACH_records.CF_Requested_ACH_Company_Limit__c},
0))))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>TS One time update for Day0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS One time update for Day0</label>
    <loops>
        <name>Loop_through_ACH_records</name>
        <label>Loop through ACH records</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_All_associated_ACH_Company_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ACH_Company_Limit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_associated_ACH_Company_records</name>
        <label>Get All associated ACH Company records</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ACH_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Treasury_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TM_Treasury_Product_ACH_Companies__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACH_Credit_Limit_on_Account</name>
        <label>Update ACH Credit Limit on Account</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Corporate_ACH_Credit_Limit__c</field>
            <value>
                <elementReference>Sum_of_ACH_Company_Limit</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACH_Debit_Limit_on_Account</name>
        <label>Update ACH Debit Limit on Account</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Corporate_ACH_Debit_Limit__c</field>
            <value>
                <elementReference>Sum_of_ACH_Company_Limit</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TS</name>
        <label>Update TS</label>
        <locationX>314</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Check_Treasury_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Corporate_ACH_Exposure_Value__c</field>
            <value>
                <elementReference>Sum_of_Exposure_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Corporate_ACH_Origination_Limit__c</field>
            <value>
                <elementReference>Sum_of_ACH_Company_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Is_ACH_Company_Rec_Exists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Treasury_Service__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_associated_ACH_Company_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__lookupKey__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a4C3K000000IiYZUA0</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Treasury_Service__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-09-14</startDate>
            <startTime>14:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MyACH</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TM_Treasury_Product_ACH_Companies__c</objectType>
    </variables>
    <variables>
        <name>Sum_of_ACH_Company_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Sum_of_Exposure_Value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
