flows/TS_OneTime_Batch_Flow_to_Update_Day0_TS_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_ACH_Credit_Corporation_Product_Corporate_ACH_Exposure_Value</name>
        <label>Assign ACH Credit Corporation Product Corporate ACH Exposure Value</label>
        <locationX>2074</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>CorporateACHExposureValueForACHCreditOrigination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.CF_Corporate_ACH_Exposure_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Corporate_ACH_Exposure_Value_For_ACH_Credit_Origination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ACH_Debit_Exposure_Value</name>
        <label>Assign ACH Debit Exposure Value</label>
        <locationX>3262</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalACHDebitExposure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_UpayPortal_TS_Records.CF_Corporate_ACH_Exposure_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_ACH_Debit_Exposure1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_Deposit_Amount_Individual_TS_Records</name>
        <label>Assign Daily Deposit Amount Individual TS Records</label>
        <locationX>1194</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>DailyDepositAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Daily_Deposit_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_High_Speed_Limit</name>
        <label>Assign High Speed Limit</label>
        <locationX>798</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_High_Speed_RDC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Low_Speed_RDC_Limit</name>
        <label>Assign Low Speed RDC Limit</label>
        <locationX>1326</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Low_Speed_RDC_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile_RDC_Limit</name>
        <label>Assign Mobile RDC Limit</label>
        <locationX>1062</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Mobile_RDC_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remote_Retail_Lockbox_Limit</name>
        <label>Assign Remote / Retail Lockbox Limit</label>
        <locationX>1590</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Daily_Deposit_Amount_RDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_every_TS_records.CF_Daily_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Remote_Retail_RDC_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_ACH_Debit_Exposure1</name>
        <label>Assign Total ACH Debit Exposure1</label>
        <locationX>3262</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalTotalACHDebitExposure</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UPayPortalACHDebitExposure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_ACH_Debit_Exposure_for_Upay_portal</name>
        <label>Assign Total ACH Debit Exposure for Upay portal</label>
        <locationX>3658</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalTotalACHDebitExposure</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UPayPortalACHDebitExposure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Product_is_U_Pay_Portal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Corporate_ACH_Exposure_Value_For_ACH_Credit_Origination</name>
        <label>Assign Total Corporate ACH Exposure Value For ACH Credit Origination</label>
        <locationX>2074</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>TotalCorporateACHExposureValueForACHCreditOrigination</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CorporateACHExposureValueForACHCreditOrigination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Daily_Deposit_Amount</name>
        <label>Assign Total Daily Deposit Amount</label>
        <locationX>1194</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>TotalDailyDepositAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DailyDepositAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Treasury_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_High_Speed_RDC</name>
        <label>Assign Total High Speed RDC</label>
        <locationX>798</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Total_High_Speed_RDC_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Low_Speed_RDC_Limit</name>
        <label>Assign Total Low Speed RDC Limit</label>
        <locationX>1326</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Total_Low_Speed_RDC_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Mobile_RDC_Limit</name>
        <label>Assign Total Mobile RDC Limit</label>
        <locationX>1062</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Total_Mobile_RDC_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Remote_Retail_RDC_Limit</name>
        <label>Assign Total Remote/Retail RDC Limit</label>
        <locationX>1590</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Total_Retail_Remote_Lockbox_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Deposit_Amount_RDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_U_Pay_Portal_Limit</name>
        <label>Assign Total U-Pay Portal Limit</label>
        <locationX>3526</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Total_U_Pay_Limit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Requested_ACH_Limit_U_Pay_Portal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_U_Pay_Portal_Limit</name>
        <label>Assign U-Pay Portal Limit</label>
        <locationX>3526</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>Requested_ACH_Limit_U_Pay_Portal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_UpayPortal_TS_Records.CF_Requested_ACH_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_U_Pay_Portal_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UPayPortalACHExposure</name>
        <label>Assign UPayPortalACHExposure</label>
        <locationX>3658</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>UPayPortalACHDebitExposure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaUPayPortalCorporateACHExposureValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_ACH_Debit_Exposure_for_Upay_portal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Product_is_U_Pay_Portal</name>
        <label>Check if Product is U-Pay Portal</label>
        <locationX>3658</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_U_Pay_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_U_Pay_Portal_Limit</targetReference>
            </connector>
            <label>Prod = U-Pay Portal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Treasury_Product_Check</name>
        <label>Treasury Product Check</label>
        <locationX>710</locationX>
        <locationY>1476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_High_Speed_Limit_On_Account</targetReference>
            </connector>
            <label>High Speed RDC</label>
        </rules>
        <rules>
            <name>Mobile_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mobile_RDC_Limit_On_Account</targetReference>
            </connector>
            <label>Mobile RDC</label>
        </rules>
        <rules>
            <name>Low_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Low_Speed_RDC_Limit_On_Account</targetReference>
            </connector>
            <label>Low Speed RDC</label>
        </rules>
        <rules>
            <name>Remote_Retail_Lockbox</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lockbox_Limit_On_Account</targetReference>
            </connector>
            <label>Remote / Retail Lockbox</label>
        </rules>
        <rules>
            <name>Check_Total_Daily_Deposit_Amount_field_is_not_blank_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalDailyDepositAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_RDC_Exposure_Field_On_Account</targetReference>
            </connector>
            <label>Check Total Daily Deposit Amount field is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ACH_Credit_Origination_for_TS_Record</name>
        <label>Validate ACH Credit Origination for TS Record</label>
        <locationX>2206</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ACH_Credit_Origination_for_TS_Record</name>
            <conditionLogic>(1 OR 5) AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ACH_Credit_Corporation_Product_Corporate_ACH_Exposure_Value</targetReference>
            </connector>
            <label>Check ACH Credit Origination for TS Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ACH_Debit_Exposure_Is_not_Blank</name>
        <label>Validate ACH Debit Exposure Is not Blank</label>
        <locationX>3174</locationX>
        <locationY>1476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_U_Pay_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UPayPortalTotalACHDebitExposure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_U_Pay_Limit_on_Account</targetReference>
            </connector>
            <label>Product = U-Pay Portal</label>
        </rules>
        <rules>
            <name>Check_ACH_Debit_Exposure_Is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UPayPortalTotalACHDebitExposure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_ACH_Debit_Exposure_Field_and_Update_Field_On_Account</targetReference>
            </connector>
            <label>Check ACH Debit Exposure Is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Corporate_ACH_Exposure_Value_Is_not_null</name>
        <label>Validate Corporate ACH Exposure Value Is not null</label>
        <locationX>1986</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Corporate_ACH_Exposure_Value_Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCorporateACHExposureValueForACHCreditOrigination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_ACH_Credit_Exposure_Field_on_Account</targetReference>
            </connector>
            <label>Check Corporate ACH Exposure Value Is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Product_Value_on_TS_record</name>
        <label>Validate Product Value on TS record</label>
        <locationX>2206</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Daily_Deposit_Amount_Value_on_TS_record_for_Low_Speed_RDC_product_and_Stat</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6) AND 7 AND 8 AND (9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_All_the_TS_records_associated_to_Account</targetReference>
            </connector>
            <label>Check Daily Deposit Amount Value on TS record for Low Speed RDC product and Status value equal to Open or On Hold</label>
        </rules>
        <rules>
            <name>Check_Product_Value_on_TS_record_for_ACH_Credit_and_Status_value_equal_to_Open_o</name>
            <conditionLogic>1 AND 2 AND (3 OR 8) AND 4 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Credit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Sender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_All_TS_ACH_Credit_Origination_Product_records_Associated_to_Account</targetReference>
            </connector>
            <label>Check Product Value on TS record for ACH Credit and Status value equal to Open or Hold</label>
        </rules>
        <rules>
            <name>Check_Corporate_ACH_Exposure_Value_on_TS_record_for_U_Pay_Portal_OR_I_Collect_Po</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND 7 AND (8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Relationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_U_Pay_Portal_Product_TS_Associated_to_Account</targetReference>
            </connector>
            <label>Check Corporate ACH Exposure Value on TS record for U Pay Portal OR I Collect Portal Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Treasury_Product</name>
        <label>Validate Treasury Product</label>
        <locationX>1326</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_High_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_High_Speed_Limit</targetReference>
            </connector>
            <label>Prod = High Speed RDC</label>
        </rules>
        <rules>
            <name>Prod_Mobile_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_RDC_Limit</targetReference>
            </connector>
            <label>Prod = Mobile RDC</label>
        </rules>
        <rules>
            <name>Prod_Low_Speed_RDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Speed RDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Low_Speed_RDC_Limit</targetReference>
            </connector>
            <label>Prod = Low Speed RDC</label>
        </rules>
        <rules>
            <name>Prod_Remote_Retail_Lockbox</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote Lockbox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Lockbox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Remote_Retail_Lockbox_Limit</targetReference>
            </connector>
            <label>Prod = Remote / Retail Lockbox</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_TS_Product_Upay_Portal</name>
        <label>Validate TS Product Upay Portal</label>
        <locationX>3614</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_TS_ACH_Debit_Origination_Product</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Debit Origination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ACH_Debit_Exposure_Value</targetReference>
            </connector>
            <label>Check TS ACH Debit Origination Product</label>
        </rules>
        <rules>
            <name>Check_TS_UPayPortal_Product</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I-Collect Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Product_Reference__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U-Pay Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_UpayPortal_TS_Records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UPayPortalACHExposure</targetReference>
            </connector>
            <label>Check TS UPayPortal Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_TS_Status</name>
        <label>Validate TS Status</label>
        <locationX>1326</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Validate_Treasury_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_TS_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_every_TS_records.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_Deposit_Amount_Individual_TS_Records</targetReference>
            </connector>
            <label>Check TS Status</label>
        </rules>
    </decisions>
    <description>Third Party Reference - a4C6g000001BLflEAG</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaUPayPortalCorporateACHExposureValue</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_through_UpayPortal_TS_Records.CF_Requested_ACH_Limit__c} * 3</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>High_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_High_Speed_RDC_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InstallDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.LLC_BI__Scenario__r.LLC_BI__Opportunity__r.CloseDate}) + (15/24)</expression>
    </formulas>
    <formulas>
        <name>Lockbox_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_Lockbox_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Low_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_Low_Speed_RDC_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Mobile_RDC_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Daily_Deposit_Amount__c} + {!$Record.LLC_BI__Relationship__r.CF_Mobile_RDC_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Wire_Transfer_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Corporate_Daily_Wire_Limit__c} + {!$Record.LLC_BI__Relationship__r.CF_Wire_Transfer_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>TS_OneTime_Batch_Flow_to_Update_Day0_TS_Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS_OneTime_Batch_Flow_to_Update_Day0_TS_Records</label>
    <loops>
        <name>Iterate_through_ACH_Credit_Origination_Product_TS_Records</name>
        <label>Iterate through ACH Credit Origination Product TS Records</label>
        <locationX>1986</locationX>
        <locationY>468</locationY>
        <collectionReference>ACHCreditOriginationProductTSRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_ACH_Credit_Origination_for_TS_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Corporate_ACH_Exposure_Value_Is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_every_TS_records</name>
        <label>Iterate through every TS records</label>
        <locationX>710</locationX>
        <locationY>468</locationY>
        <collectionReference>Query_All_the_TS_records_associated_to_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_TS_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Treasury_Product_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_UpayPortal_TS_Records</name>
        <label>Iterate through UpayPortal TS Records</label>
        <locationX>3174</locationX>
        <locationY>468</locationY>
        <collectionReference>CollectionUPayPortalProductTSRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_TS_Product_Upay_Portal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_ACH_Debit_Exposure_Is_not_Blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_U_Pay_Portal_Product_TS_Associated_to_Account</name>
        <label>Get All U-Pay Portal Product TS Associated to Account</label>
        <locationX>3174</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_UpayPortal_TS_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Treasury_Service__c</object>
        <outputReference>CollectionUPayPortalProductTSRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
        <queriedFields>LLC_BI__Relationship__c</queriedFields>
        <queriedFields>LLC_BI__Status__c</queriedFields>
        <queriedFields>CF_Corporate_ACH_Exposure_Value__c</queriedFields>
        <queriedFields>CF_Requested_ACH_Limit__c</queriedFields>
        <queriedFields>CF_Products__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_All_the_TS_records_associated_to_Account</name>
        <label>Query All the TS records associated to Account</label>
        <locationX>710</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_every_TS_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Treasury_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_All_TS_ACH_Credit_Origination_Product_records_Associated_to_Account</name>
        <label>Query All TS ACH Credit Origination Product records Associated to Account</label>
        <locationX>1986</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_ACH_Credit_Origination_Product_TS_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Treasury_Service__c</object>
        <outputReference>ACHCreditOriginationProductTSRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Relationship__c</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
        <queriedFields>CF_Corporate_ACH_Exposure_Value__c</queriedFields>
        <queriedFields>LLC_BI__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Total_ACH_Debit_Exposure_Field_and_Update_Field_On_Account</name>
        <label>Total ACH Debit Exposure Field and Update Field On Account</label>
        <locationX>3174</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Debit_Exposure__c</field>
            <value>
                <elementReference>UPayPortalTotalACHDebitExposure</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_High_Speed_Limit_On_Account</name>
        <label>Update High Speed Limit On Account</label>
        <locationX>50</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_High_Speed_RDC_Limit__c</field>
            <value>
                <elementReference>Total_High_Speed_RDC_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lockbox_Limit_On_Account</name>
        <label>Update Lockbox Limit On Account</label>
        <locationX>842</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Lockbox_Limit__c</field>
            <value>
                <elementReference>Total_Retail_Remote_Lockbox_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Low_Speed_RDC_Limit_On_Account</name>
        <label>Update Low Speed RDC Limit On Account</label>
        <locationX>578</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Low_Speed_RDC_Limit__c</field>
            <value>
                <elementReference>Total_Low_Speed_RDC_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mobile_RDC_Limit_On_Account</name>
        <label>Update Mobile RDC Limit On Account</label>
        <locationX>314</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Mobile_RDC_Limit__c</field>
            <value>
                <elementReference>Total_Mobile_RDC_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_ACH_Credit_Exposure_Field_on_Account</name>
        <label>Update Total ACH Credit Exposure Field on Account</label>
        <locationX>1854</locationX>
        <locationY>1176</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Credit_Exposure__c</field>
            <value>
                <elementReference>TotalCorporateACHExposureValueForACHCreditOrigination</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_RDC_Exposure_Field_On_Account</name>
        <label>Update Total RDC Exposure Field On Account</label>
        <locationX>1106</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_RDC_Exposure__c</field>
            <value>
                <elementReference>TotalDailyDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_U_Pay_Limit_on_Account</name>
        <label>Update U-Pay Limit on Account</label>
        <locationX>2910</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Total_ACH_Debit_Exposure__c</field>
            <value>
                <elementReference>UPayPortalTotalACHDebitExposure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_U_Pay_Limit__c</field>
            <value>
                <elementReference>Total_U_Pay_Limit</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>2080</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Product_Value_on_TS_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__lookupKey__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a4C6g000001BLflEAG</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Treasury_Service__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-09-26</startDate>
            <startTime>13:59:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountDepositName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountLoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ACHCreditOriginationProductTSRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>AssignTotalACHCreditExposureFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CollectionOfTLCRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CO_Temporary_Limit_Changes__c</objectType>
    </variables>
    <variables>
        <name>CollectionUPayPortalProductTSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>CorporateACHExposureValueForACHCreditOrigination</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountofTSRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Daily_Deposit_Amount_RDC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DailyDepositAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IndividualTLCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CO_Temporary_Limit_Changes__c</objectType>
    </variables>
    <variables>
        <name>LowSpeedRDCProductTSRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>MyTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Treasury_Service__c</objectType>
    </variables>
    <variables>
        <name>OpptyProbability</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpptyStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Requested_ACH_Limit_U_Pay_Portal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StageCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_High_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Low_Speed_RDC_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Mobile_RDC_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Retail_Remote_Lockbox_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_U_Pay_Limit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalACHCreditExposureFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalACHDebitExposureFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalCorporateACHExposureValueForACHCreditOrigination</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalDailyDepositAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalRDCExposureAmountFromAccount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TSCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UPayPortalACHDebitExposure</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UPayPortalTotalACHDebitExposure</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
