flows/TS_Scenario_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>335</locationX>
        <locationY>1271</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Scenario_Is_Converted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Scenario_Approval_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Proforma has been Approved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Approved_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Initial_Submitter_as_Recipients</name>
        <label>Assign Initial Submitter as Recipients</label>
        <locationX>467</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Scenario_Approval_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CF_Initial_Submitter__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Date_submitted_for_Approval_is_not_null</name>
        <label>Check if Date submitted for Approval is not null</label>
        <locationX>621</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_Scenario_is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Submitted_For_Approval__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CF_Initial_Submitter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Submitter</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Initial_Submitter_is_not_null</name>
        <label>Check if Initial Submitter is not null</label>
        <locationX>467</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Scenario_Is_Converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Initial_Submitter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Bell_Notification</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Initial Submitter get bell notification when record was Approved [DF-01260]</description>
        <name>Check_if_Scenario_is_Approved</name>
        <label>Check if Scenario is Approved</label>
        <locationX>621</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Scenario_Is_Converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Submitter_as_Recipients</targetReference>
            </connector>
            <label>Status = Final</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Data_User</name>
        <label>Is Data User</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Validate_Is_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scenario_Is_Converted</name>
        <label>Scenario Is Converted?</label>
        <locationX>621</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scenario_Is_Changed_or_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Converted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Is_Converted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Scenario Is Changed or Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Is_New_Record</name>
        <label>Validate Is New Record</label>
        <locationX>544</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEWRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Check Is New Record</label>
        </rules>
        <rules>
            <name>Check_Update_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEWRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Date_submitted_for_Approval_is_not_null</targetReference>
            </connector>
            <label>Check Update Record</label>
        </rules>
    </decisions>
    <description>This flow support automation on the scenario record</description>
    <environments>Default</environments>
    <formulas>
        <name>Approved_Notification_Body</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; has been Approved.&quot;</expression>
    </formulas>
    <formulas>
        <name>ECR</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record.CF_Earnings_Credit_Rate__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ISNEWRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>TS Scenario Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS Scenario Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>467</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Initial_Submitter_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT_Scenario_Approval_Bell_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Initial_Submitter</name>
        <label>Update Initial Submitter</label>
        <locationX>489</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_Scenario_is_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>CF_Initial_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Earnings_Credit_Allowance__c</field>
            <value>
                <elementReference>ECR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>489</locationX>
        <locationY>1655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CF_Has_Converted_Proforma__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Has_Converted_Proforma__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Data_User</targetReference>
        </connector>
        <object>LLC_BI__Scenario__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Scenario_Approval_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
