flows/Update_SLA_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>1546</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>lstSLAUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSLARecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSLARecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Processing_time</name>
        <label>Assign Application Processing time</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanApplicationProcessingStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Booked_Time</name>
        <label>Assign Booked Time</label>
        <locationX>2338</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanBookedStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BookingFunding_time</name>
        <label>Assign BookingFunding time</label>
        <locationX>2074</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanBookingFundingStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Closing_Time</name>
        <label>Assign Closing Time</label>
        <locationX>1810</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanClosingStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete_Time</name>
        <label>Assign Complete Time</label>
        <locationX>2602</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanCompleteStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_DecisioningTime</name>
        <label>Assign Credit DecisioningTime</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanCreditDecisioningStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DocprepReview_time</name>
        <label>Assign DocprepReview time</label>
        <locationX>1546</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanDocPrepReviewStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PreClosingDDTime</name>
        <label>Assign PreClosingDDTime</label>
        <locationX>1282</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_Loan_PreClosingDD_Stage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Qual_proposal_time</name>
        <label>Assign Qual proposal time</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_Loan_QualificationProposal_Stage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Underwriting_time</name>
        <label>Assign Underwriting time</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_LoanCreditUnderwritingStageDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PriorStageValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PriorStageValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populate_ApplicationProcessing_Cumulative</name>
        <label>populate ApplicationProcessing Cumulative</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_ApplicationProcessingCumulative_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationProcessingFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populate_Booked_Cumulative</name>
        <label>populate Booked Cumulative</label>
        <locationX>2250</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_BookedCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BookedFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populate_BookingFunding_Cumulative</name>
        <label>populate BookingFunding Cumulative</label>
        <locationX>1986</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_BookingFundingCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BookingFundingFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Closing_Cumulative</name>
        <label>Populate Closing Cumulative</label>
        <locationX>1722</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_ClosingCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClosingFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populate_Complete_Cumulative</name>
        <label>populate Complete Cumulative</label>
        <locationX>2514</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_CompleteCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompleteFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_CreditDecisioning_Cumulative</name>
        <label>Populate CreditDecisioning Cumulative</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_CreditDecisioningCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreditDecisioningFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_DocPrepReview_Cumulative</name>
        <label>Populate DocPrepReview Cumulative</label>
        <locationX>1458</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_DocPrepReviewCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocPrepReviewFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_PreClosingDD_Cumulative</name>
        <label>Populate PreClosingDD Cumulative</label>
        <locationX>1194</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_PreClosingDDCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreClosingDDFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populate_QualificationProposal_Cumulative</name>
        <label>populate QualificationProposal Cumulative</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_QualificationProposalCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QualificationProposalFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Underwriting_Cumulative</name>
        <label>Populate Underwriting Cumulative</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>loopSLARecord.CF_CreditUnderwritingCumulativeDays__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreditUWFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Loan_Stages</name>
        <label>Check Loan Stages</label>
        <locationX>1546</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>loopSLARecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Qual_proposal_time</targetReference>
            </connector>
            <label>Qualification/Proposal</label>
        </rules>
        <rules>
            <name>Application_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_Processing_time</targetReference>
            </connector>
            <label>Application Processing</label>
        </rules>
        <rules>
            <name>Credit_Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Underwriting_time</targetReference>
            </connector>
            <label>Credit Underwriting</label>
        </rules>
        <rules>
            <name>Credit_Decisioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decisioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_DecisioningTime</targetReference>
            </connector>
            <label>Credit Decisioning</label>
        </rules>
        <rules>
            <name>Pre_Closing_Due_Diligence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreClosingDDTime</targetReference>
            </connector>
            <label>Pre-Closing Due Diligence</label>
        </rules>
        <rules>
            <name>Doc_Prep_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Prep &amp; Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DocprepReview_time</targetReference>
            </connector>
            <label>Doc Prep &amp; Review</label>
        </rules>
        <rules>
            <name>Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closing_Time</targetReference>
            </connector>
            <label>Closing</label>
        </rules>
        <rules>
            <name>Booking_Funding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking / Funding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BookingFunding_time</targetReference>
            </connector>
            <label>Booking / Funding</label>
        </rules>
        <rules>
            <name>Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Booked_Time</targetReference>
            </connector>
            <label>Booked</label>
        </rules>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_LoanStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Time</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_previous_stage</name>
        <label>check previous stage</label>
        <locationX>1546</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>loopSLARecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isQualificationProposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification / Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populate_QualificationProposal_Cumulative</targetReference>
            </connector>
            <label>isQualificationProposal</label>
        </rules>
        <rules>
            <name>isApplicationProcessing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populate_ApplicationProcessing_Cumulative</targetReference>
            </connector>
            <label>isApplicationProcessing</label>
        </rules>
        <rules>
            <name>isCreditUW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Underwriting_Cumulative</targetReference>
            </connector>
            <label>isCreditUW</label>
        </rules>
        <rules>
            <name>isCreditDecisioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decisioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_CreditDecisioning_Cumulative</targetReference>
            </connector>
            <label>isCreditDecisioning</label>
        </rules>
        <rules>
            <name>isPreClosingDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing Due Diligence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_PreClosingDD_Cumulative</targetReference>
            </connector>
            <label>isPreClosingDD</label>
        </rules>
        <rules>
            <name>isDocPrepReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Prep &amp; Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_DocPrepReview_Cumulative</targetReference>
            </connector>
            <label>isDocPrepReview</label>
        </rules>
        <rules>
            <name>isClosing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Closing_Cumulative</targetReference>
            </connector>
            <label>isClosing</label>
        </rules>
        <rules>
            <name>isBookingFunding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking / Funding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populate_BookingFunding_Cumulative</targetReference>
            </connector>
            <label>isBookingFunding</label>
        </rules>
        <rules>
            <name>isBooked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populate_Booked_Cumulative</targetReference>
            </connector>
            <label>isBooked</label>
        </rules>
        <rules>
            <name>isComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populate_Complete_Cumulative</targetReference>
            </connector>
            <label>isComplete</label>
        </rules>
        <rules>
            <name>isPriorBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_list</targetReference>
            </connector>
            <label>isPriorBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_List_Not_null</name>
        <label>SLA List Not null</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSLARecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSLARecord</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Used to update SLA Object records (extend from Loan and Product Package)</description>
    <formulas>
        <name>ApplicationProcessingFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Application Processing&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanApplicationProcessingStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanApplicationProcessingStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BookedFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Booked&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanBookedStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanBookedStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BookingFundingFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Booking / Funding&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanBookingFundingStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanBookingFundingStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ClosingFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Closing&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanClosingStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanClosingStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CompleteFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Complete&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanCompleteStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanCompleteStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CreditDecisioningFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Credit Decisioning&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanCreditDecisioningStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanCreditDecisioningStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CreditUWFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Credit Underwriting&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanCreditUnderwritingStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanCreditUnderwritingStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DocPrepReviewFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Doc Prep &amp; Review&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanDocPrepReviewStageDate__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_LoanDocPrepReviewStageDate__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>pausetime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (5/(24*60*60))</expression>
    </formulas>
    <formulas>
        <name>PreClosingDDFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Pre-Closing Due Diligence&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_Loan_PreClosingDD_Stage_Date__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_Loan_PreClosingDD_Stage_Date__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QualificationProposalFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!loopSLARecord.CF_LoanHoldStage__c} != &apos;Qualification / Proposal&apos;,
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_Loan_QualificationProposal_Stage_Date__c}),
({!$Flow.CurrentDateTime} - {!loopSLARecord.CF_Loan_QualificationProposal_Stage_Date__c})-{!loopSLARecord.CF_LoanHoldStageDays__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update SLA Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SLA Records</label>
    <loops>
        <name>loopSLARecord</name>
        <label>loopSLARecord</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>getSLARecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Loan_Stages</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SLA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSLARecords</name>
        <label>getSLARecords</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SLA_List_Not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CF_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_LoanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLA</name>
        <label>Update SLA</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <inputReference>lstSLAUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSLARecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>in_LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_LoanStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_PriorStageValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSLAUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SLA__c</objectType>
    </variables>
</Flow>
