flows/Wire_Accounts_AFTER_Update_Create_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Wire_Transfer_Limit</name>
        <label>Assign Wire Transfer Limit</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>WireTransferLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.LLC_BI__Relationship__r.CF_Wire_Transfer_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wire_Limit_on_Account_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wire_Transfer_Limit_from_Account</name>
        <label>Assign Wire Transfer Limit from Account</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>WireTransferLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.LLC_BI__Relationship__r.CF_Wire_Transfer_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wire_Limit_on_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_Daily_Limit_IsChanged</name>
        <label>Check if Account Daily Limit IsChanged</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Daily_Limit_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Account_Daily_Limit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Wire_Transfer_Limit_from_Account</targetReference>
            </connector>
            <label>Account Daily Limit ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Wire_transfer_limit_on_Account_is_not_null</name>
        <label>Check if Wire transfer limit on Account is not null</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Wire_Limit_on_Account_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service__r.LLC_BI__Relationship__r.CF_Wire_Transfer_Limit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Wire_Transfer_Limit</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>TS_Id_Exists</name>
        <label>TS Id Exists?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CF_Treasury_Service__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_new_Wire_Account</name>
        <label>Validate new Wire Account</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_Account_Daily_Limit_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsUpdate</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Wire_transfer_limit_on_Account_is_not_null</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Total_Wire_Transfer_Limit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CF_Account_Daily_Limit__c} + {!WireTransferLimit}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Updated_Total_Wire_Transfer_Limit</name>
        <dataType>Currency</dataType>
        <expression>({!WireTransferLimit} - {!$Record__Prior.CF_Account_Daily_Limit__c}) + {!$Record.CF_Account_Daily_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Wire Accounts AFTER Update/Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wire Accounts AFTER Update/Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_TS</name>
        <label>Update TS</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Is_Wire_Account_Rec_Exists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Treasury_Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wire_Limit_on_Account</name>
        <label>Update Wire Limit on Account</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Wire_Transfer_Limit__c</field>
            <value>
                <elementReference>Updated_Total_Wire_Transfer_Limit</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wire_Limit_on_Account_1</name>
        <label>Update Wire Limit on Account</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>TS_Id_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Wire_Transfer_Limit__c</field>
            <value>
                <elementReference>Total_Wire_Transfer_Limit</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wire_Limit_on_Account_2</name>
        <label>Update Wire Limit on Account</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>TS_Id_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CF_Treasury_Service__r.LLC_BI__Relationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Wire_Transfer_Limit__c</field>
            <value>
                <elementReference>$Record.CF_Account_Daily_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_new_Wire_Account</targetReference>
        </connector>
        <object>CO_Treasury_Product_Wire_Accounts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WireTransferLimit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
