flows/WS_eTran_From_Loan_OrigUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>eTran_Service</name>
        <label>eTran Service</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>WS_eTranServiceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Did_the_SBA_Number_Change</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appId</name>
            <value>
                <elementReference>Get_Loan.LLC_BI__Application__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>OrigUpdate</stringValue>
            </value>
        </inputParameters>
        <nameSegment>WS_eTranServiceInvocable</nameSegment>
        <outputParameters>
            <assignToReference>Text_AppApprovedDate</assignToReference>
            <name>applicationApprovedDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Text_AppRecvdDate</assignToReference>
            <name>applicationReceivedDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Text_LiquidCreditScore</assignToReference>
            <name>liquidCreditScore</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Text_ApplicationStatusCode</assignToReference>
            <name>LoanApplicationStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Text_GuranteeFeesAmount</assignToReference>
            <name>LoanGuaranteeFeeAmount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>synopsis</assignToReference>
            <name>synopsis</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Text_SBAAppovedAmount</assignToReference>
            <name>loanApplicationApprovedAmount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>applicationNumber</assignToReference>
            <name>applicationNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sbaLoanNumber</assignToReference>
            <name>sbaLoanNumber</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_SBA_Number</name>
        <label>Assign SBA Number</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Application.nSBA__SBA_Loan_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sbaLoanNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application.nSBA__SBA_Date_Application_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_AppRecvdDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application.nSBA__Loan_Authorization_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_AppApprovedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application.nSBA__Original_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_SBAApprovedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application.CF_App_SBA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_ApplicationStatusCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application.nSBA__Liquid_Credit_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_CreditScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application.nSBA__Total_SBA_Guaranty_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_SBAGuranteeFees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_App</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_the_SBA_Number_Change</name>
        <label>Did the SBA Number Change?</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.nSBA__SBA_Loan_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sbaLoanNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sbaLoanNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SBA_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasCreds</name>
        <label>hasCreds</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_valid_creds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCreds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application</targetReference>
            </connector>
            <label>has valid creds</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValidUSer_Loan</name>
        <label>isValidUSer&amp;Loan</label>
        <locationX>1304</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCreds</targetReference>
            </connector>
            <label>YEs</label>
        </rules>
    </decisions>
    <formulas>
        <name>Currency_SBAApprovedAmount</name>
        <dataType>Currency</dataType>
        <expression>VALUE(SUBSTITUTE  ({!RemovedDollarfromAmount}, &quot;,&quot;, &quot;&quot;)  )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Currency_SBAGuranteeFees</name>
        <dataType>Currency</dataType>
        <expression>VALUE(SUBSTITUTE({!RemoveDollarFromFees}, &quot;,&quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Date_AppApprovedDate</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE(RIGHT({!Text_GetOnlyDate_AppApporvedDate}, 4)),VALUE(MID({!Text_GetOnlyDate_AppApporvedDate}, 4,2)), VALUE(LEFT({!Text_GetOnlyDate_AppApporvedDate},2)))</expression>
    </formulas>
    <formulas>
        <name>Date_AppRecvdDate</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE(RIGHT({!Text_GetOnlyDate_AppRecvdDate}, 4)),VALUE(MID({!Text_GetOnlyDate_AppRecvdDate}, 4,2)), VALUE(LEFT({!Text_GetOnlyDate_AppRecvdDate},2)))</expression>
    </formulas>
    <formulas>
        <name>Number_CreditScore</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Text_LiquidCreditScore})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemovedDollarfromAmount</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Text_SBAAppovedAmount}, &quot;$&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RemoveDollarFromFees</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE ({!Text_GuranteeFeesAmount}, &quot;$&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Text_GetOnlyDate_AppApporvedDate</name>
        <dataType>String</dataType>
        <expression>LEFT({!Text_AppApprovedDate}, 10)</expression>
    </formulas>
    <formulas>
        <name>Text_GetOnlyDate_AppRecvdDate</name>
        <dataType>String</dataType>
        <expression>LEFT({!Text_AppRecvdDate}, 10)</expression>
    </formulas>
    <interviewLabel>eTran From Loan OrigUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>eTran From Loan OrigUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eTran_Service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan.LLC_BI__Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>1304</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValidUSer_Loan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCreds</name>
        <label>getCreds</label>
        <locationX>798</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasCreds</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_SFUsername__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EtranCredential__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_App</name>
        <label>Update App</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Application</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1810</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Error : Facility should be SBA 7(a) to proceed furthur.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error</label>
        <locationX>1282</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Error: Please select Reset Pin to configure credentials before proceeding further.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0</name>
        <label>Fault Screen</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMsg_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0</name>
        <label>Fault Screen</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMsg_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0_0</name>
        <label>Fault Screen</label>
        <locationX>1546</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMsg_0_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_0_0_0_0</name>
        <label>Fault Screen</label>
        <locationX>2074</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMsg_0_0_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Application Number&lt;/b&gt;: {!Get_Application.nSBA__Application_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Application.nSBA__Application_Number__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Application.nSBA__Application_Number__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SBALoanNumText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;SBA Loan Number&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!Get_Application.nSBA__SBA_Loan_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Application.nSBA__SBA_Loan_Number__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Errors&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!errors}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errors</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SynopsisText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Synopsis&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!synopsis}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>synopsis</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sbaLoanNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>synopsis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Text_AppApprovedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Text_ApplicationStatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Text_AppRecvdDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Text_GuranteeFeesAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Text_LiquidCreditScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Text_SBAAppovedAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
